<%- title "Help | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>

<div class="container">

	<div class="center">
		<h1 style="font-size:40px;"><strong>Buyer Help</strong></h1>
	</div>

	<hr>

	<div class="row-fluid">

		<div class="span8">

			<h2><strong>Contents</strong></h2>

			<ul>
				<li><a href="#overview">Overview</a></li>
				<li><a href="#yourBusiness">Your Business</a></li>
				<li><a href="#yourAccount">Your Account</a></li>
				<li><a href="#suppliers">Suppliers</a></li>
				<li><a href="#products">Products</a></li>
				<li><a href="#search">Search</a></li>
				<li><a href="#favorites">Favorites</a></li>
				<li><a href="#feedback">Feedback</a></li>
			</ul>

			<hr>

			<h3 id="overview"><strong>Overview</strong></h3>

			<p>We're constantly growing and improving LandSpec Pro to better suit your needs. You can come here for help and tips on taking full advantage of LandSpec Pro as you are using it. This section will also grow and improve as we add more features to the site. Your feedback is important to us, if you have any suggestions or questions feel free to send them to us using the feedback button at the bottom of every page.</p>

			<hr>

			<h3 id="yourBusiness"><strong>Your Business</strong></h3>

			<p>At LandSpec Pro we've split up the way you manage your account so as we grow we can keep things organized easier for you. You can use the "Company" tab to manage your business. For now we've kept it simple by allowing you a company logo, name, tagline, and phone number. The phone number for your company is just our way to keep in touch and verify our user base to make sure we only let in landscape professionals, this number will never be made public.</p>

			<p>Our focus initially is on finding featured items and suppliers easier and faster. The information you provide about your company is not public at the moment, but we have plans in the near future to give buyers a profile as well. We would love to get feedback from you about what you would want those profiles to include, so feel free to use the feedback button below and let us know.</p>

			<hr>

			<h3 id="yourAccount"><strong>Your Account</strong></h3>

			<p>The account page is also very simple. In the future there will be many more options, but for now this is a simple way to access and update your username, email address, and password. Your account information is for personal use and none of this information will be visible on your profile either.</p>

			<hr>

			<h3 id="managingLocations"><strong>Suppliers</strong></h3>

			<p>As you'll see, we've included each supplier's most basic information like their company name, logo, contact info and location. These suppliers are the backbone of the content you'll find on LandSpec Pro.</p>

			<hr>

			<h3 id="featuredItems"><strong>Products</strong></h3>

			<p>The main focus of LandSpec Pro is the content that our suppliers provide. We put visual information up front so you can see everything first. We are personally curating this content to make sure that suppliers are featuring high-quality images and content that is always up to date.</p>

			<p>Instead of giving you lists of hundreds of items to sort through, we're putting featured items up front. You probably know where to get all the bread-and-butter items for your landscaping products, but it's those specialty items that really make a landscape stand out, so we're putting the focus on the items that not everyone can find.</p>

			<p>We don't tell suppliers what they can and can't feature, but we encourage users to display items that are special for various reasons, be it a rare breed, a unique size, a custom made product, or even discounts on more common items. Any product can be special and we're making it easy for you to find those items on LandSpec Pro.</p>
			
			<hr>
			
			<h3 id="search"><strong>Search</strong></h3>

			<p>This is how you will find suppliers and featured items on LandSpec Pro. We're still spending a lot of time improving this and giving you the best way to discover and reach out to suppliers. You can search for suppliers or for products at the moment by name or location, as well as simply browsing all the products and suppliers currently on LandSpec Pro.</p>

			<p>If you have any suggestions to help improve the way users search and find products and suppliers, please feel free to drop us some feedback below!</p>

			<hr>

			<h3 id="favorites"><strong>Favorites</strong></h3>

			<p>Favorites are our way of letting users keep track of their favorite products and suppliers so they can come back and check up on them later. Expect to see a lot of features added here in the future as well.</p>

			<hr>

			<h3 id="feedback"><strong>Feedback</strong></h3>

			<p>Our feedback form is located at the bottom of every page on LandSpec Pro, to allow you to easily let us know what you think. Feel free to send in any and all comments and suggestions you have for the site. Your feedback will help us grow and become more useful for the entire landscape community.</p>

			<p>If you're viewing this site on a mobile phone or tablet you can use the "Contact Us" link at the bottom of the page to send us feedback.</p>

			<hr>

			<a href="#top" class="pull-right">Back to Top</a>
		</div>

		<div class="span4">
			<h2><strong class="pull-right">Helpful Links</strong></h2><br/><br/>
			<a href="<%= account_company_url %>" class="pull-right">Update your company information</a><br/>
			<a href="<%= account_url %>" class="pull-right">Update your account information</a><br/>
			<a href="<%= account_company_url %>" class="pull-right">Add a company logo</a><br/>
			<a href="<%= search_supplier_url %>" class="pull-right">Search for Suppliers</a><br/>
			<a href="<%= search_product_url %>" class="pull-right">Search for Products</a><br/>				
			<a data-toggle="modal" href="#feedbackModal" class="pull-right">Send us Feedback</a><br/>

<!-- #publicprofiles
			<br/><br/><br/>

			<h2><strong class="pull-right">What's New</strong></h2><br/><br/>
			<div class="row-fluid">
				<div class="span7 offset5">
					<strong class="pull-right"><a href="#">Public Profiles:</a></strong><br/>
					<p style="text-align: right;">Suppliers now have public profiles. When you're viewing a supplier's location page, look for a link in the top that will take you to their public profile. From there you can like the page on facebook, or share the supplier with other people that might be interested in it.</p>
				</div>
			</div>
-->
			<br/><br/>
		</div>

	</div>
</div>

<%= render 'layouts/sidebarend' %>