<table id="table_report" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="center">Common Name</th>
			<th class="center">Latin Name</th>
			<th class="center">Supplier</th>
			<th class="hidden-phone center">Size</th>
			<th class="hidden-phone center">Price</th>
			<th class="hidden-phone center">Image</th>
			<th class="center">Favorite</th>
		</tr>
	</thead>
							
	<tbody>

		<% @favproducts.each do |fi| %>
		
			<tr>
					<td class="center">
						<a href="#<%= fi.product.commonName %>" data-rel="popover" data-content="<%= 
							unless fi.featured_item.description.blank?
								fi.featured_item.description.gsub(/\n/,'<br/>').html_safe 
							else
								'No description available'
							end
							%>" data-placement="bottom" data-trigger="hover"><%= fi.product.commonName %></a>
					</td>
					<td class="center">
						<%= fi.product.latinName %>
					</td>
					<td class="center">
						<a href=<%= locations_view_url(:id => fi.featured_item.location_id) %>>
							<%= Location.find(fi.featured_item.location_id).bus_vendor.busName %>
						</a>
					</td>
					<td class='hidden-phone center'>
						<%= fi.featured_item.size %>
					</td>
					<td class='hidden-phone center'>
						<% if fi.featured_item.price.to_s != '' %>
							<%= "$%8.2f" % fi.featured_item.price.to_f %>
						<% end %>
					</td>
					<td class='hidden-phone center'>
						<%= link_to '<i class="icon-picture"></i>'.html_safe, ProductImage.find(fi.featured_item.product_image_id).image.url(:original), :title => fi.product.commonName, :data => {:rel => "colorbox"} %>
					</td>
					<td class="center">
						<% if fi.featured_item.is_favorited(current_user) %>
							<a title="Remove from favorites" href=<%= products_favorite_set_url(:id => fi.featured_item.id) %>><i  class="icon-bookmark" id="fav_icon"></i></a>
						<% else %>
							<a title="Add to favorites"  href=<%= products_favorite_set_url(:id => fi.featured_item.id) %>><i  class="icon-bookmark-empty" id="fav_icon"></i></a>
						<% end %>
					</td>
				</tr>
		<% end %>

	</tbody>

</table>

<script type="text/javascript">

	$('#table_report').dataTable( {
		"aoColumns": [
			{"bSortable": true},
			{"bSortable": true},
			{"bSortable": true},
			{"bSortable": true},
			{"bSortable": true, "bSearchable": false, "sDefaultContent": "?"},
			{"bSortable": false, "bSearchable": false},
			{"bSortable": false, "bSearchable": false}
		]
	});

</script>