
<br/>
<% @favproducts.each do |fp| %>

			<% fi = fp.featured_item %>
			<ul class="ace-thumbnails">
				
				<li>
					<div>
						<%= image_tag fi.get_image.url, :title => fi.get_product.commonName %>

						<% if fi.is_favorited(current_user) %>
							<div class="tags">
								<span class="label label-info arrowed">Favorited!</span>
							</div>
						<% end %>

						<div class="text">
							<div class="inner">

								<span>
									<p style="font-size:18px;">
										<%= fi.get_product.commonName %>
									</p>
								</span>

								<% unless Location.find(fi.location_id).distance_from(@setlocation).to_s == 'NaN' %>
									<span><p style="font-size:15px;"><%= "%8.1f" % Location.find(fi.location_id).distance_from(@setlocation) %> miles away</p></span>
								<% end %>

								<a href="<%= fi.get_image.url(:original) %>" data-rel="colorbox" title="<%= fi.get_product.commonName %>">
									<i class="icon-zoom-in"></i>
								</a>

								<% if fi.is_favorited(current_user) %>
									<a title="" class="tooltip-success" data-placement="bottom" data-original-title="Remove From Favorites" id="fav_product" href=<%= products_favorite_set_url(:id => fi.id) %>><i  class="icon-bookmark" id="fav_icon"></i></a>
								<% else %>
									<a title="" class="tooltip-success" data-placement="bottom" data-original-title="Add To Favorites" id="fav_product" href=<%= products_favorite_set_url(:id => fi.id) %>><i  class="icon-bookmark-empty" id="fav_icon"></i></a>
								<% end %>

								<% if Location.find(fi.location_id).active %>
									<a title="" class="tooltip-success" data-placement="bottom" data-original-title="View Location" href=<%= locations_view_url(:id => fi.location_id) %>>
										<i class="icon-globe"></i>
									</a>
								<% end %>
								
								<% @featureditem = fi %>
								<a title="" class="tooltip-success" data-placement="bottom" data-original-title="More Info" href="<%= '#' + @featureditem.id.to_s + 'productInfoModal' %>" data-toggle="modal">
									<i class="icon-info-sign"></i>
								</a>
							</div>
						</div>
					</div>
				</li>

			</ul>

			<%= render 'products/productinfomodal' %>

<% end %>

<% @favproductsinactive.each do |fp| %>

	<% fi = fp.featured_item %>

	<ul class="ace-thumbnails">
		
		<li>
			<div>
				<%= image_tag fi.get_image.url, :title => fi.get_product.commonName %>

				<% if fi.is_favorited(current_user) %>
					<div class="tags">
						<span class="label label-info arrowed">Favorited!</span>
					</div>
				<% end %>

				<div class="text">
					<div class="inner">

						<span>
							<p style="font-size:18px;">
								<%= fi.get_product.commonName %>
							</p>
						</span>

						<% unless Location.find(fi.location_id).distance_from(@setlocation).to_s == 'NaN' %>
							<span><p style="font-size:15px;"><%= "%8.1f" % Location.find(fi.location_id).distance_from(@setlocation) %> miles away</p></span>
						<% end %>

						<a href="<%= fi.get_image.url(:original) %>" data-rel="colorbox" title="<%= fi.get_product.commonName %>">
							<i class="icon-zoom-in"></i>
						</a>

						<% if fi.is_favorited(current_user) %>
							<a title="" class="tooltip-success" data-placement="bottom" data-original-title="Remove From Favorites" id="fav_product" href=<%= products_favorite_set_url(:id => fi.id) %>><i  class="icon-bookmark" id="fav_icon"></i></a>
						<% else %>
							<a title="" class="tooltip-success" data-placement="bottom" data-original-title="Add To Favorites" id="fav_product" href=<%= products_favorite_set_url(:id => fi.id) %>><i  class="icon-bookmark-empty" id="fav_icon"></i></a>
						<% end %>

						<% if Location.find(fi.location_id).active %>
							<a title="" class="tooltip-success" data-placement="bottom" data-original-title="View Location" href=<%= locations_view_url(:id => fi.location_id) %>>
								<i class="icon-globe"></i>
							</a>
						<% end %>
					</div>
				</div>
			</div>
		</li>

	</ul>




<% end %>

<div class="row"></br></div>