<%= render 'layouts/sidebar' %>

	<div class="span8 offset1">
		<div class="table-header header-color-green">
			You have <%= @favproducts.count %> Favorite Products
		</div>

		<% if params[:view] == 'list' %>
			<%= render 'productslistview' %>
		<% elsif params[:view] == 'grid' %>
			<%= render 'productsgridview' %>
		<% end %>
	</div>


<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyColorbox());
	$(applyPopovers());

</script>
