<%= render 'layouts/sidebar' %>

<div class="row-fluid">

	<!-- Search Sidebar -->
	<div class="span3">
		<%= render 'search/layouts/sidebar' %>
	</div>


	<div class="span9">

		<div id="updateSearchProgress" class="progress progress-success progress-striped active hide" data-percent="Updating Results...">
			<div class="bar" style="width:100%;"></div>
		</div>

		<% if params[:result_count] == 0 %>
			<%= render 'search/layouts/no_results' %>
		<% elsif params[:view] == 'list' %>
			<%= render 'search/layouts/product_results_list' %>
		<% else %>
			<%= render 'search/layouts/product_results_grid' %>
		<% end %>
	</div>

</div>



<%= render 'layouts/sidebarend' %>


<script type="text/javascript">

	function updateSearch(){
		// Show progress bar
		$('#updateSearchProgress').show();
	}

	function search(){
		// Show progress bar
		$('#searchProgress').show();
	}

	$(applyColorbox());
	$(applyPopovers());
	$(applyChosenStyle());

</script>