<%= render 'layouts/sidebar' %>

<div class="row-fluid">

	<!-- Search Sidebar -->
	<div class="span3">
		<%= render 'search/layouts/sidebar' %>
	</div>


	<div class="span9">
		<% if params[:view] == 'list' %>
			<%= render 'search/layouts/product_results_list' %>
		<% else %>
			<%= render 'search/layouts/product_results_grid' %>
		<% end %>
	</div>




</div>



<%= render 'layouts/sidebarend' %>


<script type="text/javascript">

	$(applyColorbox());
	$(applyPopovers());
	$(applyChosenStyle());

</script>