<%= render 'layouts/sidebar' %>

<style>

	#search-bar-row{
		margin-bottom: -70px;
	}

	@media (max-width: 979px) {
		#search-bar-row{
			margin-bottom: 0;
		}
	}

	@media (max-width: 767px) {
		#search-bar-row{
			margin-bottom: 0;
		}
		
	}

</style>

<div class="row-fluid" id="search-bar-row" >

	<!-- Search Sidebar -->
	<div class="span12">
		<%= render 'search/layouts/sidebar' %>
	</div>

</div>

<div class="row-fluid" style="margin-top:0;">

	<div class="span12">

		<div id="updateSearchProgress" class="progress progress-success progress-striped active hide" data-percent="Updating Results...">
			<div class="bar" style="width:100%;"></div>
		</div>
		
		<% if params[:result_count] == 0 %>
			<%= render 'search/layouts/no_results' %>
		<% elsif params[:view] == 'list' %>
			<%= render 'search/layouts/supplier_results_list' %>
		<% else %>
			<%= render 'search/layouts/supplier_results_map' %>
		<% end %>

	</div>

</div>

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	function updateSearch(){
		// Show progress bar
		$('#updateSearchProgress').show();
	}

	function search(){
		// Show progress bar
		$('#searchProgress').show();
	}

	$(applyColorbox());
	$(applyPopovers());
	$(applyChosenStyle());
	

</script>