<div class="widget-box">

	<div class="widget-header header-color-green2">
		<% if params[:query].blank? %>
			<h5 class="lighter">Results - Page <%= params[:page] %> of <%= last_page_number %></h5>
		<% else %>
			<h5 class="lighter"><%= params[:result_count] %> Results for <%= params[:query] %></h5>
		<% end %>

		<div class="widget-toolbar">

			<div class="dropdown">
				<button class="btn btn-xs bigger btn-inverse dropdown-toggle" data-toggle="dropdown">
					List View
					<i class="icon-angle-down icon-on-right"></i>
				</button>

				<ul id="viewDropdown" class="dropdown-menu dropdown-yellow pull-right dropdown-caret dropdown-close">
					<li>
						<a href="<%= change_view_url('product', 'list') %>" onclick="updateSearch();">
							<i class="icon-ok"></i>
							&nbsp;List View
						</a>
					</li>
					<li>
						<a href="<%= change_view_url('product', 'alt') %>" onclick="updateSearch();">
							&nbsp;Grid View
						</a>
					</li>
				</ul>
			</div>

			<div class="dropdown">
				<button class="btn btn-xs bigger btn-inverse dropdown-toggle" data-toggle="dropdown">
					<% if params[:per_page].to_i == 10 %>
						10 Per Page
					<% elsif params[:per_page].to_i == 15 %>
						15 Per Page
					<% elsif params[:per_page].to_i == 25 %>
						25 Per Page
					<% elsif params[:per_page].to_i == 50 %>
						50 Per Page
					<% else %>
						Results Per Page
					<% end %>
					<i class="icon-angle-down icon-on-right"></i>
				</button>

				<ul id="resultsPerPage" class="dropdown-menu dropdown-yellow pull-right dropdown-caret dropdown-close">
					<li>
						<a href="<%= per_page_url('product', '10') %>" onclick="updateSearch();">
							<% if params[:per_page].to_i == 10 %><i class="icon-ok"></i><% end %>
							&nbsp;10 Per Page
						</a>
					</li>
					<li>
						<a href="<%= per_page_url('product', '15') %>" onclick="updateSearch();">
							<% if params[:per_page].to_i == 15 %><i class="icon-ok"></i><% end %>
							&nbsp;15 Per Page
						</a>
					</li>
					<li>
						<a href="<%= per_page_url('product', '25') %>" onclick="updateSearch();">
							<% if params[:per_page].to_i == 25 %><i class="icon-ok"></i><% end %>
							&nbsp;25 Per Page
						</a>
					</li>
					<li>
						<a href="<%= per_page_url('product', '50') %>" onclick="updateSearch();">
							<% if params[:per_page].to_i == 50 %><i class="icon-ok"></i><% end %>
							&nbsp;50 Per Page
						</a>
					</li>
				</ul>
			</div>

			<div class="dropdown">
				<button class="btn btn-xs bigger btn-inverse dropdown-toggle" data-toggle="dropdown">
					<% if params[:sort] == 'dist_asc' %>
						Sort By - Closest First
					<% elsif params[:sort] == 'dist_desc' %>
						Sort By - Farthest First
					<% elsif params[:sort] == 'name_asc' %>
						Sort By - Product Name (A to Z)
					<% elsif params[:sort] == 'name_desc' %>
						Sort By - Product Name (Z to A)
					<% elsif params[:sort] == 'busname_asc' %>
						Sort By - Business Name (A to Z)
					<% elsif params[:sort] == 'busname_desc' %>
						Sort By - Business Name (Z to A)
					<% else %>
						Sort By
					<% end %>
					<i class="icon-angle-down icon-on-right"></i>
				</button>

				<ul class="dropdown-menu dropdow-yellow pull-right dropdown-caret dropdown-close">
					<li>
						<a href="<%= sort_by_url('product', 'dist_asc') %>" onclick="updateSearch();">
							<% if params[:sort] == 'dist_asc' %><i class="icon-ok"></i><% end %>
							&nbsp;Closest First
						</a>
					</li>
					<li>
						<a href="<%= sort_by_url('product', 'dist_desc') %>" onclick="updateSearch();">
							<% if params[:sort] == 'dist_desc' %><i class="icon-ok"></i><% end %>
							&nbsp;Farthest First
						</a>
					</li>
					<li>
						<a href="<%= sort_by_url('product', 'name_asc') %>" onclick="updateSearch();">
							<% if params[:sort] == 'name_asc' %><i class="icon-ok"></i><% end %>
							&nbsp;Product Name (A to Z)
						</a>
					</li>
					<li>
						<a href="<%= sort_by_url('product', 'name_desc') %>" onclick="updateSearch();">
							<% if params[:sort] == 'name_desc' %><i class="icon-ok"></i><% end %>
							&nbsp;Product Name (Z to A)
						</a>
					</li>
					<li>
						<a href="<%= sort_by_url('product', 'busname_asc') %>" onclick="updateSearch();">
							<% if params[:sort] == 'busname_asc' %><i class="icon-ok"></i><% end %>
							&nbsp;Business Name (A to Z)
						</a>
					</li>
					<li>
						<a href="<%= sort_by_url('product', 'busname_desc') %>" onclick="updateSearch();">
							<% if params[:sort] == 'busname_desc' %><i class="icon-ok"></i><% end %>
							&nbsp;Business Name (Z to A)
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<div class="widget-body">
		<div class="widget-main no-padding">

			<% if last_page_number > 1 %>

				<div class="row">
					<div class="col-xs-12">
						<%= render 'search/layouts/product_paginate_links' %>
					</div>
				</div>

			<% end %>

			<table id="searchResultsProductList" class="table table-striped table-bordered table-hover">
				
				<thead>
					<tr>
						<th class="center">Product Name</th>
						<th class="center">Supplier</th>
						<th class="center">Distance Away (miles)</th>
						<th class="center hidden-480">Size</th>
						<th class="center hidden-480">Price</th>
					</tr>
				</thead>

				<tbody>

					<% @featured_items.each do |fi| %>
						<tr>
							<td class="center">
								<span class="tooltip-info" data-rel="tooltip" data-original-title="View Larger" data-placement="top">
									<a href="<%= fi.get_image.url(:original) %>" title="<%= fi.commonName %>" class="colorbox-result colorbox">
										<%= fi.commonName %>
									</a>
								</span>
							</td>
							<td class="center">
								<a href="<%= locations_view_url(:id => fi.get_location.id) %>" class="tooltip-info" data-rel="tooltip" data-original-title="View Profile" data-placement="top">
									<%= fi.busName %>
								</a>
							</td>
							<td class="center">
								<%= "%5.2f" % fi.distance_from(params[:location]).to_f %>
							</td>
							<td class="center hidden-480">
								<%= fi.size %>
							</td>
							<td class="center hidden-480">
								<% unless fi.price.blank? or fi.price < 0.01 %>
									<%= '$%8.2f' % fi.price %>
								<% end %>
							</td>
						</tr>
						
					<% end %>

				</tbody>

			</table>

		</div>
	</div>

</div>