<style>
	@media (max-width: 979px) {
		.col-md-3{
			margin-bottom:10px;
		}
	}
</style>

<div class="widget-box">

	<div class="widget-header header-color-green2">
		<h5 class="lighter">Search Bar</h5>
	</div>

	<div class="widget-body">
		<div class="widget-main">

			<%= form_tag @path, :method => 'get' do %>

				<%= hidden_field_tag :search_type, controller.action_name %>
				<%= hidden_field_tag :sort, params[:sort] %>
				<%= hidden_field_tag :per_page, params[:per_page] %>
				<%= hidden_field_tag :view, params[:view] %>

				<!-- Search Box 
						- Need to change to CHZN dropdown and set up with another render so that a different box is rendered
						  depending on if this is the supplier or product search.
				-->

				<div class="row">

					<!-- Search Query -->
					<div class="col-md-3 col-xs-12">

						<% if controller.action_name == 'supplier' %>
							<label class="lbl" for="distance_from">By Company Name</label>
							<%= render 'search/layouts/supplier_search_box' %>
						<% elsif controller.action_name == 'product' %>
							<label class="lbl" for="distance_from">By Item Name</label>
							<%= render 'search/layouts/product_search_box' %>
						<% end %>

						<%= submit_tag "Search", :class => "btn btn-success btn-sm btn-block", :onclick => "search();" %>


					</div>

					<!-- Use Location -->
					<div class="col-md-3 col-xs-12">

						<label class="lbl" for="distance_from">Location</label>

						<% if params[:current_location] %>
							<input id='location' name='location' type='text' class='input form-control center' placeholder="Location to search from..." value="<%= params[:location] %>" readonly="readonly" />
						<% else %>
							<input id='location' name='location' type='text' class='input form-control center' placeholder="Location to search from..." value="<%= params[:location] %>" />
						<% end %>

						<br/>

						<div class="center">
							<% if params[:current_location] %>
								<input class="ace" type="checkbox" id="current_location" name="current_location" checked>
							<% else %>
								<input class="ace" type="checkbox" id="current_location" name="current_location">
							<% end %>
							<label class="lbl" for="current_location" data-rel="popover" data-placement="right" data-container="body" data-trigger="hover" data-content="Selecting this will use geolocation to determine an approximate location to use for searching. To search more precisely, or to search in a different area, just type in an address or city below." data-title="Search by Location"> Use My Location</label>
						</div>
					</div>

					<!-- Distance Away -->
					<div class="col-md-3 col-xs-12">

						<label class="lbl" for="distance_from">Max Miles Away</label>
					<% if params[:distance_from].blank? or params[:distance_from].to_i > 9000 %>
						<input id='distance_from' name='distance_from' type='text' class='input form-control center' placeholder="Any Distance" />
					<% else %>
						<input id='distance_from' name='distance_from' type='text' class='input form-control center' value="<%= params[:distance_from] %>" />
					<% end %>

					</div>

					<!-- Categories -->
					<div class="col-md-3 col-xs-12">
						<% if controller.action_name == 'supplier' %>
							<label class="lbl" for="categories">Filter by Categories</label>

							<div class="block input-icon input-icon-right">
								<select id="categories[]" name="categories[]" class="chzn-select input-large form-control" multiple="multiple" data-placeholder="Leave blank to search all categories...">

									<% if params[:categories].blank? %>
										<option style="font-weight:bold;">Supplier Types</option>
									<% elsif params[:categories].include? 'Supplier Types' %>
										<option style="font-weight:bold;" selected="selected">Supplier Types</option>
									<% else %>
										<option style="font-weight:bold;">Supplier Types</option>
									<% end %>

									<% Category.where(:active => true, :parent_id => 3).order('"cat_name" ASC').each do |cat| %>

										<% if CategoryToLocation.where(:category_id => cat.id).count > 0 %>
											<% if params[:categories].blank? %>
												<option><%= cat.cat_name %></option>
											<% elsif params[:categories].include? cat.cat_name %>
												<option selected="selected"><%= cat.cat_name %></option>
											<% else %>
												<option><%= cat.cat_name %></option>
											<% end %>
										<% end %>

									<% end %>

									<% if params[:categories].blank? %>
										<option style="font-weight:bold;">Plants</option>
									<% elsif params[:categories].include? 'Plants' %>
										<option style="font-weight:bold;" selected="selected">Plants</option>
									<% else %>
										<option style="font-weight:bold;">Plants</option>
									<% end %>

									<% Category.where(:active => true, :parent_id => 1).order('"cat_name" ASC').each do |cat| %>

										<% if CategoryToLocation.where(:category_id => cat.id).count > 0 %>
											<% if params[:categories].blank? %>
												<option><%= cat.cat_name %></option>
											<% elsif params[:categories].include? cat.cat_name %>
												<option selected="selected"><%= cat.cat_name %></option>
											<% else %>
												<option><%= cat.cat_name %></option>
											<% end %>
										<% end %>

									<% end %>

									<% if params[:categories].blank? %>
										<option style="font-weight:bold;">Materials</option>
									<% elsif params[:categories].include? 'Materials' %>
										<option style="font-weight:bold;" selected="selected">Materials</option>
									<% else %>
										<option style="font-weight:bold;">Materials</option>
									<% end %>

									<% Category.where(:active => true, :parent_id => 2).order('"cat_name" ASC').each do |cat| %>

										<% if CategoryToLocation.where(:category_id => cat.id).count > 0 %>
											<% if params[:categories].blank? %>
												<option><%= cat.cat_name %></option>
											<% elsif params[:categories].include? cat.cat_name %>
												<option selected="selected"><%= cat.cat_name %></option>
											<% else %>
												<option><%= cat.cat_name %></option>
											<% end %>
										<% end %>

									<% end %>
								</select>

							</div>
						<% end %>
						
					</div>

				</div>

			<% end %>

		</div>
	</div>

</div>

<div clas="row">
	<div class="col-xs-12">
		<div id="searchProgress" class="progress progress-striped active hide" data-percent="Searching...">
			<div class="progress-bar progress-bar-success" style="width:100%;"></div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$('#current_location').change(function(){
		if(document.getElementById('current_location').checked){
			$('#location').attr('readonly', 'readonly');
		}	
		else{
			$('#location').attr('readonly', false);
		}
	});


</script>