<div class="widget-box">

	<div class="widget-header header-color-green2">
		<% if params[:query].blank? %>
			<h5 class="lighter">Results - Page <%= params[:page] %> of <%= last_page_number %></h5>
		<% else %>
			<h5 class="lighter"><%= params[:result_count] %> Results for <%= params[:query] %></h5>
		<% end %>

		<div class="widget-toolbar">
			<button class="btn btn-mini bigger btn-success dropdown-toggle" data-toggle="dropdown">
				<% if params[:sort] == 'dist_asc' %>
					Sort By - Distance Asc.
				<% elsif params[:sort] == 'dist_desc' %>
					Sort By - Distance Desc.
				<% elsif params[:sort] == 'name_asc' %>
					Sort By - Business Name Asc.
				<% elsif params[:sort] == 'name_desc' %>
					Sort By - Business Name Desc.
				<% else %>
					Sort By
				<% end %>
				<i class="icon-angle-down icon-on-right"></i>
			</button>

			<ul class="dropdown-menu dropdow-yellow pull-right dropdown-caret dropdown-close">
				<li>
					<a href="<%= sort_by_url('supplier', 'dist_asc') %>">
						<% if params[:sort] == 'dist_asc' %><i class="icon-ok"></i><% end %>
						&nbsp;Distance Asc.
					</a>
				</li>
				<li>
					<a href="<%= sort_by_url('supplier', 'dist_desc') %>">
						<% if params[:sort] == 'dist_desc' %><i class="icon-ok"></i><% end %>
						&nbsp;Distance Desc.
					</a>
				</li>
				<li>
					<a href="<%= sort_by_url('supplier', 'name_asc') %>">
						<% if params[:sort] == 'name_asc' %><i class="icon-ok"></i><% end %>
						&nbsp;Business Name Asc.
					</a>
				</li>
				<li>
					<a href="<%= sort_by_url('supplier', 'name_desc') %>">
						<% if params[:sort] == 'name_desc' %><i class="icon-ok"></i><% end %>
						&nbsp;Business Name Desc.
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="widget-body">
		<div class="widget-main no-padding">

			<% if last_page_number > 1 %>

				<div class="row-fluid">
					<%= render 'search/layouts/supplier_paginate_links' %>
				</div>

			<% end %>

			<table id="searchResultsSupplierList" class="table table-striped table-bordered table-hover">
				
				<thead>
					<tr>
						<th class="center hidden-phone">Logo</th>
						<th class="center">Business Name</th>
						<th class="center">Address</th>
						<th class="center">Distance Away (miles)</th>
						<th class="center">Favorite</th>
					</tr>
				</thead>

				<tbody>

					<% @locations.each do |l| %>
						<tr>
							<td class="center hidden-phone">
								<a href="<%= locations_view_url(:id => l.id) %>" title="" class="tooltip-info" data-rel="tooltip" data-original-title="View Profile" data-placement="bottom">
									<%= image_tag l.bus_vendor.logo.url(:smthumb), :width => '50px', :height => '50px', :style => 'min-width:50px; min-height:50px;' %>
								</a>
							</td>
							<td class="center">
								<a href="<%= locations_view_url(:id => l.id) %>" title="" class="tooltip-info" data-rel="tooltip" data-original-title="View Profile" data-placement="bottom">
									<%= l.busName %>
								</a>
							</td>
							<td class="center">
								<%= link_to l.get_full_address, get_map_link_from_address(concat_address(l)), :target => "_blank", :title => "", :class => 'tooltip-info', :data => { :rel => 'tooltip', :original_title => 'View on Map', :placement => 'bottom' } %>
							</td>
							<td class="center"><%= "%5.2f" % l.distance_from(params[:location]).to_f %></td>
							<td class="center">
								<% if l.is_favorited(current_user) %>
									<a href=<%= locations_favorite_set_url(:id => l.id) %> title="" class="tooltip-info" data-rel="tooltip" data-original-title="Remove From Favorites" data-placement="bottom">
										<i  class="icon-bookmark" id="fav_icon"></i>
									</a>
								<% else %>
									<a href=<%= locations_favorite_set_url(:id => l.id) %> title="" class="tooltip-info" data-rel="tooltip" data-original-title="Add To Favorites" data-placement="bottom">
										<i  class="icon-bookmark-empty" id="fav_icon"></i>
									</a>
								<% end %>
							</td>
						</tr>
						
					<% end %>

				</tbody>

			</table>

		</div>
	</div>

</div>

<%= javascript_tag do %>

	window.sort_distance_asc = <%= j search_supplier_url(:page => (params[:page].to_i + 1), :per_page => params[:per_page], :query => params[:query], :view => params[:view], :current_location => params[:current_location], :distance_from => params[:distance_from], :location => params[:location], :sort => 'dist_asc') %>;

	window.sort_distance_desc = <%= j search_supplier_url(:page => (params[:page].to_i + 1), :per_page => params[:per_page], :query => params[:query], :view => params[:view], :current_location => params[:current_location], :distance_from => params[:distance_from], :location => params[:location], :sort => 'dist_desc') %>;

<% end %>
