<%= render 'layouts/sidebar' %>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="center">

                <table id="userTable" class="table table-striped table-bordered table-hover">
                    <thead>

                        <tr>
                            <th class="center" colspan="2">
                                <h2><strong><%= @user.login %></strong></h2>
                                <div class="badge badge-success"><%= @user.userType %></div>
                                <div class="badge badge-primary"><%= 'id: ' + @user.id.to_s %></div>
                                <% if @user.verified %>
                                    <div class="badge badge-success">Verified</div>
                                <% else %>
                                    <div class="badge badge-important">Not Verified</div>
                                <% end %>

                                <br/><br/>

                                <% if @user.is_email_verified %>
                                    <div class="badge badge-success">User Has Verified Email</div>
                                <% else %>
                                    <div class="badge badge-important">User Has NOT Verified Email</div>
                                <% end %>

                                <br/><br/>

                                <a href="<%= admin_signinas_url(:id => @user.id) %>" class="btn btn-xs btn-inverse">Click to Sign In as User</a>

                            </th>
                        </tr>

                        <tr>
                            <th class="center" colspan="2">
                                <% if @user.active %>
                                    <a href="<%= admin_user_deactivate_url(:id => @user.id, :redirect_url => admin_user_view_url(:id => @user.id)) %>" class="btn btn-block btn-primary">De-activate User</a>
                                <% else %>
                                    <a href="<%= admin_user_activate_url(:id => @user.id, :redirect_url => admin_user_view_url(:id => @user.id)) %>" class="btn btn-block btn-danger">Activate User</a>
                                <% end %>
                                <% if @user.verified %>
                                    <a href="<%= admin_user_verify_url(:id => @user.id, :newvalue => false, :redirect_url => admin_user_view_url(:id => @user.id)) %>" class="btn btn-block btn-primary">Un-Verify User</a>
                                <% else %>
                                    <a href="<%= admin_user_verify_url(:id => @user.id, :newvalue => true, :redirect_url => admin_user_view_url(:id => @user.id)) %>" class="btn btn-block btn-danger">Verify User</a>
                                <% end %>
                            </tr>
                        </tr>

                    </thead>
                    <tbody>

                        <!-- Username and Email -->
                        <tr>
                            <td class="center">
                                <strong>Username:</strong> <%= @user.login %>
                            </td>
                            <td class="center">
                                <strong>Email:</strong> <%= @user.email %>
                            </td>
                        </tr>

                        <!-- Login Count and Last Login -->
                        <tr>
                            <td class="center">
                                <strong>Login Count:</strong> <%= @user.login_count.to_s %>
                            </td>
                            <td class="center">
                                <strong>Last Login At:</strong> <%= format_datetime_or_return_blank(@user.last_login_at, nil) %>
                            </td>
                        </tr>

                        <!-- Created and Updated At -->
                        <tr>
                            <td class="center">
                                <strong>Created At:</strong> <%= format_datetime_or_return_blank(@user.created_at, nil) %>
                            </td>
                            <td class="center">
                                <strong>Updated At:</strong> <%= format_datetime_or_return_blank(@user.updated_at, nil) %>
                            </td>
                        </tr>

                        <!-- COMPANY INFO -->
                        <% unless @user.user_detail.blank? %>

                            <% @userdetail = @user.user_detail %>
                            <tr>
                                <td class="center" colspan="2">
                                    <h3><strong>Company Information</strong></h3>
                                    <div class="badge badge-primary"><%= 'User Detail ID: ' + @userdetail.id.to_s %></div>
                                    <% if @user.is_supplier %>
                                        <div class="badge badge-success"><%= @userdetail.locations.count.to_s + ' location(s)' %></div>
                                    <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <strong>Company Name: </strong> <%= @userdetail.company_name %>
                                </td>
                                <td class="center">
                                    <strong>Company Type: </strong> <%= @userdetail.user_category %>
                                </td>
                            </tr>

                            <tr>
                                <td class="center">
                                    <strong>Name: </strong> <%= @userdetail.first_name %>&nbsp;<%= @userdetail.last_name %>
                                </td>
                                <td class="center">
                                    <strong>Phone Number: </strong> <%= @userdetail.phone_number %>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" class="center">
                                    <strong>General Location: </strong>
                                    <% if not @userdetail.city.blank? %>
                                        <%= @userdetail.city + ", " %>
                                    <% end %>
                                    <%= @userdetail.state %>&nbsp;<%= @userdetail.zip %>
                                </td>
                            </tr>

                            <tr>
                                <td class="center" colspan="2">
                                    <strong>Company Tagline: </strong> <%= @userdetail.tagline %>
                                </td>
                            </tr>

                        <% end %>

                        <tr><td colspan="2" style="background-color:black;">
                            <strong style="color:white;"><center><h4>LOCATIONS</h4></center></strong>
                        </td></tr>

                        <!-- ALL LOCATION INFO -->
                        <% if @user.is_supplier and not @user.user_detail.blank? %>

                            <% @user.user_detail.locations.each do |l| %>

                                <tr>
                                    <th class="center" colspan="2">
                                        <% if l.locName.blank? %>
                                            <h3><strong>
                                                <a href="<%= locations_view_url(:id => l.id) %>">Location Info</a>
                                            </strong></h3>
                                        <% else %>
                                            <h3><strong>
                                                <a href="<%= locations_view_url(:id => l.id) %>">Location Info - <%= l.locName %></a>
                                            </strong></h3>
                                        <% end %>

                                        <div class="badge badge-primary"><%= 'id: ' + l.id.to_s %></div>
                                        <% if l.active %>
                                            <div class="badge badge-success">Active</div>
                                        <% else %>
                                            <div class="badge badge-important">Not Active</div>
                                        <% end %>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="center" colspan="2">
                                        <% if l.active %>
                                            <a href="<%= admin_location_deactivate_url(:id => l.id, :user_id => @user.id) %>" class="btn btn-block btn-primary">De-Activate This Location</a>
                                        <% else %>
                                            <a href="<%= admin_location_activate_url(:id => l.id, :user_id => @user.id) %>" class="btn btn-block btn-danger">Activate This Location</a>
                                        <% end %>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="center" colspan="2">
                                        <strong>Address:</strong> <%= l.get_full_address %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <strong>Primary Phone:</strong> <%= l.primaryPhone %>
                                    </td>
                                    <td class="center">
                                        <strong>Secondary Phone:</strong> <%= l.secondaryPhone %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <strong>Primary Email:</strong> <%= l.primaryEmail %>
                                    </td>
                                    <td class="center">
                                        <strong>Secondary Email:</strong> <%= l.secondaryEmail %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <strong>Fax:</strong> <%= l.fax %>
                                    </td>
                                    <td class="center">
                                        <strong>Website:</strong> <a href="<%= l.websiteLink %>"><%= l.websiteLink %></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <strong>Facebook:</strong> <a href="<%= l.facebookLink %>"><%= l.facebookLink %></a>
                                    </td>
                                    <td class="center">
                                        <strong>Twitter:</strong> <a href="<%= l.twitterLink %>"><%= l.twitterLink %></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <strong>Google+:</strong> <a href="<%= l.googleLink %>"><%= l.googleLink %></a>
                                    </td>
                                    <td class="center">
                                        <% if l.bio.blank? %>
                                            <strong>Has Bio?:</strong> No
                                        <% else %>
                                            <strong>Has Bio?:</strong> Yes
                                        <% end %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <strong>Created At:</strong> <%= format_datetime_or_return_blank(l.created_at, nil) %>
                                    </td>
                                    <td class="center">
                                        <strong>Updated At:</strong> <%= format_datetime_or_return_blank(l.updated_at, nil) %>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="center" colspan="2">
                                        
                                        <strong>Public URL:</strong>&nbsp;
                                        <a href="http://www.landspecpro.com/<%= l.public_url %>">www.landspecpro.com/<%= l.public_url %></a><br/>
                                        <%= form_for l, :url => {:action => :set_public_url, :controller => :locations}, :html => {:id => 'form_set_public_url'}, :class => 'form-inline' do |f| %>
                                            <%= hidden_field_tag(:id,  l.id) %>
                                            <%= hidden_field_tag(:redirect_to_admin, true) %>
                                            <%= hidden_field_tag('location[public_url_active]', true) %>
                                            <%= f.text_field :public_url, :class => 'center', :id => 'public_url', :placeholder => 'Unique Public URL' %>
                                            <%= f.submit "Update Public URL", :class => 'btn btn-sm btn-warning' %>
                                        <% end %>
                                        
                                    </td>
                                </tr>
                                        
                                </div>
                                                    

                            <% end %>

                        <% end %>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<%= render 'layouts/sidebarend' %>