<%- title "Help | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>

<div class="container">

	<div class="center">
		<h1 style="font-size:40px;"><strong>Supplier Help</strong></h1>
	</div>

	<hr>

	<div class="row-fluid">

		<div class="span8">

			<h2><strong>Contents</strong></h2>

			<ul>
				<li><a href="#overview">Overview</a></li>
				<li><a href="#yourBusiness">Your Business</a></li>
				<li><a href="#yourAccount">Your Account</a></li>
				<li><a href="#managingLocations">Managing Locations</a></li>
				<li><a href="#publicProfiles">Public Profiles</a></li>
				<li><a href="#categories">Categories</a></li>
				<li><a href="#featuredItems">Featured Items</a></li>
				<li><a href="#search">Search</a></li>
				<li><a href="#favorites">Favorites</a></li>
				<li><a href="#feedback">Feedback</a></li>
			</ul>

			<hr>

			<h3 id="overview"><strong>Overview</strong></h3>

			<p>We're still in the early stages of LandSpec Pro, so things will constantly be changing and getting better as we grow. You can come here for help and tips on taking full advantage of LandSpec Pro as you are using it. This section will also grow and improve as we add more features to the site. Your feedback is important to us, if you have any suggestions or questions feel free to send them to us using the feedback button at the bottom of every page.</p>

			<hr>

			<h3 id="yourBusiness"><strong>Your Business</strong></h3>

			<p>At LandSpec Pro we've split up the way you manage your account so as we grow we can keep things organized easier for you. You can use the "Company" tab to manage your business. For now we've kept it simple by allowing you a company logo, name, tagline, and phone number. The phone number for your company is just our way to keep in touch and verify our user base to make sure we only let in landscape professionals, this number will never be made public. Your other company information will be applied to all of your locations and is how users will identify you on the site.</p>

			<hr>

			<h3 id="yourAccount"><strong>Your Account</strong></h3>

			<p>The account page is also very simple. In the future there will be many more options, but for now this is a simple way to access and update your username, email address, and password. Your account information is for personal use and none of this information will be visible on your profile either.</p>

			<hr>

			<h3 id="managingLocations"><strong>Managing Locations</strong></h3>

			<p>This is the where you'll be spending most of your time at the moment, and is the most important part of LandSpec Pro at the moment.</p>

			<p>By using the "Manage" tab you can view and edit your locations. For most users you will only have one location to manage, so think of this as your profile management page. We'll be making a lot of changes and improvements to this section in the coming months. It is your central hub for keeping your profile up to date.</p>

			<p>From this page you can see view your profile as it is visible to other users. You can also update your contact information including phone numbers, emails, fax, links to your website and other social networks, and your address. This is also where you add featured items (explained in more detail below) and organize the type of products you carry by categories. As mentioned, there will be a lot of new features coming here soon so be on the lookout.</p>

			<p>If you have more than one location we've made it very simple for you to add and manage them. Once you've added your first location you can find the "Add New Location" button at the bottom of the location edit page of your first location. After you've added a second location you'll notice you have a new "Manage" page that lists all your locations. From here you can perform all the same actions as users with one location, but you can do it for all of your locations.</p>

			<hr>

			<h3 id="publicProfiles"><strong>Public Profiles</strong></h3>

			<p>Public Profiles give you the ability to share your LandSpec Pro profile with anyone you want. You started out with a randomly generated URL, but you can easily change it and start sharing your profile. You can update your URL (http://www.landspecpro.com/profiles/your_profile_url) from your location edit page. If you have multiple locations you'll have to edit each one separately since each location has a unique profile and URL.</p>

			<p>Once you've updated your URL for the first time you'll be able to hand-select all the content you want to show to the public. You can hide or show anything you choose to from your company's logo down to your fax number. You'll also now see a button to view your profile when viewing your locations. This button will be visible to anyone who views your profile in LandSpec Pro.</p>

			<p>The last big part of your profile is the ability to Like on Facebook, Tweet to Twitter, and +1 on Google+. These features don't require an existing page to use, but they can be a very helpful way to promote your business through referrals on all the big social networks.</p>

			<p>We hope you like the first version of our public profiles. If there's anything you'd like to see added in the future just use the Feedback button below and tell us.</p>

			<hr>

			<h3 id="categories"><strong>Categories</strong></h3>

			<p>Categories are a newly added featured to the LandSpec Pro toolset. At the moment they are only a way to let users know what types of products you carry at your location. As we expand on these categories they will be searchable and will become an integral part of finding and organizing your products on the site.</p>

			<hr>

			<h3 id="featuredItems"><strong>Featured Items</strong></h3>

			<p>Featured Items are the real gems of LandSpec Pro. Our focus is on allowing you to highlight a few items instead of listing hundreds of items. These featured items can be featured for whatever reason you want to feature them. Maybe you have something unique, something irregular, a product in a hard to find size, or a huge discount on items you're trying to unload quickly. Whatever the reasons, you can feature whatever items you wish and update them just as easily.</p>

			<p>We are focusing on visual content at LandSpec Pro, and that means big, beautiful images to sell your items. We put the pictures first, giving you the ability to show buyers what you have to offer. For now you get three featured items, but you can change them out whenever you want to showcase what you want to, when you want to. No waiting months for a new publication to come out with your newest products. If you get something new in that you want people to know about, simply add it to your profile in less than a minute.</p>
			
			<hr>
			
			<h3 id="search"><strong>Search</strong></h3>

			<p>This is how people will find you on LandSpec Pro. We're still spending a lot of time improving this and giving our users the best way to discover and reach out to you. You can search in the same way buyers and other suppliers can search, by products or by supplier locations.</p>

			<p>One important thing to know is that your profile also helps dictate how often you show up in searches. The more complete your profile is, the higher your chance of showing up at the top of the list of suppliers on the site. Adding a company logo, tagline, featured items, and other information to your profile will help improve your ranking.</p>

			<p>If you have any suggestions to help improve the way users search and find products and suppliers, please feel free to drop us some feedback below!</p>

			<hr>

			<h3 id="favorites"><strong>Favorites</strong></h3>

			<p>Favorites are our way of letting users keep track of their favorite products and suppliers so they can come back and check up on them later. Expect to see a lot of features added here in the future as well.</p>

			<hr>

			<h3 id="feedback"><strong>Feedback</strong></h3>

			<p>Our feedback form is located at the bottom of every page on LandSpec Pro, to allow you to easily let us know what you think. Feel free to send in any and all comments and suggestions you have for the site. Your feedback will help us grow and become more useful for the entire landscape community.</p>

			<p>If you're viewing this site on a mobile phone or tablet you can use the "Contact Us" link at the bottom of the page to send us feedback.</p>

			<hr>

			<a href="#top" class="pull-right">Back to Top</a>
		</div>

		<div class="span4">
				<h2><strong class="pull-right">Helpful Links</strong></h2><br/><br/>
				<a href="<%= account_company_url %>" class="pull-right">Update your company information</a><br/>
				<a href="<%= account_url %>" class="pull-right">Update your account information</a><br/>
				<% if Location.where(:bus_vendor_id => current_user.bus_vendor_id).count == 1 %>		
					<a href="<%= locations_edit_url(:id => current_user.bus_vendor.locations.first.id) %>" class="pull-right">Update location information</a><br/>
<!-- #publicprofiles
					<a href="<%= locations_edit_url(:id => current_user.bus_vendor.locations.first.id, :settings => true) %>" class="pull-right">Update Public Profile</a><br/>
-->
					<a href="<%= locations_edit_url(:id => current_user.bus_vendor.locations.first.id, :products => true) %>" class="pull-right">Add Featured Items</a><br/>
				<% elsif Location.where(:bus_vendor_id => current_user.bus_vendor_id).count > 1 %>
					<a href="<%= locations_manage_url %>" class="pull-right">Manage Locations</a><br/>
				<% else %>
					<a href="<%= locations_new_url %>" class="pull-right">Add Your Location</a><br/>
				<% end %>
				<a href="<%= account_company_url %>" class="pull-right">Add a company logo</a><br/>
				<a href="<%= search_supplier_url %>" class="pull-right">Search for Suppliers</a><br/>
				<a href="<%= search_product_url %>" class="pull-right">Search for Products</a><br/>	
				<a data-toggle="modal" href="#feedbackModal" class="pull-right">Send us Feedback</a><br/>

<!-- #publicprofiles
				<br/><br/><br/>

				<h2><strong class="pull-right">What's New</strong></h2><br/><br/>
				<div class="row-fluid">
					<div class="span7 offset5">
						<strong class="pull-right"><a href="#publicProfiles">Public Profiles:</a></strong><br/>
						<p style="text-align: right;">We've added in the ability to set up a public-facing profile. This means you can share a link to your LandSpec Pro profile with anyone!</p>
						<strong class="pull-right"><a href="#categories">Categories:</a></strong><br/>
						<p style="text-align: right;">You can now add different Product categories to your profile!</p>
					</div>
				</div>
-->
				<br/><br/>

		</div>

	</div>
</div>

<%= render 'layouts/sidebarend' %>