<%- title "Manage Company Info | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>

<div class="row-fluid">
	<div class="span4 offset1">
		<%= form_for @bus_vendor, :html => {:id => 'form_update_logo'}, :url => {:action => :update} do |f| %>
			<%= f.hidden_field :id, :value => @bus_vendor.id %>
			<div class="widget-box" style="min-width: 350px;">
				<div class="widget-header header-color-green2">
					<h5 class="bigger lighter"><i class="icon-briefcase"></i> Company Information</h5>
				</div>

				<div class="widget-body">
					<div class="widget-main">

						<!-- Display error messages as alerts -->
						<% @bus_vendor.errors.each do |field, msg| %>
							<div class="alert alert-error">
							  <button type="button" class="close" data-dismiss="alert">&times;</button>
							  <strong>Error! </strong> <%= msg %>
							</div>
						<% end %>

						<div id="updateCompanyInfoProgress" class="progress progress-success progress-striped active hide" data-percent="Updating please wait...">
							<div class="bar" style="width:100%;"></div>
						</div>

						<table id="table-company-logo" class="table">
							<tbody>
								<tr>
									<td >
										<ul class="ace-thumbnails">
											<li><div style="min-height: 100px; min-width: 100px;">
												<%= image_tag @bus_vendor.logo.url(:thumb) %>
												</div>

											</li>
										</ul>
									</td>
									<td style="vertical-align:middle;">
										<%= f.file_field :logo %>
									</td>
								</tr>
							</tbody>
						</table>

						<fieldset>

							<%= f.label 'Company Name:' %>
							<div class="block input-icon input-icon-right">
								<%= f.text_field :busName, :class => 'span12', :value => @bus_vendor.busName %>
							</div>

							<%= f.label 'Company Tagline:' %>
							<div class="block input-icon input-icon-right">
								<%= f.text_field :tagline, :class => 'span12', :value => @bus_vendor.tagline %>
							</div>

							<%= f.label 'Phone:' %> <!-- Add in something that says this is not visible to other users -->
							<div class="block input-icon input-icon-right">
								<%= f.text_field :busPhone, :class => 'span12 input-mask-phone popover-phone', :value => @bus_vendor.busPhone %>
							</div>

						</fieldset>

					</div>
				</div>

				<div class="widget-footer">
					<div class="row-fluid">
						<div class="span12">
							<button class="btn btn-block btn-small btn-success" type="submit" onclick="updateCompanyInformation();"><i  class="icon-save" id="fav_icon"></i> Update</button>
						</div>
					</div>
				</div>

			</div>
		<% end %>
	</div>

</div>

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyChosenStyle());
	$(applyMasks());
	$(applyPopovers());

	function updateCompanyInformation(){

		// Show progres bar
		$( "#updateCompanyInfoProgress" ).show();
		
	}

	// Success messages
	<% if @update_company_info_success %>
		$(showUpdateSuccessGritter('Company Information has been updated.'));
	<% end %>

</script>