<!-- GUESTCODE -->
<%= form_for @product, :html => {:id => 'form_add_featured_item'} do |f| %>
	<div class="widget-box">
		<div class="widget-header header-color-green2">
			<h5 class="bigger lighter"><i class="icon-plus"></i> Add Featured Item</h5>
		</div>

		<div class="widget-body">

			<div class="widget-main">

				<!-- Display error messages as alerts -->
				<% @product.errors.full_messages.each do |msg| %>
					<div class="alert alert-danger">
					  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
					  <strong>Error! </strong> <%= msg %>
					</div>
				<% end %>

				<!-- Display error messages as alerts -->
				<% @featureditem.errors.full_messages.each do |msg| %>
					<div class="alert alert-danger">
					  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
					  <strong>Error! </strong> <%= msg %>
					</div>
				<% end %>

				<!-- Display error messages as alerts -->
				<% @productimage.errors.full_messages.each do |msg| %>
					<div class="alert alert-danger">
					  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
					  <strong>Error! </strong> <%= msg %>
					</div>
				<% end %>


				<% if @img_missing %>
					<div class="alert alert-danger">
					  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
					  <strong>Error! </strong> You must include an image when adding a featured item!
					</div>
				<% end %>

				<% if @name_missing %>
					<div class="alert alert-danger">
					  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
					  <strong>Error! </strong> You must include a product name!
					</div>
				<% end %>

				<% if @price_invalid %>
					<div class="alert alert-danger">
					  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
					  <strong>Error! </strong> Invalid format for price!
					</div>
				<% end %>

				<fieldset>

					<%= f.hidden_field(:location_id, :value => @location.id) %>

					<div id="addFeaturedItemProgress" class="progress progress-striped active hide" data-percent="Uploading please wait...">
						<div class="progress-bar progress-bar-success" style="width:100%;"></div>
					</div>

					<div class="form-group">
						Name:
						<div class="input-icon input-icon-right">
							<% if current_user.id == 999 %>
								<%= f.text_field :commonName, :class => 'form-control loc_fi_field', :id => 'commonName', :value => @prodname, :readonly => true %>
							<% else %>
								<%= f.text_field :commonName, :class => 'form-control loc_fi_field', :id => 'commonName', :value => @prodname %>
							<% end %>
						</div>
					</div>


					<%= f.fields_for :featured_item do |f2| %>
						<div class="row">

							<div class="col-xs-6">
								<div class="form-group">
									Size (optional): 
									<div class="block input-icon input-icon-right">
										<% if current_user.id == 999 %>
											<%= f2.text_field :size, :class => 'form-control loc_fi_field', :value => @size, :readonly => true %>
										<% else %>
											<%= f2.text_field :size, :class => 'form-control loc_fi_field', :value => @size %>
										<% end %>
									</div>
								</div>
							</div>

							<div class="col-xs-6">
								<div class="form-group">
									Price (optional): 
									<div class="block input-icon input-icon-right">
										<% if current_user.id == 999 %>
											<%= f2.text_field :price, :class => 'form-control input-mask-price loc_fi_field', :value => @price, :readonly => true %>
										<% else %>
											<%= f2.text_field :price, :class => 'form-control input-mask-price loc_fi_field', :value => @price %>
										<% end %>
									</div>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-xs-12">

								<div class="form-group">
									Description (optional):
									<div class="block input-icon input-icon-right">
										<% if current_user.id == 999 %>
											<%= f2.text_area :description, :class => 'form-control loc_fi_field', :rows => '3', :style => 'resize: none;', :value => @description, :readonly => true %>
										<% else %>
											<%= f2.text_area :description, :class => 'form-control loc_fi_field', :rows => '3', :style => 'resize: none;', :value => @description %>
										<% end %>
									</div>
								</div>

							</div>
						</div>
					<% end %>

					<div class="form-group">
						Image: 
						<div class="block input-icon input-icon-right">
							<%= f.file_field :image, :class => 'span12 loc_fi_field', :id => 'image' %>
						</div>
					</div>

				</fieldset>

			</div>
		</div>

		<div class="widget-footer">
			<div class="row">
				<div class="col-xs-12">
					<% if current_user.id == 999 %>
						<button disabled='disabled' class="btn btn-block btn-sm btn-success"><i  class="icon-plus" id="fav_icon"></i> Add</button>
					<% else %>
						<button class="btn btn-block btn-sm btn-success" type="submit" onclick="addFeaturedItem();"><i  class="icon-plus" id="fav_icon"></i> Add</button>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<script type="text/javascript">

	$("select").chosen({ width: '100%'});

	function addFeaturedItem(){

		if (form_change == 'loc_fi'){
			form_change = null;
			// Show Progress Bar
			$( "#addFeaturedItemProgress" ).removeClass('hide');
		} else if (form_change == null){
			return null;
		}
	}

	$('.loc_fi_field').change(function changeAboutInfo(){
		if (form_change == null || form_change == 'loc_fi'){
			form_change = 'loc_fi';
		}
		else{
			form_change = 'loc_multiple';
		}

		$(this).css( "border-color", "orange");

		showRevertChanges();
	});

	
</script>