<!-- GUESTCODE -->
<div class="row">
	<div class="col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
		<div class="center">
			<h3 class="header lighter blue">Manage Inventory</h3>
		</div>
	</div>
</div>

<div class="row" style="margin-left:5px; margin-right:5px;">
	<div class="col-lg-6 col-lg-offset-3 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">

		<div class="widget-box transparent">
			<div class="widget-header widget-header-flat">
				<h4 class="lighter">
					<i class="icon-cloud-upload"></i>
					Upload New Inventory
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main no-padding">

					<br/>

					<div class="center">

						<% if params[:add_new_inventory_failed] %>
							<div class="alert alert-danger">
								<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
								<strong>Error! </strong> There was an error with your upload!
							</div>
						<% end %>

						<div id="submitInventoryProgress" class="progress progress-striped active hide" data-percent="Uploading please wait...">
							<div class="progress-bar progress-bar-success" style="width:100%;"></div>
						</div>

						<%= form_for :location, :url => {:action => :inventory_upload, :controller => :locations} do |f| %>

							<%= f.hidden_field :id, :value => @location.id %>
							<%= f.file_field :file, :class => 'loc_inventory_field' %>
							<% if current_user.id == 999 %>
								<button disabled='disabled' type="submit" class="btn btn-sm btn-success" onclick="uploadNewInventory();">Submit</button>
							<% else %>
								<button type="submit" class="btn btn-sm btn-success" onclick="uploadNewInventory();">Submit</button>
							<% end %>

						<% end %>
					</div>

				</div>
			</div>

		</div>
		
	</div>
</div>

<% @inventories = Inventory.where(:location_id => @location.id, :active => true) %>

<% unless @inventories.count == 0 %>

	<% @cur_inventory = @inventories.where(:current => true).first %>

	<div class="row" style="margin-left:5px; margin-right:5px;">
		<div class="col-lg-6 col-lg-offset-3 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">

			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="lighter">
						<i class="icon-folder-close"></i>
						Current Inventory
					</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main no-padding">

						<table class="table table-bordered table-striped">

							<thead class="thin-border-bottom">
								<tr>
									<th>File Name</th>
									<th>File Size</th>
									<th>Date Added</th>

									<!--
									<th>Total Views</th>
									-->

								</tr>
							</thead>

							<tbody>
								<tr>
									<td><a id="invFileName" href="<%= location_inventory_view_url(:id => @location.id, :inv_id => @cur_inventory.id) %>" target="_blank"><%= @cur_inventory.file_file_name %></a></td>
									<% if (@cur_inventory.file_file_size / 1000) > 1000 %>
										<td><%= "%4.2f" % ((@cur_inventory.file_file_size / 1000.0) / 1000.0) %> MB</td>
									<% else %>
										<td><%= "%10.2f" % (@cur_inventory.file_file_size / 1000.to_f) %> KB</td>
									<% end %>
									<td><%= format_date_and_time(@cur_inventory.created_at) %></td>
									
									<!--
									<td><span data-rel="popover" data-placement="bottom" data-container="body" data-trigger="hover" data-content="Total views are approximate and only count views through your profile or by right-clicking the file name, copying the link, and sharing the provided address."><%= @cur_inventory.num_views.to_s %></span></td>
									-->

								</tr>
							</tbody>

						</table>

					</div>
				</div>

			</div>

		</div>
	</div>

	<br/><br/>

	<% if @inventories.count > 1 %>
		<div class="row" style="margin-left:5px; margin-right:5px;">
			<div class="col-lg-6 col-lg-offset-3 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
				<div class="widget-box transparent">
					<div class="widget-header widget-header-flat">
						<h4 class="lighter">
							<i class="icon-inbox"></i>
							Previous Inventories
						</h4>
					</div>

					<div class="widget-body">
						<div class="widget-main no-padding">

							<table class="table table-bordered table-striped">

								<thead class="thin-border-bottom">
									<tr>
										<th>File Name</th>
										<th>File Size</th>
										<th>Date Added</th>

										<!--
										<th>Total Views</th>
										-->

									</tr>
								</thead>

								<tbody>
									<% @inventories.where(:current => false).order('id DESC').each do |inv| %>
										<tr>
											<td><a href="<%= location_inventory_view_url(:id => @location.id, :inv_id => inv.id) %>" target="_blank"><%= inv.file_file_name %></a></td>
											<% if (inv.file_file_size / 1000) > 1000 %>
												<td><%= "%4.2f" % ((inv.file_file_size / 1000.0) / 1000.0) %> MB</td>
											<% else %>
												<td><%= "%10.2f" % (inv.file_file_size / 1000.to_f) %> KB</td>
											<% end %>
											<td><%= format_date_and_time(inv.created_at) %></td>

											<!--
											<td><%= inv.num_views.to_s %></td>
											-->
											
										</tr>
									<% end %>
								</tbody>

							</table>

						</div>
					</div>

				</div>
			</div>
		</div>
	<% end %>

<% end %>

<script>
	$(applyPopovers());

	function uploadNewInventory(){

		if (form_change == 'loc_inventory'){
			form_change = null;
			// Show Progress Bar
			$( "#submitInventoryProgress" ).removeClass('hide');
		} else if (form_change == null){
			return null;
		}

	}

	$('.loc_inventory_field').change(function uploadNewInventory(){
		if (form_change == null || form_change == 'loc_inventory'){
			form_change = 'loc_inventory';
		}
		else{
			form_change = 'loc_multiple';
		}

		showRevertChanges();

	});

	$('#invFileName').popover({
		html: true,
		placement: "bottom",
		container: "body",
		trigger: 'hover',
		content: "Right-click and choose 'Copy link address' to easily share a trackable link to your inventory."
	});
</script>