<%= form_for @product, :html => {:id => 'form_add_featured_item'} do |f| %>
	<div class="widget-box">
		<div class="widget-header header-color-green2">
			<h5 class="bigger lighter"><i class="icon-plus"></i> Add Featured Item</h5>
			<div class="widget-toolbar">
				<a href="javascript:{return true;}" onclick="document.getElementById('form_add_featured_item').submit();" class="white" id="white-link"><i  class="icon-plus" id="fav_icon"></i> Add</a>
			</div>
		</div>

		<div class="widget-body">

			<div class="widget-main">

				<!-- Display error messages as alerts -->
				<% @product.errors.full_messages.each do |msg| %>
					<div class="alert alert-error">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>Error! </strong> <%= msg %>
					</div>
				<% end %>

				<!-- Display error messages as alerts -->
				<% @featureditem.errors.full_messages.each do |msg| %>
					<div class="alert alert-error">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>Error! </strong> <%= msg %>
					</div>
				<% end %>

				<!-- Display error messages as alerts -->
				<% @productimage.errors.full_messages.each do |msg| %>
					<div class="alert alert-error">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>Error! </strong> <%= msg %>
					</div>
				<% end %>


				<% if @img_missing %>
					<div class="alert alert-error">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>Error! </strong> You must include an image when adding a featured item!
					</div>
				<% end %>

				<% if @name_missing %>
					<div class="alert alert-error">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>Error! </strong> You must include a product name!
					</div>
				<% end %>

				<% if @price_invalid %>
					<div class="alert alert-error">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>Error! </strong> Invalid format for price!
					</div>
				<% end %>

				<fieldset>

					<%= f.hidden_field(:location_id, :value => @location.id) %>

					Name:
					<div class="input-icon input-icon-right">
						<%= f.text_field :commonName, :class => 'span12', :id => 'commonName', :value => @prodname %>
					</div>


					<%= f.fields_for :featured_item do |f2| %>
						<div class="row-fluid">
							<div class="span6">
								Size (optional): 
								<div class="block input-icon input-icon-right">
									<%= f2.text_field :size, :class => 'span12', :value => @size %>
								</div>

							</div>

							<div class="span6">
								Price (optional): 
								<div class="block input-icon input-icon-right">
									<%= f2.text_field :price, :class => 'span12 input-mask-price', :value => @price %>
								</div>

							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">

								Description (optional):
								<div class="block input-icon input-icon-right">
									<%= f2.text_area :description, :class => 'span12', :rows => '3', :style => 'resize: none;', :value => @description %>
								</div>

							</div>
						</div>
					<% end %>

					Image: 
					<div class="block input-icon input-icon-right">
						<%= f.file_field :image, :class => 'span12', :id => 'image' %>
					</div>

				</fieldset>

			</div>
		</div>

		<div class="widget-footer">
			<div class="row-fluid">
				<div class="span12">
					<button class="btn btn-block btn-small btn-success" type="submit"><i  class="icon-plus" id="fav_icon"></i> Add</button>
				</div>
			</div>
		</div>
	</div>
<% end %>

<script type="text/javascript">

	$("select").chosen({ width: '100%'});

	
</script>