<% @location.featured_items.where(:active => true).order("created_at ASC").each do |fi| %>

	<div class="col-lg-4">

		<ul class="ace-thumbnails center" style="width: 50%; margin:auto;">
			<li>
				<div>

					<%= image_tag fi.get_image.url(:medium), :title => fi.get_product.commonName, :style => "max-height:100%; max-width:100%; display:block; margin:auto;" %>

					<% if fi.is_favorited(current_user) %>
						<div class="tags">
							<span class="label label-info arrowed">Favorited!</span>
						</div>
					<% end %>

					<div class="text">
						<div class="inner">

							<span><p style="font-size:15px;"><%= fi.get_product.commonName %></p></span>

							<a href="<%= fi.get_image.url(:original) %>" data-rel="colorbox" title="<%= fi.get_product.commonName %>">
								<i class="icon-zoom-in" title="View Larger"></i>
							</a>

							<a href="<%= locations_featureditem_delete_url(:featured_item_id => fi.id, :location_id => fi.location_id) %>">
								<i class="icon-trash" title="Delete"></i>
							</a>

							<a href=<%= products_edit_url(:id => fi.id) %>>
								<i class="icon-pencil" title="Edit"></i>
							</a>
						</div>
					</div>

				</div>
			</li>
		</ul>

		<div class="widget-box transparent">

			<div class="widget-body">
				<div class="widget-main no-padding">

					<table class="table table-bordered table-striped table-hover" style="padding-top:15px;">

						<colgroup>
							<col span="1" style="width: 20%">
							<col span="1" style="width: 80%">
						</colgroup>

						<thead>
							<tr>
								<th class="table-header header-color-green2 center" colspan="2">
									<%= fi.get_product.commonName %>
								</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td><strong class="pull-right">Price</strong></td>
								<td><%= fi.price %></td>
							</tr>
							<tr>
								<td><strong class="pull-right">Size</strong></td>
								<td><%= fi.size %></td>
							</tr>
							<tr>
								<td><strong class="pull-right">Description</strong></td>
								<td><%= fi.description.gsub(/\n/,'<br/>').html_safe %></td>
							</tr>
						</tbody>

					</table>

				</div>
			</div>

		</div>

	</div>

<% end %>