<%= form_for @location, :html => {:id => 'form_location_address'} do |f| %>
	<div class="widget-box">
		<div class="widget-header header-color-green2">
			<h5 class="bigger lighter"><i class="icon-globe"></i> Location Address</h5>
			<div class="widget-toolbar">
				<a href="javascript:{return true;}" onclick="submitLocationInfoForm();" class="white" id="white-link"><i  class="icon-save" id="fav_icon"></i> Update</a>
			</div>
		</div>

		<div class="widget-body">

			<div class="widget-main">

				<!-- Display error messages as alerts -->
				<% unless @location.errors.blank? %>
						<div class="alert alert-warning">
						  <%= link_to "Revert Changes", '/locations/edit/' + @location.id.to_s, :class => 'btn btn-sm btn-danger' %>
						  <strong> &nbsp;&nbsp;&nbsp;Changes not saved!</strong>
						</div>
				<% end %>

				<% @location.errors.each do |field, msg| %>
					<% unless field == :public_url %>
						<div class="alert alert-danger">
						  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
						  <strong>Error! </strong> <%= msg %>
						</div>
					<% end %>
				<% end %>

				<fieldset>

					<%= f.hidden_field :id, :value => @location.id %>

					<div class="form-group">
						Location Name: 
						<div class="block input-icon input-icon-right">
							<%= f.text_field :locName, :id => "locName", :class => 'form-control val-locname loc_info_field', :value => @location.locName %>
						</div>
					</div>

					<div class="form-group">
						Street 1:
						<div class="block input-icon input-icon-right">
							<%= f.text_field :address1, :class => 'form-control loc_info_field', :value => @location.address1 %>
						</div>
					</div>

					<div class="form-group">
						Street 2:
						<span class="block input-icon input-icon-right">
							<%= f.text_field :address2, :class => 'form-control loc_info_field', :value => @location.address2 %>
						</span>
					</div>

					<div class="form-group">
						City:
						<span class="block input-icon input-icon-right">
							<%= f.text_field :city, :class => 'form-control loc_info_field', :value => @location.city %>
						</span>
					</div>

					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								State:
								<div class="block input-icon input-icon-right">
									<%= f.select(:state, get_states, {}, {:class => 'form-control chzn-select loc_info_field', :onchange => 'changeLocationInfo();'}) %>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								Zip Code:
								<span class="block input-icon input-icon-right">
									<%= f.text_field :zip, :class => 'form-control input-mask-zip loc_info_field', :value => @location.zip %>
								</span>	
							</div>
						</div>
					</div>

					<%= f.hidden_field :id, :value => @location.id %>

					<div class="form-group">
						Primary Phone: 
						<div class="block input-icon input-icon-right">
							<%= f.text_field :primaryPhone, :class => 'form-control input-mask-phone loc_info_field', :value => @location.primaryPhone %>
						</div>
					</div>

					<div class="form-group">
						Secondary Phone:
						<div class="block input-icon input-icon-right">
							<%= f.text_field :secondaryPhone, :class => 'form-control input-mask-fax loc_info_field', :value => @location.secondaryPhone %>
						</div>
					</div>

					<div class="form-group">
						Fax:
						<span class="block input-icon input-icon-right">
							<%= f.text_field :fax, :class => 'form-control input-mask-fax loc_info_field', :value => @location.fax %>
						</span>
					</div>

					<div class="form-group">
						Primary Email:
						<span class="block input-icon input-icon-right">
							<%= f.text_field :primaryEmail, :class => 'form-control loc_info_field', :value => @location.primaryEmail %>
						</span>
					</div>

					<div class="form-group">
						Secondary Email:
						<span class="block input-icon input-icon-right">
							<%= f.text_field :secondaryEmail, :class => 'form-control loc_info_field', :value => @location.secondaryEmail %>
						</span>
					</div>

					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								Website:
								<span class="block input-icon input-icon-right">
									<%= f.text_field :websiteLink, :class => 'form-control loc_info_field', :value => @location.websiteLink, :placeholder => 'http://' %>
								</span>	
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								Facebook Link:
								<span class="block input-icon input-icon-right">
									<%= f.text_field :facebookLink, :class => 'form-control loc_info_field', :value => @location.facebookLink, :placeholder => 'http://' %>
								</span>	
							</div>
						</div>	

					</div>		
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								Twitter Link:
								<span class="block input-icon input-icon-right">
									<%= f.text_field :twitterLink, :class => 'form-control loc_info_field', :value => @location.twitterLink, :placeholder => 'http://' %>
								</span>	
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								Google+:
								<span class="block input-icon input-icon-right">
									<%= f.text_field :googleLink, :class => 'form-control loc_info_field', :value => @location.googleLink, :placeholder => 'http://' %>
								</span>
							</div>
						</div>
					</div>	

					<div class="row">
						<div class="col-xs-12">
							<div class="pull-right">
								<a href="javascript:{return true;}" onclick="submitLocationInfoForm();" class="btn btn-sm btn-success"><i  class="icon-save" id="fav_icon"></i> Update</a>
							</div>
						</div>
					</div>

				</fieldset>

			</div>

		</div>
	</div>
<% end %>

<script type="text/javascript">

	function submitLocationInfoForm(){

		if (form_change == 'loc_info')
			form_change = null;

		document.getElementById('form_location_address').submit();

	}

	$('.loc_info_field').change(function changeLocationInfo(){
		if (form_change == null || form_change == 'loc_info'){
			form_change = 'loc_info';
		}
		else{
			form_change = 'loc_multiple';
		}

		$(this).css( "border-color", "orange");

		showRevertChanges();
	});
</script>