<%= form_for @location, :url => {:action => :set_public_url, :controller => :locations}, :html => {:id => 'form_set_public_url'}, :class => 'form-inline' do |f| %>

	<!-- Display error messages as alerts -->
	<% @location.errors.each do |field, msg| %>
		<div class="row-fluid">
			<div class="span4 offset4">
				<div class="alert alert-error center">
				  <strong>Error! </strong> <%= msg %>
				</div>
			</div>
		</div>
	<% end %>
	<% if params[:url_blank] %>
		<div class="row-fluid">
			<div class="span4 offset4">
				<div class="alert alert-error center">
					<strong>Error! </strong> Unique URL is required.
				</div>
			</div>
		</div>
	<% end %>

	<div class="row-fluid">
		<div class="span6 offset3">
			<div class="alert alert-info center">
				<strong>Your Public Profile</strong><br/>
				Your public profile allows you to share your LandSpec Pro Profile for this location with anyone, even if they are not members of LandSpec Pro. We've made it as simple as possible for you to share your page.<br/><br/>
				We gave you a random URL when you created your profile, along with making some basic information visible. Now you can set your own URL to be used on the website and then you'll have access to some settings to change what information is visible to the public.<br/><br/>
				Let us know what you think of these new profiles, or anything you think would make them better with the Feedback box at the bottom of the page!<br/><br/>
				<strong>Enjoy!</strong>
			</div>
		</div>
	</div>

	<%= hidden_field_tag(:id,  @location.id) %>
	<%= hidden_field_tag('location[public_url_active]', true) %>
	<label for="location_public_url"><strong id="url_preview">www.landspecpro.com/profiles/<%= @location.public_url %></strong></label>
	<% @location.public_url = '' %>
	<%= f.text_field :public_url, :class => 'span3 center', :id => 'public_url', :placeholder => 'Unique Public URL', :onkeyup => "updatePreviewURL();" %>

	<br/>

	<a class="btn btn-success btn-small center" style="width:250px;" href="javascript:{return true;}" onclick="document.getElementById('form_set_public_url').submit();">
		<i class="icon-save" id="submit_public_url"></i> Submit
	</a>

<% end %>