<!--
	Notes on public profiles
	- public_url_active is used for allowing other people to view the profile. If this is false no one can view it, and the button won't show up. this should default to true and set to true initially if not already set. This still requires that the actual location be active. At least when trying to view the public profile the location must be active.
	- public_url is automatically set, should have a value for EVERY user, even if it is just random characters. This should default to random characters when a user signs up and be set if not
	- url_is_custom defaults to false. This is only set once the user changes the public_url for the first time for the location. It is basically just used to determine if the initial setup page should be shown or not.
-->

<% unless Location.where(:id => @location.id).first.url_is_custom %>

	<div class="col-lg-8 col-lg-offset-2">
		<div class="center">
			<h2><strong>Set Your Public URL:</strong></h2>
			<%= render 'locations/layouts_edit/profileurl' %>
		</div>
	</div>

<% else %>

	<div class="col-lg-4 col-lg-offset-1">
			
		<%= form_for @publicsettings, :url => {:action => :update_public_settings, :controller => :locations}, :html => {:id => 'form_update_public_settings'}, :class => 'form-inline' do |f| %>

			<%= hidden_field_tag(:id,  @location.id) %>

			<div class="row">
				<div class="col-xs-12">

					<div class="widget-box transparent">
						<div class="widget-header widget-header-flat">
							<h4 class="lighter">
								<i class="icon-cogs"></i>
								Public Profile Settings
							</h4>
						</div>

						<div class="widget-body">
							<div class="widget-main no-padding">
			
								<table class="table table-bordered table-striped">
								<tbody>

									<!-- Update Button -->
									<tr>
										<td colspan="2">
											<a class="btn btn-success btn-sm btn-block"  href="javascript:{return true;}" onclick="sumbitProfileSettingsForm();">
												<i class="icon-save" id="update_public_settings"></i> Save Changes
											</a>
										</td>
									</td>

									<!-- SHOW COMPANY LOGO -->
									<% unless UserDetail.find(@location.user_detail_id).logo.blank? %>
									<tr>
										<td class="center">
											<%= f.check_box :show_company_logo, :id => 'show_company_logo', :class => 'loc_profile_field ace ace' %>
											<label class="lbl" for="show_company_logo"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Your default company logo will be visible on your profile page. If you de-select this box a generic placeholder image will be used in its place.">
											<label class="lbl">Show Company Logo</label>
										</td>
									</tr>
									<% end %>

									<!-- SHOW COMPANY TAGLINE -->
									<% unless UserDetail.find(@location.user_detail_id).tagline.blank? %>
									<tr>
										<td class="center">
											<%= f.check_box :show_tagline, :id => 'show_tagline', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_tagline"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Your company tagline will be displayed above your contact information on your public profile.">
											<label class="lbl">Show Company Tagline</label>
										</td>
									</tr>
									<% end %>

									<!-- SHOW COMPANY ABOUT -->
									<% unless @location.bio.blank? %>
									<tr>
										<td class="center">
											<%= f.check_box :show_about, :id => 'show_about', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_about"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Your company about section will be displayed on your public profile.">
											<label class="lbl">Show About Company Section</label>
										</td>
									</tr>
									<% end %>

									<!-- SHOW FULL ADDRESS -->
									<tr>
										<td class="center">
											<%= f.check_box :show_full_address, :onchange => "addressSelect('full_address');", :id => 'show_full_address', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_full_address"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Selecting this option makes your Full Address, City, State, and Zip visible.">
											<label class="lbl">Show Full Address</label>
										</td>
									</tr>

									<!-- SHOW CITY AND STATE ONLY -->
									<tr>
										<td class="center">
											<%= f.check_box :show_city_and_state, :onchange => "addressSelect('city_and_state');", :id => 'show_city_and_state', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_city_and_state"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Selecting this option will only allow the public to see the State and City of your address.">
											<label class="lbl">Show City and State Only</label>
										</td>
									</tr>

									<!-- SHOW STATE ONLY-->
									<tr>
										<td class="center">
											<%= f.check_box :show_state_only, :onchange => "addressSelect('state_only');", :id => 'show_state_only', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_state_only"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Selecting this option will only allow the public to see only the State you are located in.">
											<label class="lbl">Show State Only</label>
										</td>
									</tr>

									<!-- SHOW PRIMARY PHONE -->
									<tr>
										<td class="center">
											<%= f.check_box :show_primary_phone, :id => 'show_primary_phone', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_primary_phone"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Your Primary Phone Number for this location will be visible to the public.">
											<label class="lbl">Show Primary Phone</label>
										</td>
									</tr>

									<!-- SHOW SECONDARY PHONE -->
									<% unless @location.secondaryPhone.blank? %>
									<tr>
										<td class="center">
											<%= f.check_box :show_secondary_phone, :id => 'show_secondary_phone', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_secondary_phone"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Your Secondary Phone Number for this location will be visible to the public.">
											<label class="lbl">Show Secondary Phone</label>
										</td>
									</tr>
									<% end %>

									<!-- SHOW FAX -->
									<% unless @location.fax.blank? %>
									<tr>
										<td class="center">
											<%= f.check_box :show_fax, :id => 'show_fax', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_fax"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Your Fax Number for this location will be visible to the public.">
											<label class="lbl">Show Fax Number</label>
										</td>
									</tr>
									<% end %>

									<!-- SHOW PRIMARY EMAIL -->
									<% unless @location.primaryEmail.blank? %>
									<tr>
										<td class="center">
											<%= f.check_box :show_primary_email, :id => 'show_primary_email', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_primary_email"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Your Primary Email Address for this location will be visible to the public.">
											<label class="lbl">Show Primary Email</label>
										</td>
									</tr>
									<% end %>

									<!-- SHOW SECONDARY EMAIL -->
									<% unless @location.secondaryEmail.blank? %>
									<tr>
										<td class="center">
											<%= f.check_box :show_secondary_email, :id => 'show_secondary_email', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_secondary_email"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Your Secondary Email Address for this location will be visible to the public.">
											<label class="lbl">Show Secondary Email</label>
										</td>
									</tr>
									<% end %>

									<!-- SHOW INVENTORY -->
									<% if @location.inventories.count > 0 %>
									<tr>
										<td class="center">
											<%= f.check_box :show_inventory, :id => 'show_inventory', :class => 'loc_profile_field ace' %>
											<label class="lbl" for="show_secondary_email"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="Your must recently uploaded inventory will be visible on your public profile.">
											<label class="lbl">Show Inventory</label>
										</td>
									</tr>
									<% end %>

									<!-- SHOW WEBSITE LINK -->
									<% unless @location.websiteLink.blank? %>
									<tr>
										<td class="center">
											<%= f.check_box :show_website, :id => 'show_website', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_website"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="A link to your website will be visible to the public on your profile.">
											<label class="lbl">Show Link to Website</label>
										</td>
									</tr>
									<% end %>

									<!-- SHOW FACEBOOK LINK -->
									<% unless @location.facebookLink.blank? %>
									<tr>
										<td class="center">
											<%= f.check_box :show_facebook, :id => 'show_facebook', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_facebook"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="A link to your Facebook page will be visible to the public on your profile.">
											<label class="lbl">Show Link to Facebook</label>
										</td>
									</tr>
									<% end %>

									<!-- SHOW TWITTER LINK -->
									<% unless @location.twitterLink.blank? %>
									<tr>
										<td class="center">
											<%= f.check_box :show_twitter, :id => 'show_twitter', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_twitter"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="A link to your Twitter page will be visible to the public on your profile.">
											<label class="lbl">Show Link to Twitter</label>
										</td>
									</tr>
									<% end %>

									<!-- SHOW GOOGLE LINK -->
									<% unless @location.googleLink.blank? %>
									<tr>
										<td class="center">
											<%= f.check_box :show_google, :id => 'show_google', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_google"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="A link to your Google+ page will be visible to the public on your profile.">
											<label class="lbl">Show Link to Google+</label>
										</td>
									</tr>
									<% end %>

									<!-- FEATURED ITEM OPTIONS -->
									<% unless FeaturedItem.where(:location_id => @location.id, :active => true).count == 0 %>
										<!-- SHOW FEATURED ITEMS -->
										<tr>
											<td class="center">
												<%= f.check_box :show_featured_items, :id => 'show_featured_items', :onchange => "selectFeaturedItems();", :class => 'loc_profile_field ace'  %>
												<label class="lbl" for="show_featured_items"></label>
											</td>
											<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="By selecting this you will make the Name and Image of all featured items for this location visible to the public.">
												<label class="lbl">Show Featured Items</label>
											</td>
										</tr>
										

										<!-- SHOW FEATURED ITEM DESCRIPTIONS -->
										<tr>
											<td class="center">
												<%= f.check_box :show_featured_items_description, :id => 'show_featured_items_description', :onchange => "selectFeaturedItems();", :class => 'loc_profile_field ace'  %>
												<label class="lbl" for="show_featured_items_description"></label>
											</td>
											<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="By selecting this you will make the descriptions of all of your featured items visible to the public.">
												<label class="lbl">Show Featured Item Descriptions</label>
											</td>
										</tr>

										<!-- SHOW FEATURED ITEM PRICES -->
										<tr>
											<td class="center">
												<%= f.check_box :show_featured_items_price, :id => 'show_featured_items_price', :onchange => "selectFeaturedItems();", :class => 'loc_profile_field ace'  %>
												<label class="lbl" for="show_featured_items_price"></label>
											</td>
											<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="By selecting this you will make the prices of all of your featured items visible to the public.">
												<label class="lbl">Show Featured Item Prices</label>
											</td>
										</tr>

										<!-- SHOW FEATURED ITEM SIZES -->
										<tr>
											<td class="center">
												<%= f.check_box :show_featured_items_size, :id => 'show_featured_items_size', :onchange => "selectFeaturedItems();", :class => 'loc_profile_field ace'%>
												<label class="lbl" for="show_featured_items_size"></label>
											</td>
											<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="By selecting this you will make the sizes of all of your featured items visible to the public.">
												<label class="lbl">Show Featured Item Sizes</label>
											</td>
										</tr>
									<% end %> <!-- END FEATURED ITEM OPTIONS -->

									<!-- SHOW CATEGORIES -->
									<% unless CategoryToLocation.where(:location_id => @location.id).count == 0 %>
									<tr>
										<td class="center">
											<%= f.check_box :show_categories, :id => 'show_categories', :class => 'loc_profile_field ace'  %>
											<label class="lbl" for="show_categories"></label>
										</td>
										<td data-rel="popover" data-placement="top" data-trigger="hover" data-container="body" data-content="The Categories you have assigned to this location will be visible to the public.">
											<label class="lbl">Show Location Categories</label>
										</td>
									</tr>
									<% end %>

									<!-- Update Button -->
									<tr>
										<td colspan="2">
											<a class="btn btn-success btn-sm btn-block"  href="javascript:{return true;}" onclick="sumbitProfileSettingsForm();">
												<i class="icon-save" id="update_public_settings"></i> Save Changes
											</a>
										</td>
									</td>

								</tbody>
								</table>

							</div>
						</div>

					</div>

				</div>
			</div>

		<% end %>

		<div class="center">

			<% if @location.public_url_active %>

				<a class="btn btn-sm btn-primary btn-block" data-rel="popover" data-placement="bottom" data-trigger="click" data-content="<%= render 'locations/layouts_edit/url_activate_warning_popover' %>" data-container="body">De-Activate Public Profile</a>

			<% else %>

				<a class="btn btn-large btn-danger btn-block" data-rel="popover" data-placement="bottom" data-trigger="click" data-content="<%= render 'locations/layouts_edit/url_activate_warning_popover' %>" data-container="body">Activate Public Profile</a>

			<% end %>
		</div>

	</div>

	<div class="col-lg-4 col-lg-offset-1">

		<%= form_for @location, :url => {:action => :set_public_url, :controller => :locations}, :html => {:id => 'form_set_public_url'}, :class => 'form-inline' do |f| %>

			<%= hidden_field_tag(:id,  @location.id) %>

			<div class="widget-box transparent">
				<div class="widget-header widget-header-flat">
					<h4 class="lighter">
						<i class="icon-cogs"></i>
						Public Profile URL
					</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main no-padding">

						<div class="center">

							<!-- Display error messages as alerts -->
							<% @location.errors.each do |field, msg| %>
								<div class="row-fluid">
									<div class="span10 offset1">
										<div class="alert alert-danger center">
										  <strong>Error! </strong> <%= msg %>
										</div>
									</div>
								</div>
							<% end %>
							<% if params[:url_blank] %>
								<div class="row-fluid">
									<div class="span10 offset1">
										<div class="alert alert-danger center">
											<strong>Error! </strong> Unique URL is required.
										</div>
									</div>
								</div>
							<% end %>

							<table class="table">
								
								<thead>
									<tr>
										<th colspan="2" class="center">
											<a href="http://www.landspecpro.com/profiles/<%= @location.public_url %>" target="_blank">
												<strong id="url_preview" style="font-size:15px;">www.landspecpro.com/profiles/<%= @location.public_url %></strong>
											</a>
										</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>
											<% @location.public_url = '' %>
											<%= f.text_field :public_url, :class => 'form-control center loc_profile_url_field', :id => 'public_url', :placeholder => 'Unique Public URL', :onkeyup => "updatePreviewURL();" %>
										</td>
										<td>
											<a class="btn btn-success btn-sm btn-block" data-rel="popover" data-placement="bottom" data-trigger="click" data-content="<%= render 'locations/layouts_edit/url_warning_popover' %>" data-container="body">
												<i class="icon-save" id=""></i> Update
											</a>
										</td>
									</tr>
								</tbody>

							</table>

						</div>

					</div>
				</div>

			</div>

		<% end %>
		
	</div>

<% end %>

<script type="text/javascript">

	function selectFeaturedItems(){
		if (document.getElementById('show_featured_items').checked == false){
			document.getElementById('show_featured_items_description').checked = false;
			document.getElementById('show_featured_items_price').checked = false;
			document.getElementById('show_featured_items_size').checked = false;
		}
	}

	function addressSelect(option){
		if (option == 'state_only'){
			document.getElementById('show_city_and_state').checked = false;
			document.getElementById('show_full_address').checked = false;
		}
		else if (option == 'city_and_state'){
			document.getElementById('show_state_only').checked = false;
			document.getElementById('show_full_address').checked = false;
		}
		else if (option == 'full_address'){
			document.getElementById('show_city_and_state').checked = false;
			document.getElementById('show_state_only').checked = false;
		}

	}

	function updatePreviewURL(){
		document.getElementById('url_preview').innerHTML = "www.landspecpro.com/profiles/" + $('#public_url').val();
		if (form_change == null || form_change == 'loc_profile_url'){
			form_change = 'loc_profile_url';
		}
		else{
			form_change = 'loc_multiple';
		}

		$('.loc_profile_url_field').css( "border-color", "orange");

		showRevertChanges();
	}

	function sumbitProfileSettingsForm(){
		if (form_change == 'loc_profile')
			form_change = null;

		if (!document.getElementById('show_city_and_state').checked){
			if (!document.getElementById('show_full_address').checked){
				if (!document.getElementById('show_state_only').checked){
					document.getElementById('show_city_and_state').checked = true;
				}
			}
		}

		document.getElementById('form_update_public_settings').submit();
	}

	$('.loc_profile_field ace').click(function changeProfileSettings(){
		if (form_change == null || form_change == 'loc_profile'){
			form_change = 'loc_profile';
		}
		else{
			form_change = 'loc_multiple';
		}

		showRevertChanges();

	});

</script>