<div class="container">
	<div class="center">
		<h1 style="font-size:40px;"><strong>Buyer Help</strong></h1>
		<a id="top" class="anchorDestination"></a>
	</div>

	<hr>

	<div class="row">

		<div class="col-md-8">

			<h2><strong>Contents</strong></h2>

			<ul>
				<li><a href="#overview">Overview</a></li>
				<li><a href="#yourBusiness">Your Business</a></li>
				<li><a href="#yourAccount">Your Account</a></li>
				<li><a href="#supplierProfiles">Supplier Profiles</a></li>
				<li><a href="#search">Search</a></li>
				<li><a href="#featuredProducts">Featured Products</a></li>
				<li><span class="label label-warning"><strong>NEW</strong></span> <a href="#newsfeed">News Feed</a></li>
				<li><span class="label label-warning"><strong>NEW</strong></span> <a href="#follow">Follow</a></li>
				<li><a href="#feedback">Feedback</a></li>
			</ul>

			<hr>

			<h3><strong>Overview</strong></h3>

			<a id="overview" class="anchorDestination"></a>

			<p>Simply put, when specing or making purchasing decisions for your customer’s landscapes, LandSpec Pro offers a simple place for you to go and get what you need, when you need it.   So you can find who and what you need when you need it rather than digging through your inbox, stacks of catalogs, driving around, or waiting for the next trade show to find suppliers and the products you need.</p>

			<p>We're constantly growing and improving LandSpec Pro to better suit your needs. You can come to this page for help and tips on taking full advantage of everything LandSpec Pro has to offer. Your feedback is important to us, if you have any suggestions or questions feel free to send them to us by using the feedback button at the bottom of every page or calling us at: (404) 919-5778.</p>

			<hr>

			<h3><strong>Your Business</strong></h3>

			<a id="yourBusiness" class="anchorDestination"></a>

			<p>Use the "Company" tab to manage company wide business info. For now we've kept things simple by allowing you a company logo, name, and phone number. The phone number for your company is just our way to keep in touch and verify that your company is legitimate. The phone number you give us when you register will never be made public.</p>

			<hr>

			<h3><strong>Your Account</strong></h3>

			<a id="yourAccount" class="anchorDestination"></a>

			<p>In the future there will be many more options, but for now this is a simple way to access and update your username, email address, and password. Your account information is for personal use and none of this information will be visible to anyone other than you.</p>

			<hr>

			<h3><strong>Supplier Profiles</strong></h3>

			<a id="supplierProfiles" class="anchorDestination"></a>

			<p>As you'll see, we've included each supplier's most basic information like their company name, contact info and location. This is how each profile starts. Suppliers have the option to own and enhance their profile as the want to, like uploading their inventory and featured items.</p>

			<hr>

			<h3><strong>Search</strong></h3>

			<a id="search" class="anchorDestination"></a>

			<p>This is allows you to search LandSpec Pro by supplier type, location, product categories, and by featured items.  </p>

			<hr>

			<h3><strong>Featured Products</strong></h3>

			<a id="featuredProducts" class="anchorDestination"></a>

			<p>Suppliers have the option to post up to 3 featured products for you to see. They could could be posting  something unique, a specimen tree,  a product in a hard to find size,  or discounted items you may need. The most recently featured items will be found in the Supplier News Feed and the Featured Product search.</p>
			
			<hr>

			<h3><strong>News Feed</strong></h3>

			<a id="newsfeed" class="anchorDestination"></a>

			<p>This is where supplier updates will be displayed so everyone can see what is new on LandSpec Pro, all in one place. Updates are generated from Supplier Profiles, so when they  add a  to new Featured Product, or upload a new Inventory, those updates will be displayed in the news feed for everyone to see.</p>

			<hr>

			<h3><strong>Follow</strong></h3>

			<a id="follow" class="anchorDestination"></a>

			<p>Now you can get updates from your favorite suppliers by following them on LandSpec Pro. Following allows you to filter the Supplier Newsfeed to only get updates from the suppliers you are interested in. This is a great way to get updated info from just your favorite suppliers. We will be doing more with this feature in the near future, so let us know what you think and what you would like to see.</p>

			<hr>

			<h3><strong>Feedback</strong></h3>

			<a id="feedback" class="anchorDestination"></a>

			<p>Our feedback form is located at the bottom of every page on LandSpec Pro to allow you to easily let us know what you think. Feel free to send in any and all comments and suggestions you have for the site. Your feedback will help us grow and become more useful for the entire landscape community.</p>

			<p>If you're viewing this site on a mobile phone or tablet you can use the "Contact Us" link at the bottom of the page to send us feedback.</p>

			<hr>

			<a href="#top" class="pull-right">Back to Top</a>
		</div>

		<!--<div class="col-md-4 col-md-push-8">   do this if we want to move it to the top-->
		<div class="col-md-4">
			<h2><strong class="pull-left">Helpful Links</strong></h2><br/><br/>
			<a href="<%= user_details_edit_url %>" class="pull-left">Update your user information</a><br/>
			<a href="<%= account_url %>" class="pull-left">Update your account information</a><br/>
			<a href="<%= search_supplier_url %>" class="pull-left">Search for Suppliers</a><br/>
			<a href="<%= search_product_url %>" class="pull-left">Search for Products</a><br/>				
			<a data-toggle="modal" href="#feedbackModal" class="pull-left">Send us Feedback</a><br/>
			<a href="<%= user_details_edit_url %>" class="pull-left">Add a logo</a><br/>
			<br/><br/>
		</div>

	</div>
</div>