<div class="row">

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<center>
			<h1 style="font-size:40px;"><strong>Supplier Help</strong></h1>
			<a id="top" class="anchorDestination"></a>
			<hr>
		</center>
	</div>

</div>

<div class="row" style="margin-left:25px; margin-right:25px;">

	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

		<h2><strong>Contents</strong></h2>

		<ul>
			<li><a href="#overview">Overview</a></li>
			<li><a href="#yourCompany">Your Company</a></li>
			<li><a href="#yourAccount">Your Account</a></li>
			<li><a href="#profile">Profile</a></li>
			<li><a href="#publicProfilesAndSharing">Public Profiles and Sharing Public Profiles</a></li>
			<li><a href="#yourInventory">Your Inventory</a></li>
			<li><a href="#categories">Categories</a></li>
			<li><a href="#featuredItems">Featured Items</a></li>
			<li><a href="#search">Search</a></li>
			<li><span class="label label-warning"><strong>NEW</strong></span> <a href="#newsfeed">News Feed</a></li>
			<li><span class="label label-warning"><strong>NEW</strong></span> <a href="#follow">Follow</a></li>
			<li><a href="#feedback">Feedback</a></li>
		</ul>

		<hr>

		<h3><strong>Overview</strong></h3>

		<a id="overview" class="anchorDestination"></a>

		<p>We are the landscape industry's premier marketing content management system (fancy way of saying all of your important marketing information in one place). Simply put, we offer your customers a simple place to go to find your business and your product information so they don’t have to spend their time digging through inboxes or stacks of catalogs.</p>

		<p>We're constantly growing and improving LandSpec Pro to better suit your needs. You can come to this page for help and tips on taking full advantage of everything LandSpec Pro has to offer. Your feedback is important to us, so if you have any suggestions or questions feel free to send them to us by using the feedback button at the bottom of every page or calling us at: (404) 919-5778</p>

		<hr>

		<h3><strong>Your Company</strong></h3>

		<a id="yourCompany" class="anchorDestination"></a>

		<p>Use the "User Info" tab to manage company wide business info as well as personal information such as your name. The phone number for your company is just our way to keep in touch and verifying that you have a legitimate business. The phone number you give us when you register will never be  made public (unless you use that number for your profile page). Your other company information will be applied to all of your locations.</p>

		<hr>

		<h3><strong>Your Account</strong></h3>

		<a id="yourAccount" class="anchorDestination"></a>

		<p>Is where you  access and update your username, email address, and password. Your account information is for personal use and none of this information will be visible on your profile either.</p>

		<hr>

		<h3><strong>Profile</strong></h3>

		<a id="profile" class="anchorDestination"></a>

		<p><strong>This is the where you'll be spending most of your time.</strong></p>

		<p>By using the "Profile" tab you can view and edit your location profile(s). Most users will only have one location to manage.</p>

		<p>From this page you can view your profile as it is visible to other users on LandSpec Pro. This is also where you add and edit your content, contact info, inventory list, featured items photos and descriptions, categories, and links to other places you can be found on the web.</p>

		<p>If you have more than one location we've made it very simple for you to add and manage them from one account. Once you've added your first location you can find the "Add New Location" button at the bottom of the location edit page of your first location. After you've added a second location, you'll notice you have a new "Manage" page that lists all your locations. From here you can perform all the same actions as if you had one location, but you the information can be applied to all of your locations.</p>

		<hr>

		<h3><strong>Public Profiles and Sharing Public Profiles</strong></h3>

		<a id="publicProfilesAndSharing" class="anchorDestination"></a>

		<p>You now have and can share a public version of your profile with anyone while controlling the content they see and without requiring them to sign up as a LandSpec Pro user. Simply copy and paste your Public Profile link URL to your email signatures, website, text messages, social media sites, or wherever you like, to always give your customers the info they need, when they need it in truly engaging, attractive and powerful way.</p>

		<p>You start out with a randomly generated URL or one produced by our admin team, but you can easily edit your URL and the content it shares by going to your “ Public Profile Settings” tab on your “Edit Location Page”. If you have multiple locations, you'll have to edit each one separately since each location has a unique profile and URL.</p>

		<hr>

		<h3><strong>Your Inventory</strong></h3>

		<a id="yourInventory" class="anchorDestination"></a>

		<p>Now you can upload your Inventory lists (availability, price list, catalog, whatever you like to call it) in any format (Excel, Word, PDF, jpeg, etc.) directly to your LandSpec Pro profile for easy access by customers anytime, anywhere. Your inventories can be added as often as you like, just the way you list it.   It’s as simple as attaching it to an email. When your inventory is added it will appear at the top of the Newsfeed.</p>

		<hr>

		<h3><strong>Categories</strong></h3>

		<a id="categories" class="anchorDestination"></a>

		<p>Categories lets users know what type of supplier you are and what types products you carry at your location(s), for example, “Wholesale Grower” and “Groundcovers”. Categories are searchable on the supplier search page.</p>

		<p>To add or edit your product categories, go to your ‘Edit Location” page. on the “Location Info” tab, simply tag the categories that apply to you and users will be able to find you in searches. Categories added by you will appear in the Newsfeed.</p>

		<hr>

		<h3><strong>Featured Items</strong></h3>

		<a id="featuredItems" class="anchorDestination"></a>

		<p>Your 3 Featured Items (think of them as your order starters) can be added for whatever reason you want. Maybe you have something unique, a product in a hard to find size, or a huge discount on items you're trying to unload quickly. Whatever the reason, you can feature whatever items you wish and update them as often as you like. As a bonus, when you add a new Featured item, it will appear at the top of the Newsfeed. So, if you got something you think your current and future customers should see, why not upload it?</p>
		
		<hr>
		
		<h3><strong>Search</strong></h3>

		<a id="search" class="anchorDestination"></a>

		<p>This is how users will find you when logged in to LandSpec Pro. As a supplier, you can search in the same way buyers can, by supplier type, location, product categories, and by featured items. One important thing to know is that your profile also helps dictate how often you show up in searches. The more complete your profile is, the higher your chance of showing up at the top of the list of suppliers on the site. Adding a company logo, tagline, featured items, and other information to your profile will help improve your ranking.</p>
		
		<hr>

		<h3><strong>News Feed</strong></h3>

		<a id="newsfeed" class="anchorDestination"></a>

		<p>This is where your and other supplier updates will be displayed so everyone can see what is new on LandSpec Pro, all in one place. Updates are generated from your Profile, so when your company is added to LandSpec Pro, when you add a new Featured Product, or upload a new Inventory, those updates will be displayed in the news feed for everyone to see.</p>

		<hr>

		<h3><strong>Follow</strong></h3>

		<a id="follow" class="anchorDestination"></a>

		<p>Now users can follow you on LandSpec Pro. Following allows users to filter the Supplier Newsfeed to only get updates from the suppliers they are interested in, like you. This is a great way to get your content out to your audience in real time. We will be doing more with this feature in the near future, so let us know what you think and what you would like to see.</p>

		<hr>

		<h3><strong>Feedback</strong></h3>

		<a id="feedback" class="anchorDestination"></a>

		<p>Our feedback form is located at the bottom of every page on LandSpec Pro to allow you to easily let us know what you think. Feel free to send in any and all comments and suggestions you have for the site. Your feedback will help us grow and become more useful for the entire landscape community.</p>

		<p>If you're viewing this site on a mobile phone or tablet you can use the "Contact Us" link at the bottom of the page to send us feedback.</p>

		<hr>

		<a href="#top" class="pull-right">Back to Top</a>
	</div>

	<div class="col-md-4 col-md-4 col-sm-12 col-xs-12">
			<h2><strong class="pull-left">Helpful Links</strong></h2><br/><br/>
			<a href="<%= user_details_edit_url %>" class="pull-left">Update your user information</a><br/>
			<a href="<%= account_url %>" class="pull-left">Update your account information</a><br/>
			<% if current_user.user_detail.locations.count == 1 %>		
				<a href="<%= locations_edit_url(:id => current_user.user_detail.locations.first.id) %>" class="pull-left">Update location information</a><br/>
<!-- #publicprofiles
				<a href="<%= locations_edit_url(:id => current_user.user_detail.locations.first.id, :settings => true) %>" class="pull-left">Update Public Profile</a><br/>
-->
				<a href="<%= locations_edit_url(:id => current_user.user_detail.locations.first.id, :products => true) %>" class="pull-left">Add Featured Items</a><br/>
			<% elsif current_user.user_detail.locations.count > 1 %>
				<a href="<%= locations_manage_url %>" class="pull-left">Manage Locations</a><br/>
			<% else %>
				<a href="<%= locations_new_url %>" class="pull-left">Add Your Location</a><br/>
			<% end %>
			<a href="<%= user_details_edit_url %>" class="pull-left">Add a logo</a><br/>
			<a href="<%= search_supplier_url %>" class="pull-left">Search for Suppliers</a><br/>
			<a href="<%= search_product_url %>" class="pull-left">Search for Products</a><br/>	
			<a data-toggle="modal" href="#feedbackModal" class="pull-left">Send us Feedback</a><br/>

<!-- #publicprofiles
			<br/><br/><br/>

			<h2><strong class="pull-right">What's New</strong></h2><br/><br/>
			<div class="row-fluid">
				<div class="span7 offset5">
					<strong class="pull-right"><a href="#publicProfiles">Public Profiles:</a></strong><br/>
					<p style="text-align: right;">We've added in the ability to set up a public-facing profile. This means you can share a link to your LandSpec Pro profile with anyone!</p>
					<strong class="pull-right"><a href="#categories">Categories:</a></strong><br/>
					<p style="text-align: right;">You can now add different Product categories to your profile!</p>
				</div>
			</div>
-->
			<br/><br/>

	</div>

</div>