<%- title "Account Claimed! | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>

<div class="container">
	<div class="alert alert-success center">
		<h3><strong>Success! </strong> You are now signed up for LandSpec Pro!</h3>
	</div>

	<div class="row-fluid">

		<div class="span8">
			<p>Thank you for joining LandSpec Pro! You have successfully claimed your account and can now start finding suppliers and the products they feature with our simple, easy-to-use tool. We recommend that you take a moment to review this communication thoroughly so that  you can get the full picture of what LandSpec Pro offers you as an architect or designer. We are continuing to grow our network of landscape professionals everyday, so spread the word to other landscape architects and designers as well as any landscape suppliers you would like to see add their featured items to LandSpec Pro.</p>

			<h2><strong>What You'll See</strong></h2>

			<h3><strong>Supplier Company Information:</strong></h3>

			<p>As you'll see, we've included each supplier's most basic information like their company name, logo, contact info and location.</p>

			<h3><strong>Location Information:</strong></h3>

			<p>Some LandSpec Pro Suppliers have multiple locations, so you may see separate listings for these suppliers with alternate contact information and featured items.</p>

			<h3><strong>Featured Items:</strong></h3>

			<p>Since we all know where to find the usual, bread-and-butter items, the heart of LandSpec Pro is providing you with a way to find a supplier's featured items. Right now, suppliers can showcase up to three featured items for each of their locations. You will be able to find these items by browsing our supplier listing and viewing their profile, or by searching for the item. We encourage our suppliers to regularly update their featured items as well as their featured item photos.</p>

			<p>Featured items include a photo and suppliers can include a description, size, nd price. In the very near future we will be adding additional features that will make LandSpec Pro even more useful.</p>

			<h3><strong>Search and Favorites:</strong></h3>

			<p>For now, LandSpec's primary function is to allow users to search for specialty items and suppliers. You can review these profiles by using the links on the sidebar. Additionally you can "Favorite" suppliers and their products throughout the site to keep track of suppliers who have what you want.</p>

			<p>We're constantly growing and improving LandSpec Pro to better suit your needs. We've included a feedback button on the bottom of every page, so feel free to send us any feedback, suggestions, or questions about the site. Your input is important to help us improve LandSpec Pro to meet your needs.</p>

			<h5><strong>Thanks again for joining, enjoy!</strong></h5>
		</div>

		<div class="span4">
				<strong style="font-size:20px; text-decoration:underline;" class="pull-right">Get Started</strong><br/><br/>
				<a href="<%= account_url %>" class="pull-right">Update your account information</a><br/>
				<a href="<%= search_supplier_url %>" class="pull-right">Search for Suppliers</a><br/>
				<a href="<%= search_product_url %>" class="pull-right">Search for Products</a><br/>
		</div>

	</div>
</div>

<%= render 'layouts/sidebarend' %>