<%- title "Profile Claimed! | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>

<div class="container">
	<div class="alert alert-success center">
		<h3><strong>Success! </strong> You are now signed up for LandSpec Pro!</h3>
	</div>

	<div class="row-fluid">

		<div class="span8">
			<p>Thank you for joining LandSpec Pro! You have successfully claimed your profile and can now update your profile to include specialty items and featured products.  We recommend that you take a moment to review this communication thoroughly and update your profile so that landscape architects and designers can find you (and your featured items) when they are looking for them.  We are continuing to grow our network of landscape professionals everyday, so spread the word to landscape architects and designers.</p>

			<h3><strong>What Now?</strong></h3>

			<p>Now it's time to update your supplier profile and make it stand out. We've outlined a few steps to get you started below. The more complete your profile is, the higher it will appear in our listings, the more it will stand out and dramatically increase the chances of new customers finding you and your featured items.</p>

			<h3><strong>Company Information</strong></h3>

			<p>As you’ll see, we've included your most basic information into your profile, so the first thing we suggest is that you click on the "Account" button on the sidebar or the drop down menu in the title bar. From here, you can update your account information like Username, Email, and Password.  This is also where you can change your company name, add a tagline, and add your company's logo or profile picture (highly recommended to increase your visibility).</p>

			<h3><strong>Location Information</strong></h3>

			<p>We’ve created LandSpec Pro so that you can manage your actual store location separately from your business account. This allows companies with multiple locations to have a main account as well as separate accounts for each store (don’t worry, if you only have one store location this does not cause any problems).  This is also necessary groundwork for additional features we want to bring you in the future.</p>

			<p>The "Manage" tab on the sidebar or drop down menu provides you access to managing your store location(s). You can go there now to view your location and edit information. You can add in more contact information, links to social networks, and update the “About” section for your business. In the future we'll be rolling out even more customization options to manage your business here.</p>

			<h3><strong>Featured Items</strong></h3>

			<p>At the heart of LandSpec Pro is the ability to feature the items that are most important to you and your customers. Right now, you can showcase up to three featured items for each location. By updating your profile to include photos of your featured or specialty items, your profile will not only be more attractive and visible to buyers, but you are also able to show them what makes you stand out from other suppliers. Whether you have unique or unusual items or sizes or prime quality products, LandSpec Pro allows you to showcase what's special to you and your customers.</p>

			<p>Your featured items are also managed from the "Manage" page. When you go to edit your location you will find a tab for “Featured Items” which will allow you to add and update your items. You can add a description, size, price, and a high-quality image to showcase your product to the landscaping community. In the near future, we will be adding many additional features to help you showcase and categorize your products even more.</p>

			<h3><strong>Search and Favorites</strong></h3>

			<p>For now, LandSpec’s primary function is to allow users to search for specialty items and suppliers. As a LandSpec supplier, you are permitted to view other suppliers using LandSpec and the products they feature. You can review these profiles by using the links on the sidebar, you can bookmark suppliers and their products throughout the site to keep track of your favorites.</p>

			<h3><strong>Active your profile</strong></h3>

			<p>After you have taken some time to explore the site and have updated your profile, <strong>remember to activate your location.</strong>  This action is required before anyone else can see your improved profile or view any of your featured items. The “Activate” button is located on your “Edit Location” page. We're constantly growing and improving LandSpec Pro to better suit your needs. We’ve included a feedback button on the bottom of every page, so feel free to send us any feedback, suggestions, suggestions or questions about the site.</p>

			<h5><strong>Thanks again for joining us!</strong></h5>
		</div>

		<div class="span4">
				<strong style="font-size:20px; text-decoration:underline;" class="pull-right">Get Started</strong><br/><br/>
				<a href="<%= account_url %>" class="pull-right">Update your account information</a><br/>
				<a href="<%= locations_edit_url(:id => @location.id) %>" class="pull-right">Update location information</a><br/>
				<a href="<%= account_url %>" class="pull-right">Add a company logo</a><br/>
				<a href="<%= locations_edit_url(:id => @location.id, :products => true) %>" class="pull-right">Add Featured Items</a><br/>

		</div>

	</div>
</div>

<%= render 'layouts/sidebarend' %>