<%- title "Register | LandSpec Pro" %>
<%- description "Sign up today as a Landscape Buyer or Supplier." %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<% if params[:alert] == "require_register_to_follow" %>
				<br/><br/>
				<div class="alert alert-danger center">
					<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
					<strong>Alert! </strong> You must register to follow suppliers.
				</div>
			<% else %>
				<br/><br/>
			<% end %>
			<div class="login-container">

	<br/><br/>

	<div class="row">
		<div class="position-relative">

			<div class="visible widget-box">
				<div class="widget-header header-color-green2">
					<h4 class="center">Register</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main" id="login-widget-main">

						<%= form_for @user, :html => {:id => 'newUserForm'} do |f| %>

							<!-- Display error messages as alerts -->
							<% @user.errors.each do |field, msg| %>
								<div class="alert alert-danger">
								  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
								  <strong>Error! </strong> <%= msg %>
								</div>
							<% end %>

							<% if @confirmemail %>
								<div class="alert alert-danger">
									<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
									<strong>Error! </strong> Email confirmation does not match!
								</div>
							<% end %>

							<fieldset>
								<div class="form-group">
									<!--[if lt IE 10]>Username:<![endif]-->
									<span class="block input-icon input-icon-right">
										<%= f.text_field :login, :class => 'form-control', :placeholder => "Username", :maxlength => '20', :html => {:id => 'login'} %>
										<i class="icon-user"></i>
									</span>
								</div>
								<div class="form-group">
									<!--[if lt IE 10]>Email:<![endif]-->
									<span class="block input-icon input-icon-right">
										<%= f.text_field :email, :class => 'form-control', :placeholder => "Email" %>
										<i class="icon-envelope-alt"></i>
									</span>
								</div>
								<div class="form-group">
									<!--[if lt IE 10]>Confirm Email:<![endif]-->
									<span class="block input-icon input-icon-right">
										<%= text_field_tag :email_confirmation, params[:email_confirmation], :class => 'form-control', :placeholder => "Confirm Email" %>
										<i class="icon-envelope-alt"></i>
									</span>
								</div>
								<div class="form-group">
									<!--[if lt IE 10]>Password:<![endif]-->
									<span class="block input-icon input-icon-right">
										<%= f.password_field :password, :class => 'form-control', :placeholder => "Password" %>
										<i class="icon-lock"></i>
									</span>
								</div>
								<div class="form-group">
									<!--[if lt IE 10]>Confirm Password:<![endif]-->
									<span class="block input-icon input-icon-right">
										<%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => "Confirm Password" %>
										<i class="icon-lock"></i>
									</span>
								</div>
								<span class="block center">

									<input class="ace" name="user[userType]" id="userTypeSupplier" type="radio" value=<%= STRING_SUPPLIER %> zindex='99999' onclick="checkUserType('<%= STRING_SUPPLIER %>')"/><span class="lbl" onclick="checkUserType('<%= STRING_SUPPLIER %>')" data-rel="popover" data-placement="top" data-trigger="hover" data-content="I sell products to the wholesale landscape trade"> Supplier</span>
									&nbsp;&nbsp;&nbsp;&nbsp;
										<span class="">
									<input class="ace" name="user[userType]" id="userTypeBuyer" type="radio" value=<%= STRING_BUYER %> zindex='99999' onclick="checkUserType('<%= STRING_BUYER %>')"/><span class="lbl" onclick="checkUserType('<%= STRING_BUYER %>')" data-rel="popover" data-placement="top" data-trigger="hover" data-content="I am a landscape industry professional that is seeking landscape supply information"> Buyer</span>
										</span>

								</span>
								<br/>
								<span class="block center">
									<% if params[:terms] %>
										<input class="ace" type="checkbox" id="terms" name="terms" checked>
									<% else %>
										<input class="ace" type="checkbox" id="terms" name="terms"/>
									<% end %>
									<label class="lbl" for="terms"> I agree to the <a href="<%= terms_url %>" target="_BLANK">Terms and Conditions</a></label>
								</span>

								<br/>

								<% if @missingterms %>
									<div class="alert alert-danger">
										<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
										<strong>Error! </strong> You must agree to the terms and conditions.
									</div>
								<% end %>

								<div class="row">
									<div class="col-xs-12">
											<button type="submit" class="btn btn-success btn-block"><i class="icon-key"></i> Register</button>
									</div>
								</div>

							</fieldset>


						<% end %>
						

					</div> <!-- widget-main -->
				</div> <!-- widget-body -->
			</div> <!-- widget-box -->

		</div> <!-- position-relative -->
	</div> <!-- row -->
			</div> <!-- login-container -->
		</div> <!-- span12 -->
	</div> <!-- row -->
</div> <!-- container-fluid -->

<script type="text/javascript">

	$(applyPopovers());

	$("#newUserForm").validate({
		rules: {
			login: "required",
			email: {
				required: true,
				email: true
			}
		},
		errorElement: "span",
		wrapper: "span",
		errorPlacement: function(error, element){
			offset = element.offset();
			error.insertBefore(element);
			error.css('top', offset.top);
			error.css('color', '#CC0000');
		}
	});

	function checkUserType(type){
		if(type == <%= STRING_BUYER %>){
			document.getElementById("userTypeBuyer").checked = true;
		}
		else if(type == <%= STRING_SUPPLIER %>){
			document.getElementById("userTypeSupplier").checked = true;
		}
	}

	<% unless params[:user].blank? %>
		<% if params[:user][:userType] == STRING_SUPPLIER %>
			$(document.getElementById("userTypeSupplier").checked = true);
		<% elsif params[:user][:userType] == STRING_BUYER %>
			$(document.getElementById("userTypeBuyer").checked = true);
		<% end %>
	<% end %>

</script>