<%- title "Register | LandSpec Pro" %>
<%- description "Sign up today as a Landscape Buyer or Supplier." %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">

			<div class="login-container">

	<br/><br/><br/>

	<div class="row-fluid">
		<div class="position-relative">

			<div class="visible widget-box">
				<div class="widget-header header-color-green2">
					<h4 class="center">Register</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main" id="login-widget-main">

						<%= form_for @user, :html => {:id => 'newUserForm'} do |f| %>

							<!-- Display error messages as alerts -->
							<% @user.errors.each do |field, msg| %>
								<div class="alert alert-error">
								  <button type="button" class="close" data-dismiss="alert">&times;</button>
								  <strong>Error! </strong> <%= msg %>
								</div>
							<% end %>

							<% if @confirmemail %>
								<div class="alert alert-error">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									<strong>Error! </strong> Email confirmation does not match!
								</div>
							<% end %>

							<fieldset>
								<!--[if lt IE 10]>Username:<![endif]-->
								<span class="block input-icon input-icon-right">
									<%= f.text_field :login, :class => 'span12', :placeholder => "Username", :maxlength => '20', :html => {:id => 'login'} %>
									<i class="icon-user"></i>
								</span>
								<!--[if lt IE 10]>Email:<![endif]-->
								<span class="block input-icon input-icon-right">
									<%= f.text_field :email, :class => 'span12', :placeholder => "Email" %>
									<i class="icon-envelope-alt"></i>
								</span>
								<!--[if lt IE 10]>Confirm Email:<![endif]-->
								<span class="block input-icon input-icon-right">
									<%= text_field_tag :email_confirmation, params[:email_confirmation], :class => 'span12', :placeholder => "Confirm Email" %>
									<i class="icon-envelope-alt"></i>
								</span>
								<!--[if lt IE 10]>Password:<![endif]-->
								<span class="block input-icon input-icon-right">
									<%= f.password_field :password, :class => 'span12', :placeholder => "Password" %>
									<i class="icon-lock"></i>
								</span>
								<!--[if lt IE 10]>Confirm Password:<![endif]-->
								<span class="block input-icon input-icon-right">
									<%= f.password_field :password_confirmation, :class => 'span12', :placeholder => "Confirm Password" %>
									<i class="icon-lock"></i>
								</span>
								<span class="block center">

									<input name="user[userType]" id="userTypeSupplier" type="radio" value=<%= STRING_VENDOR %> zindex='99999' onclick="checkUserType('supplier')"/><span class="lbl" onclick="checkUserType('supplier')" data-rel="popover" data-placement="top" data-trigger="hover" data-content="Suppliers are retailers of Landscaping Materials such as Equipment, Stone, Plants (nurseries, tree farms, etc.)"> Supplier</span>
									&nbsp;&nbsp;&nbsp;&nbsp;
										<span class="">
									<input name="user[userType]" id="userTypeBuyer" type="radio" value=<%= STRING_BUYER %> zindex='99999' onclick="checkUserType('buyer')"/><span class="lbl" onclick="checkUserType('buyer')" data-rel="popover" data-placement="top" data-trigger="hover" data-content="Buyers are Landscape Professionals such as Contractors, Designers, and Architects."> Buyer</span>
										</span>

								</span>
								<br/>
								<span class="block center">
									<% if params[:terms] %>
										<input type="checkbox" id="terms" name="terms" checked>
									<% else %>
										<input type="checkbox" id="terms" name="terms"/>
									<% end %>
									<label class="lbl" for="terms"> I agree to the <a href="<%= terms_url %>" target="_BLANK">Terms and Conditions</a></label>
								</span>

								<br/>

								<% if @missingterms %>
									<div class="alert alert-error">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>Error! </strong> You must agree to the terms and conditions.
									</div>
								<% end %>

								<div class="row-fluid">
									<div class="pull-right">
										<button type="submit" class="btn btn-success"><i class="icon-key"></i> Register</button>
									</div>
								</div>

							</fieldset>


						<% end %>
						

					</div> <!-- widget-main -->
				</div> <!-- widget-body -->
			</div> <!-- widget-box -->

		</div> <!-- position-relative -->
	</div> <!-- row-fluid -->
			</div> <!-- login-container -->
		</div> <!-- span12 -->
	</div> <!-- row-fluid -->
</div> <!-- container-fluid -->

<script type="text/javascript">

	$(applyPopovers());

	$("#newUserForm").validate({
		rules: {
			login: "required",
			email: {
				required: true,
				email: true
			}
		},
		errorElement: "span",
		wrapper: "span",
		errorPlacement: function(error, element){
			offset = element.offset();
			error.insertBefore(element);
			error.css('top', offset.top);
			error.css('color', '#CC0000');
		}
	});

	function checkUserType(type){
		if(type == 'buyer'){
			document.getElementById("userTypeBuyer").checked = true;
		}
		else if(type == 'supplier'){
			document.getElementById("userTypeSupplier").checked = true;
		}
	}

	<% unless params[:user].blank? %>
		<% if params[:user][:userType] == STRING_VENDOR %>
			$(document.getElementById("userTypeSupplier").checked = true);
		<% elsif params[:user][:userType] == STRING_BUYER %>
			$(document.getElementById("userTypeBuyer").checked = true);
		<% end %>
	<% end %>

</script>