<div class="container center">
	<h1>Register</h1>

		<%= form_for @user, :html => {:class => 'form-horizontal center inline'} do |f| %>
			<%= f.error_messages %>

			<div class="control-group">
				<div class="control-label">
					<%= f.label "Username" %> 
				</div>
				<div class="controls">
					<%= f.text_field :login %>
				</div>
			</div>
			<div class="control-group">
				<div class="control-label">
					<%= f.label "Email" %> 
				</div>
				<div class="controls">
					<%= f.text_field :email %>
				</div>
			</div>
			<div class="control-group">
				<div class="control-label">
					<%= f.label "Password" %>
				</div>
				<div class="controls">
					<%= f.password_field :password %>
				</div>
			</div>
			<div class="control-group">
				<div class="control-label">
					<%= f.label "Confirm Password" %>
				</div>
				<div class="controls">
					<%= f.password_field :password_confirmation %>
				</div>
			</div>
			<div class="control-group">
				<div class="controls form-inline">
					<%= f.radio_button :userType, STRING_VENDOR %> <%= f.label "Vendor" %>
					<%= f.radio_button :userType, STRING_BUYER %> <%= f.label "Buyer" %>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<%= f.submit "Submit", class: "btn btn-primary" %>
				</div>
			</div>

		<% end %>

</div>