<%= render 'layouts/sidebar' %>

	<div class="container">
		<div class="center">
			<h5>A password reset email has been sent to <%= @user.email %></h5>
			<% if @user.is_vendor %>
				<a href=<%= business_vendor_manage_url %>>Go Back</a>
			<% elsif @user.is_buyer %>
				<a href=<%= business_buyer_manage_url %>>Go Back</a>
			<% end %>
		</div>
	</div>

<%= render 'layouts/sidebarend' %>