<%- title "Reset Forgotten Password | LandSpec Pro" %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<div class="login-container">

	<br/><br/><br/>

	<div class="row">
		<div class="position-relative">

			<div class="visible widget-box">
				<div class="widget-header header-color-green2">
					<h4 class="center">Reset Password</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main" id="login-widget-main">

						<%= form_for @user, :url => password_forgot_update_url do |f| %>

							<!-- Display error messages as alerts -->
							<% @user.errors.full_messages.each do |msg| %>
								<div class="alert alert-danger">
								  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
								  <strong>Error! </strong> <%= msg %>
								</div>
							<% end %>

							<fieldset>
								<div class="form-group">
									<!--[if lt IE 10]>Username:<![endif]-->
									<span class="block input-icon input-icon-right">
										<%= f.text_field :login, :class => 'form-control', :placeholder => "Username", :readonly => true %>
										<i class="icon-user"></i>
									</span>
								</div>
								<div class="form-group">
									<!--[if lt IE 10]>Password:<![endif]-->
									<span class="block input-icon input-icon-right">
										<%= f.password_field :password, :class => 'form-control', :placeholder => "New Password" %>
										<i class="icon-lock"></i>
									</span>
								</div>
								<div class="form-group">
									<!--[if lt IE 10]>Confirm Password:<![endif]-->
									<span class="block input-icon input-icon-right">
										<%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => "Confirm New Password" %>
										<i class="icon-lock"></i>
									</span>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="pull-right">
											<button type="submit" class="btn btn-success"><i class="icon-key"></i> Update</button>
										</div>
									</div>
								</div>

							</fieldset>

						<% end %>

					</div> <!-- widget-main -->
				</div> <!-- widget-body -->
			</div> <!-- widget-box -->

		</div> <!-- position-relative -->
	</div> <!-- row-fluid -->
			</div> <!-- login-container -->
			<br/>
			<div class="center">
				<a href="<%= account_url %>">Go Back</a>
			</div>
		</div> <!-- span12 -->
	</div> <!-- row-fluid -->
</div> <!-- container-fluid -->