<div class="container">
	<div class="center">

		<% unless params[:success] %>
			<h5>A password reset email has been sent to <%= @user.email %></h5>
			<% if @user.is_vendor %>
				<a href=<%= supplier_manage_url %>>Go Back</a>
			<% elsif @user.is_buyer %>
				<a href=<%= buyer_manage_url %>>Go Back</a>
			<% end %>

		<% else %>

			<div style="padding-top:25px;">
				<div class="alert alert-success">
				  <strong>Success! </strong> Your password was successfully updated!
				</div>
			</div>
			<% if @user.is_vendor %>
				<a href=<%= supplier_manage_url %>>Go Back</a>
			<% elsif @user.is_buyer %>
				<a href=<%= buyer_manage_url %>>Go Back</a>
			<% end %>

		<% end %>


	</div>
</div>