<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">

			<div class="login-container">

	<br/><br/><br/>

	<div class="row-fluid">
		<div class="position-relative">

			<div class="visible widget-box">
				<div class="widget-header header-color-green2">
					<h4 class="center">Request Invite</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main" id="login-widget-main">

						<%= form_for @invite, :url => {:action => :create_invite} do |f| %>

							<!-- Display error messages as alerts -->
							<% @invite.errors.each do |field, msg| %>
								<div class="alert alert-error">
								  <button type="button" class="close" data-dismiss="alert">&times;</button>
								  <strong>Error! </strong> <%= msg %>
								</div>
							<% end %>

							<fieldset>
								<!--[if lt IE 10]>Email:<![endif]-->
								<span class="block input-icon input-icon-right">
									<%= f.text_field :email, :class => 'span12', :placeholder => "Email" %>
									<i class="icon-envelope-alt"></i>
								</span>
								<!--[if lt IE 10]>Business Name:<![endif]-->
								<span class="block input-icon input-icon-right">
									<%= f.text_field :busName, :class => 'span12', :placeholder => "Business Name" %>
									<i class="icon-briefcase"></i>
								</span>

								<div class="center"><p style="font-size:19px;">State:</p></div>
								<span class="block center">
									<%= f.select :state, get_states, :class => 'span12' %>
								</span>


								<span class="block center">

									<input name="invite[userType]" id="userType" type="radio" value=<%= STRING_VENDOR %> /><span class="lbl"> Supplier</span>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input name="invite[userType]" id="userType" type="radio" value=<%= STRING_BUYER %> /><span class="lbl"> Buyer</span>
								</span>

								<br/>

								<div class="row-fluid">
									<div class="pull-right">
										<button type="submit" class="btn btn-success"><i class="icon-key"></i> Register</button>
									</div>
								</div>

							</fieldset>


						<% end %>
						

					</div> <!-- widget-main -->
				</div> <!-- widget-body -->
			</div> <!-- widget-box -->

		</div> <!-- position-relative -->
	</div> <!-- row-fluid -->
			</div> <!-- login-container -->
		</div> <!-- span12 -->
	</div> <!-- row-fluid -->
</div> <!-- container-fluid -->

<%= render 'layouts/footer' %>

<script type="text/javascript">

	$(applyChosenStyle());

</script>