<div class="timeline-item clearfix">

	<!-- Icon to the side -->
	<div class="timeline-info">

		<% @loc = Location.find(i.location_id) %>
		<a href="<%= main_url(:only_locations => true) %>" data-rel="tooltip" class="tooltip-success" data-placement="right" data-original-title="Show Only New Locations">
			<i class="timeline-indicator icon-globe btn btn-success"></i>
		</a>

	</div>

	<!-- Main item -->
	<div class="widget-box transparent">

		<!-- Header -->
		<div class="widget-header widget-header-small">

			<!-- Text -->
			<h5>
				<a href="<%= locations_view_url(:id => i.location_id) %>" class="blue">
					<%= @loc.busName %>
				</a>
				<span class="grey">just added a new location.</span>
			</h5>

			<!-- Timestamp 
			<span class="widget-toolbar no-border" style="margin-right:10px;">
				<i class="icon-time bigger-110"></i>
				<%= format_date_and_time(i.created_at) %>
			</span>  -->

		</div>

		<!-- Main Content -->
		<div class="widget-body">
			<div class="widget-main">

				<div class="row-fluid">
					<div class="span12">

						<a href="<%= get_map_link_from_address(@loc.get_full_address) %>" title="View on Google Maps" target="_blank">
							<img src="<%= get_static_map_custom(@loc.get_full_address, '300', '300') %>" class="pull-left" style="margin-right:20px;" title="<%= @loc.busName %>" height="300px" width="300px" />
						</a>

						<span>
							<% unless @loc.locName.blank? %>
								<h2>
									<a href="<%= locations_view_url(:id => i.location_id) %>" style="color:green;">
										<%= @loc.locName %>
									</a>
								</h2>
							<% else %>
								<h2>
									<a href="<%= locations_view_url(:id => i.location_id) %>" style="color:green;">
										<%= @loc.busName %>
									</a>
								</h2>
							<% end %>
							<span style="">
								<strong>Phone:</strong>&nbsp;<%= @loc.primaryPhone %>

								<% unless @loc.primaryEmail.blank? %>
									<br/><br/>
									<strong>Email:</strong>&nbsp;<%= @loc.primaryEmail %>
								<% end %>

								<br/><br/>
								<strong>Address:</strong><br/>
								<%= @loc.address1 %>
								<% unless @loc.address2.blank? %>
									<%= "<br/>".html_safe + @loc.address2 %>
								<% end %>
								<br/>
								<%= @loc.city + ", " + @loc.state + " " + @loc.zip %>
							</span>
						</span>

					</div>
				</div>

			</div>
		</div>

	</div> <!-- Main Item -->

</div>