<div class="timeline-item clearfix">

	<!-- Icon to the side -->
	<div class="timeline-info">

		<% @loc = Location.find(i.location_id) %>
		<a href="<%= main_url(:only_featured_items => true) %>" data-rel="tooltip" class="tooltip-success" data-placement="right" data-original-title="Show Only Featured Items">
			<i class="timeline-indicator icon-star btn btn-purple"></i>
		</a>

	</div>

	<!-- Main item -->
	<div class="widget-box transparent">

		<!-- Header -->
		<div class="widget-header widget-header-small">

			<!-- Text -->
			<h5>
				<a href="<%= locations_view_url(:id => i.location_id) %>" class="blue">
					<%= @loc.busName %>
				</a>
				<span class="grey">just added a new featured item.</span>
			</h5>

			<!-- Timestamp 
			<span class="widget-toolbar no-border" style="margin-right:10px;">
				<i class="icon-time bigger-110"></i>
				<%= format_date_and_time(i.created_at) %>
			</span> -->

		</div>

		<!-- Main Content -->
		<div class="widget-body">
			<div class="widget-main">

				<!-- TODO: Link the name to the popup -->

				<div class="row">
					<div class="col-lg-11 col-sm-11">
						<ul class="ace-thumbnails pull-left" style="margin-right:20px;">

							<li>
								<div>
									<img src="<%= @fi.get_image.url(:medium) %>"  title="<%= @fi.commonName %>" />

									<% if @fi.is_favorited(current_user) %>
										<div class="tags">
											<span class="label label-info arrowed">Favorited!</span>
										</div>
									<% end %>

									<div class="text">
										<div class="inner">

											<span>
												<p style="font-size:18px;">
													<%= @fi.commonName %>
												</p>
											</span>

											<span data-rel="popover" data-placement="bottom" data-container="body" data-trigger="hover" data-content="View Larger">
												<a href="<%= @fi.get_image.url(:original) %>" data-rel="colorbox" title="<%= @fi.commonName %>">
													<i class="icon-zoom-in"></i>
												</a>
											</span>

											<% if @fi.is_favorited(current_user) %>
												<a data-rel="popover" data-placement="bottom" data-container="body" data-trigger="hover" data-content="Remove From Favorites" id="fav_product" href=<%= products_favorite_set_url(:id => @fi.id) %>><i  class="icon-bookmark" id="fav_icon"></i></a>
											<% else %>
												<a data-rel="popover" data-placement="bottom" data-container="body" data-trigger="hover" data-content="Add To Favorites" id="fav_product" href=<%= products_favorite_set_url(:id => @fi.id) %>><i  class="icon-bookmark-empty" id="fav_icon"></i></a>
											<% end %>

											<a data-rel="popover" data-placement="bottom" data-container="body" data-trigger="hover" data-content="View Location" href=<%= locations_view_url(:id => @fi.location_id) %>>
												<i class="icon-globe"></i>
											</a>
											<% @featureditem = @fi %>
											<span data-container="body" >
											<a data-rel="popover" data-placement="bottom" data-container="body" data-trigger="hover" data-content="More Info" href="<%= '#' + @featureditem.id.to_s + 'productInfoModal' %>" data-toggle="modal">
												<i class="icon-info-sign"></i>
											</a></span>
										</div>
									</div>
								</div>
							</li>
						</ul>

						<span>
							<h2 class="blue"><%= @fi.commonName %></h2>
							<span style="">
								<% unless @fi.price.blank? or @fi.price.to_f < 0.01 %>
									<strong>Price:</strong>&nbsp;<%= "$%8.2f" % @fi.price.to_f %>
									<br/><br/>
								<% end %>
								<% unless @fi.size.blank? %>
									<strong>Size:</strong>&nbsp;<%= @fi.size %>
									<br/><br/>
								<% end %>
								<% unless @fi.description.blank? %>
									<p style="max-width:410px; overflow:hidden; display:block;">
										<strong>Description:</strong>&nbsp;
										<%= truncate(@fi.description.gsub(/\n/,'<br/>'), :length => 500, :omission => '<strong title="More"> ...</strong>').html_safe %>
									</p>
								<% end %>
							</span>
						</span>
					</div>
				</div>

				<% @featureditem = @fi %>
				<%= render 'products/productinfomodal' %>
												
			</div>
		</div>

	</div> <!-- Main Item -->

</div>