<!-- GUESTCODE -->
<%- title "News Feed | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>

	<% if current_user.id == 999 %>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<center>
					<div class="alert alert-warning">
						<strong>Alert!</strong> You are signed in as a guest and therefore you cannot update any account related fields. You can however still search and view other suppliers and buyers on the site. If you would like to join, just logout from the dropdown menu at the top of the page and you should find the register button on the home page. Enjoy this preview of LandSpec Pro!
					</div>
				</center>
			</div>
		</div>
	<% end %>

	<div id="timeline-1" style="margin-top:0; padding-top:0;">
		<div class="row">

			<%= render 'news_feed/follow' %>

			<div class="col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4">

				<h4><strong>Filters:</strong></h4>
				<ul class="nav nav-pills">

					<li id="filterAll">
						<a href="<%= main_url %>">All</a>
					</li>
					<li id="filterFeaturedItems">
						<a href="<%= main_url(:only_featured_items => true) %>">Only Featured Items</a>
					</li>
					<li id="filterSuppliers">
						<a href="<%= main_url(:only_new_suppliers => true) %>">Only Suppliers</a>
					</li>
					<li id="filterLocations">
						<a href="<%= main_url(:only_locations => true) %>">Only Locations</a>
					</li>
					<li id="filterInventories">
						<a href="<%= main_url(:only_inventories => true) %>">Only Inventories</a>
					</li>
					<% if Follow.where(:active => true, :user_id => current_user.id).count > 0 %>
						<li id="filterFollowing">
							<a href="<%= main_url(:only_following => true) %>">Only Suppliers I Follow</a>
						</li>
					<% end %>

				</ul>

				<br/>

				<script type="text/javascript">

					<% if params[:only_featured_items] %>
						$('#filterFeaturedItems').addClass('active');
					<% elsif params[:only_new_suppliers] %>
						$('#filterSuppliers').addClass('active');
					<% elsif params[:only_inventories] %>
						$('#filterInventories').addClass('active');
					<% elsif params[:only_locations] %>
						$('#filterLocations').addClass('active');
					<% elsif params[:only_following] %>
						$('#filterFollowing').addClass('active');
					<% else %>
						$('#filterAll').addClass('active');
					<% end %>

				</script>

				<div class="timeline-container">

					<!-- HEADER -->
					<div class="timeline-label">
						<span class="label label-primary arrowed-in-right label-large" style="padding:3px;">
							<% if params[:only_featured_items] %>
								<span>Featured Items</span>
							<% elsif params[:only_new_suppliers] %>
								<span>New Suppliers</span>
							<% elsif params[:only_inventories] %>
								<span>Inventories</span>
							<% elsif params[:only_locations] %>
								<span>Locations</span>
							<% else %>
								<span>All Updates</span>
							<% end %>
						</span>
					</div>

					<!-- Timeline Items -->
					<div class="timeline-items">
						<% @items.all.each do |i| %>

							<% unless User.find(i.user_id).verified == false or User.find(i.user_id).active == false %>
					
									<% unless (i.item_type == NEW_FEATURED_ITEM and (User.find(UserDetail.find(FeaturedItem.find(i.item_id).location.user_detail_id).user_id).verified == false or Location.find(i.location_id).active == false)) \
											or (i.item_type == FIRST_INVENTORY and (User.find(UserDetail.find(Inventory.find(i.item_id).location.user_detail_id).user_id).verified == false or Location.find(i.location_id).active == false)) \
											or (i.item_type == NEW_INVENTORY and (User.find(UserDetail.find(Inventory.find(i.item_id).location.user_detail_id).user_id).verified == false or Location.find(i.location_id).active == false)) \
											or (i.item_type == NEW_LOCATION and Location.find(i.item_id).active == false) %>

										<!-- TODO: This is where there would be a loop for all the news feed items. Something would need to be done with not loading them all at once also. Some way to paginate, but without paginating. Maybe AJAX to pull in 25 at a time or something. I'll figure it out -->

										<% if i.item_type == FIRST_INVENTORY %>
											<%= render 'news_feed/firstinventory_item', :i => i %>
										<% elsif i.item_type == NEW_INVENTORY %>
											<%= render 'news_feed/newinventory_item', :i => i %>
										<% elsif i.item_type == NEW_SUPPLIER %>
											<%= render 'news_feed/newsupplier_item', :i => i %>
										<% elsif i.item_type == NEW_FEATURED_ITEM %>
											<% @fi = FeaturedItem.find(i.item_id) %>
											<% if @fi.active %>
												<%= render 'news_feed/newfeatureditem_item', :i => i %>
											<% end %>
										<% elsif i.item_type == NEW_LOCATION %>
											<%= render 'news_feed/newlocation_item', :i => i %>
										<% end %>

									<% end %>
							<% end %>
						<% end %>
					</div> <!-- timeline-items -->



				</div> <!-- timeline-container -->
			</div> <!-- span size -->

		</div> <!-- row-fluid -->
	</div> <!-- timeline-1 -->

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">
	
	$(applyColorbox());
	$(applyPopovers());

</script>