<%- title "News Feed | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>


	<div id="timeline-1">
		<div class="row-fluid">
			<div class="span8">
				
				<strong>Filters:</strong>
				<ul class="nav nav-pills">

					<li id="filterAll">
						<a href="<%= main_url %>">All</a>
					</li>
					<li id="filterFeaturedItems">
						<a href="<%= main_url(:only_featured_items => true) %>">Only Featured Items</a>
					</li>
					<li id="filterSuppliers">
						<a href="<%= main_url(:only_new_suppliers => true) %>">Only Suppliers</a>
					</li>
					<li id="filterLocations">
						<a href="<%= main_url(:only_locations => true) %>">Only Locations</a>
					</li>
					<li id="filterInventories">
						<a href="<%= main_url(:only_inventories => true) %>">Only Inventories</a>
					</li>
				</ul>

				<script type="text/javascript">

					<% if params[:only_featured_items] %>
						$('#filterFeaturedItems').addClass('active');
					<% elsif params[:only_new_suppliers] %>
						$('#filterSuppliers').addClass('active');
					<% elsif params[:only_inventories] %>
						$('#filterInventories').addClass('active');
					<% elsif params[:only_locations] %>
						$('#filterLocations').addClass('active');
					<% else %>
						$('#filterAll').addClass('active');
					<% end %>

				</script>

				<div class="timeline-container">

					<!-- HEADER -->
					<div class="timeline-label">
						<span class="label label-primary arrowed-in-right label-large">
							<% if params[:only_featured_items] %>
								<b>Featured Items</b>
							<% elsif params[:only_new_suppliers] %>
								<b>New Suppliers</b>
							<% elsif params[:only_inventories] %>
								<b>Inventories</b>
							<% elsif params[:only_locations] %>
								<b>Locations</b>
							<% else %>
								<b>All Updates</b>
							<% end %>
						</span>
					</div>

					<!-- Timeline Items -->
					<div class="timeline-items">
						<% @items.all.each do |i| %>
					
							<% unless (i.item_type == NEW_SUPPLIER and (User.find(i.user_id).verified == false or User.find(i.user_id).active == false)) \
									or (i.item_type == NEW_FEATURED_ITEM and FeaturedItem.find(i.item_id).location.bus_vendor.user.verified == false) \
									or (i.item_type == FIRST_INVENTORY and Inventory.find(i.item_id).location.bus_vendor.user.verified == false) \
									or (i.item_type == NEW_INVENTORY and Inventory.find(i.item_id).location.bus_vendor.user.verified == false) \
									or (i.item_type == NEW_LOCATION and Location.find(i.item_id).active == false) %>

								<!-- TODO: This is where there would be a loop for all the news feed items. Something would need to be done with not loading them all at once also. Some way to paginate, but without paginating. Maybe AJAX to pull in 25 at a time or something. I'll figure it out -->

								<% if i.item_type == FIRST_INVENTORY %>
									<%= render 'news_feed/firstinventory_item', :i => i %>
								<% elsif i.item_type == NEW_INVENTORY %>
									<%= render 'news_feed/newinventory_item', :i => i %>
								<% elsif i.item_type == NEW_SUPPLIER %>
									<%= render 'news_feed/newsupplier_item', :i => i %>
								<% elsif i.item_type == NEW_FEATURED_ITEM %>
									<%= render 'news_feed/newfeatureditem_item', :i => i %>
								<% elsif i.item_type == NEW_LOCATION %>
									<%= render 'news_feed/newlocation_item', :i => i %>
								<% end %>

							<% end %>
						<% end %>
					</div> <!-- timeline-items -->



				</div> <!-- timeline-container -->
			</div> <!-- span size -->

		</div> <!-- row-fluid -->
	</div> <!-- timeline-1 -->

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">
	
	$(applyColorbox());
	$(applyPopovers());

</script>