<h1>New Invite</h1>

Email: <%= @email %><br/><br/>

User Type: <%= @userType %><br/><br/>

Business Name: <%= @busName %><br/><br/>

Business Type: <%= @busType %><br/><br/>

Business State: <%= @state %><br/><br/>