<h2>New User</h2>
A new user has been added to LandSpec Pro that needs to be verified.
<br/><br/>
<strong>Username:</strong> <%= @username %><br/>
<strong>Email:</strong> <%= @email %><br/>
<strong>User Type:</strong> <%= @userType %><br/>
<br/>
<strong>Business Name:</strong> <%= @busName %><br/>
<strong>Business Phone:</strong> <%= @busPhone %><br/>
<br/>
Use the following link to verify this user. All users should be verified when joining. For suppliers, any new locations they add will not be automatically activated until they are verified. You can also use the Activation feature to de-activate accounts that do not seem legitimate. De-activating an account will log them out of the website and they will not be able to log back in until they have been re-activated.
<br/><br/>
<a href="http://admin.landspecpro.com/user/view?id=<%= @userid %>">User Information - Admin Panel</a>