<div class="container">
	<h1>Account Info</h1>

	<div class="center">
		<h3>Username: <%= @user.login %></h3>
		<h3>Email: <%= @user.email %></h3>
		<h3>User Type: <%= @user.userType %></h3>
		<h3>Company Name: <%= @user.get_bus_name %></h3>
		<% if @user.is_vendor %>
			<h3>Logo:</h3>
		<% elsif @user.is_buyer %>
			<h3>Profile Image:</h3>
		<% end %>
		<%= image_tag @user.get_logo.url %>
	</div>

	<div class="center">
		<br/><br/>
		<!-- Remove this later, but it is a good example -->
		<% if @user.is_vendor %>
			<h3><%= link_to "Add a new location", business_vendor_locations_new_url %></h3>
		<% end %>
		<form action = <%= account_search_url %> >
			<input type="text" name="searchfor"> <button type="submit" class="btn btn-primary">Search</button>
		</form>
		<br/>
		<h3>Search Log:</h3>
		<% @user.search_logs.each do |s| %>
			<p><%= s.searchTerm %></p>
		<% end %>
		<br/>
	</div>
</div>