<div class="container">
	<h1>Account Info</h1>

	<div class="center">
		<h3>Username: <%= @user.login %></h3>
		<h3>Email: <%= @user.email %></h3>
		<h3>User Type: <%= @user.userType %></h3>
		<h3>Company Name: <%= @user.get_bus_name %></h3>
		<% if @user.is_vendor %>
			<h3>Logo:</h3>
		<% elsif @user.is_buyer %>
			<h3>Profile Image:</h3>
		<% end %>
		<%= image_tag @user.get_logo.url %>
	</div>


	<div class="center">
		<br/><br/>
		<!-- Remove this later, but it is a good example -->
		<% if @user.is_vendor %>
			<h3><%= link_to "Add a new location", business_locations_new_url %></h3>
		<% end %>
		<form action = <%= account_search_url %> >
			<input type="text" name="searchfor"> <button type="submit" class="btn btn-primary">Search</button>
		</form>
		<br/>
		<h3>Search Log:</h3>
		<% @user.search_logs.each do |s| %>
			<p><%= s.searchTerm %></p>
		<% end %>
		<br/>
		<h3>Locations:</h3>
		<table border="1">
			<tr>
				<th>Location Name</th>
				<th>Primary Phone</th>
				<th>Secondary Phone</th>
				<th>Fax</th>
				<th>Address 1</th>
				<th>Address 2</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Primary Email</th>
				<th>Secondary Email</th>
			</tr>
			<% @user.bus_vendor.locations.each do |l| %>
				<tr>
					<td><%= l.locName %></td>
					<td><%= l.primaryPhone %></td>
					<td><%= l.secondaryPhone %></td>
					<td><%= l.fax %></td>
					<td><%= l.address1 %></td>
					<td><%= l.address2 %></td>
					<td><%= l.city %></td>
					<td><%= l.state %></td>
					<td><%= l.zip %></td>
					<td><%= l.primaryEmail %></td>
					<td><%= l.secondaryEmail %></td>
				</tr>
			<% end %>
		</table>
</div>