<div class="container">
	<h1>Account Info</h1>

	<div class="center">
		<h3>Username: <%= @user.login %></h3>
		<h3>Email: <%= @user.email %></h3>
		<h3>User Type: <%= @user.userType %></h3>
		<h3>Company Name: <%= @user.get_bus_name %></h3>
		<% if @user.is_vendor %>
			<h3>Logo:</h3>
		<% elsif @user.is_buyer %>
			<h3>Profile Image:</h3>
		<% end %>
		<%= image_tag @user.get_logo.url %>
	</div>



	<!-- Remove this later, but it is a good example -->
	<h3><%= link_to "Search for cats", account_cat_url %></h3>
	<h3><%= link_to "Search for:", account_search_url %> 
		<%= text_field_tag 'searchfor'%></h3>
	<% @user.search_logs.each do |s| %>
		<p><%= s.searchTerm %></p>
	<% end %>

	<!-- REMOVE THIS LATER -->


</div>