<div class="table-header header-color-green2">
	<%= @featureditems.count %> Products Found 
	<span class="pull-right" style="padding-right:15px;">Grid View</span>
</div>

<br/>
<% @featureditems.each do |fi| %>


			<ul class="ace-thumbnails">
				
				<li>
					<div>
						<%= image_tag fi.get_image.url, :title => fi.get_product.commonName %>

						<% if fi.is_favorited(current_user) %>
							<div class="tags">
								<span class="label label-info arrowed">Favorited!</span>
							</div>
						<% end %>

						<div class="text">
							<div class="inner">

								<span>
									<p style="font-size:18px;" data-rel="popover" data-content="<%= 
									unless fi.description.blank?
										fi.description.gsub(/\n/,'<br/>').html_safe 
									else
										'No description available'
									end

									%>" data-placement="top" data-trigger="hover">
										<%= fi.get_product.commonName %>
									</p>
								</span>

								<% unless Location.find(fi.location_id).distance_from(@setlocation).to_s == 'NaN' %>
									<span><p style="font-size:15px;"><%= "%8.1f" % Location.find(fi.location_id).distance_from(@setlocation) %> miles away</p></span>
								<% end %>

								<a href="<%= fi.get_image.url(:original) %>" data-rel="colorbox" title="<%= fi.get_product.commonName %>">
									<i class="icon-zoom-in"></i>
								</a>

								<% if fi.is_favorited(current_user) %>
									<a title="Remove from favorites" id="fav_product" href=<%= products_favorite_set_url(:id => fi.id) %>><i  class="icon-bookmark" id="fav_icon"></i></a>
								<% else %>
									<a title="Add to favorites" id="fav_product" href=<%= products_favorite_set_url(:id => fi.id) %>><i  class="icon-bookmark-empty" id="fav_icon"></i></a>
								<% end %>

								<a href=<%= locations_view_url(:id => fi.location_id) %>>
									<i class="icon-globe" title="View Location"></i>
								</a>
							</div>
						</div>
					</div>
				</li>

			</ul>
		


	<% @resultnum = @resultnum + 1 %>

<% end %>