<%= form_tag products_search_path, :method => 'get', :class => 'form-inline' do %>

<div class="row-fluid">
	<div class="span6">

		<%= hidden_field_tag :view, params[:view] %>
		<span class="input-icon input-icon-right">
			<select id='search' name='search' class="chzn-select" data-placeholder="Search by Product Name...">
				<option selected="selected"></option>
  				<% Product.where(:active => true).order('"commonName" ASC').each do |prod| %>
  					<% if FeaturedItem.where(:active => true, :product_id => prod.id).count > 0 and prod.has_active_featureditem %>
  						<option><%= prod.commonName %></option>
  					<% end %>
  				<% end %>
  			</select><%= submit_tag "Search", :class => "btn btn-success btn-small" %>
			<p style="font-size:12px;">Leave blank to search all products.</p>
			<!--<i id="nav-search-icon" class="icon-search"></i>-->
		</span>
	</div>
	
	<div class="span6">
			<div class="pull-right">
				

				<div class="accordion" id="searchFiltersHeader">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#searchFilters" data-parent="#searchFiltersHeader" data-toggle="collapse" class="accordion-toggle collapsed">
								Search Filters...
							</a>
						</div>

						<% if params[:distance_from] == '0' or params[:distance_from].blank? %>
							<div class="accordion-body collapse" id="searchFilters" zindex="-1">
						<% else %>
							<div class="accordion-body" id="searchFilters" zindex="-1">
						<% end %>

							<div class="accordion-inner">
								Distance From:
								<%= number_field_tag :distance_from, params[:distance_from], in: 0...10000, :style => 'z-index: 99999999;', :class => 'input-small' %>
								miles
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
		
<% end %>