<%= render 'layouts/sidebar' %>

	<div class="row-fluid">
		<% Product.order('"commonName" asc').where(:active => true).each do |p| %>
			<div class="well">
				<div class="row-fluid">
					<div class="span3">
						<p>
							<span style="font-size:25px;"><%= p.commonName %></span><br/>
							<i style="font-size:12px;"><%= p.latinName %></i>
						</p>
					</div>
					<div class="span9">
						<ul class="ace-thumbnails">
							<% p.get_all_images.each do |pi| %>

								

									<li>
										<%= image_tag pi.image.url(:thumb) %>
									</li>

								


							<% end %>
						</ul>

					</div>
				</div>
			</div>
		<% end %>
	</div>

<%= render 'layouts/sidebarend' %>