<%- title "Edit " + @featureditem.get_product.commonName + " | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>

<div class="row">

	<div class="col-lg-5 col-xs-12 col-xs-push-12 center">

		<h1 class="font-marmelad-black"><%= @product.commonName %></h1>

		<a href="<%= @image.url(:original) %>" data-rel="colorbox" title="<%= @product.commonName %>">
			<%= image_tag @image.url(:large), :title => @product.commonName %>
		</a>

	</div>


	<div class="col-lg-5 col-md-10 col-md-offset-1 col-xs-12 col-xs-pull-12">

		<br/><br/><br/><br/>

		<%= form_for @featureditem, :url => {:action => :update_featured_item, :controller => :locations}, :html => {:id => 'form_update_featured_item'} do |f| %>
			<div class="widget-box">
				<div class="widget-header header-color-green2">
					<h5 class="bigger lighter"><i class="icon-star"></i> Edit Featured Item</h5>
					<div class="widget-toolbar">
						<a href="javascript:{return true;}" onclick="document.getElementById('form_update_featured_item').submit();" title="Update" class="white" id="white-link">
							<i  class="icon-save" id="fav_icon"></i> Update</a>
						</a>
					</div>
				</div>


				<div class="widget-body">

					<div class="widget-main">

						<!-- Display error messages as alerts -->
						<% @featureditem.errors.full_messages.each do |msg| %>
							<div class="alert alert-danger center">
							  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
							  <strong>Error! </strong> <%= msg %>
							</div>
						<% end %>

						<fieldset>

							<%= hidden_field_tag(:id,  @featureditem.id) %>

							<div class="form-group">
								Description (optional):
								<div class="block input-icon input-icon-right">
									<%= f.text_area :description, :class => 'form-control', :id => 'description', :value => @featureditem.description, :rows => '3', :style => 'resize: none;' %>
								</div>
							</div>

							<div class="row">
							
								<div class="col-xs-6">
									<div class="form-group">
										Size (optional):
										<div class="block input-icon input-icon-right">
											<%= f.text_field :size, :class => 'form-control', :id => 'size', :value => @featureditem.size %>
										</div>
									</div>
								</div>
								
								<div class="col-xs-3 col-xs-offset-1">
									<div class="form-group">
										Price (optional):
										<div class="block">
											<%= f.text_field :price, :class => 'form-control input-mask-price', :id => 'price', :value => "$%8.2f" % @featureditem.price.to_f %>
											
										</div>
									</div>
								</div>

							</div>

							<div class="form-group">
								Image: 
								<%= f.file_field :image %>
							</div>

						</fieldset>

					</div>

				</div>

				

			</div>
			<br/>

		<% end %>




	</div>

</div>

<% @prodinfopreview = true %>
<%= render 'products/productinfomodal' %>

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyColorbox());
	$(applyPopovers());
	$(applyMasks());

	$('#ace-file-upload').ace_file_input({
      no_file:'Optional Business Logo Upload...',
      btn_choose:'Choose',
      btn_change:'Change',
      icon_remove:null,
      droppable:false,
      thumbnail:false
    });

	// Success messages
	<% if params[:update_featured_item_success] %>
		$(showUpdateSuccessGritter('<%= @featureditem.get_product.commonName %> has been updated.'));
	<% end %>

</script>