<%= render 'layouts/sidebar' %>

<div class="row-fluid">

	<div class="span12 center">

		<h1 class="font-marmelad-black"><%= @product.commonName %></h1>

		<a href="<%= @image.url(:original) %>" data-rel="colorbox" title="<%= @product.commonName %>">
			<%= image_tag @image.url(:large), :title => @product.commonName %>
		</a>

	</div>

</div>

<br/>

<div class="row-fluid">

	<div class="span6 offset3">

		<%= form_for @featureditem, :url => {:action => :update_featured_item, :controller => :locations}, :html => {:id => 'form_update_featured_item'} do |f| %>
			<div class="widget-box">
				<div class="widget-header header-color-green2">
					<h5 class="bigger lighter"><i class="icon-star"></i> Edit Featured Item</h5>
					<div class="widget-toolbar">
						<a href="javascript:{return true;}" onclick="document.getElementById('form_update_featured_item').submit();" title="Update" class="white" id="white-link">
							<i  class="icon-save" id="fav_icon"></i> Update</a>
						</a>
					</div>
				</div>


				<div class="widget-body">

					<div class="widget-main">

						<!-- Display error messages as alerts -->
						<% @featureditem.errors.full_messages.each do |msg| %>
							<div class="alert alert-error center">
							  <button type="button" class="close" data-dismiss="alert">&times;</button>
							  <strong>Error! </strong> <%= msg %>
							</div>
						<% end %>

						<fieldset>

							<%= hidden_field_tag(:id,  @featureditem.id) %>

							Description (optional):
							<div class="block input-icon input-icon-right">
								<%= f.text_area :description, :class => 'span12', :id => 'description', :value => @featureditem.description, :rows => '3', :style => 'resize: none;' %>
							</div>

							<div class="row-fluid">
								<div class="span6">
									Size (optional):
									<div class="block input-icon input-icon-right">
										<%= f.text_field :size, :class => 'span12', :id => 'size', :value => @featureditem.size %>
									</div>
								</div>
								<div class="span3 offset1">
									Price (optional):
									<div class="block">
										<%= f.text_field :price, :class => 'span12 input-mask-price', :id => 'price', :value => "$%8.2f" % @featureditem.price.to_f %>
										
									</div>
								</div>
							</div>

							Image: 
							<div class="block input-icon input-icon-right">
								<%= f.file_field :image, :class => 'span12', :id => 'image' %>
							</div>

						</fieldset>

					</div>

				</div>

				

			</div>
			<br/>

		<% end %>




	</div>

</div>

<% @prodinfopreview = true %>
<%= render 'products/productinfomodal' %>

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyColorbox());
	$(applyPopovers());
	$(applyMasks());

	// Success messages
	<% if params[:update_featured_item_success] %>
		$(showUpdateSuccessGritter('<%= @featureditem.get_product.commonName %> has been updated.'));
	<% end %>

</script>