<%= render 'layouts/sidebar' %>

<% if @featureditems.nil? %>
	<%= render 'search' %>
<% else %>
	<%= render 'search' %>
	<div class="row-fluid">
		<div class="span12">
			<% if @featureditems.count == 0 %>
				<div class="center"><br/>
					<h3>0 products were found!</h3>
				</div>
			<% else %>
				<% if params[:view] == 'list' %>
					<%= render 'searchresultlist' %>
				<% elsif params[:view] == 'grid' %>
					<%= render 'searchresultgrid' %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyChosenStyle());
	$(applyColorbox());
	$(applyPopovers());

</script>

