<%- title "View Product | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>

<div class="row-fluid">

	<div class="span12 center">

		<h1 class="font-marmelad-black"><%= @product.commonName %></h1>

		<a href="<%= @image.url(:original) %>" data-rel="colorbox" title="<%= @product.commonName %>">
			<%= image_tag @image.url(:large), :title => @product.commonName %>
		</a>

	</div>

</div>

<br/>

<div class="row-fluid">

	<div class="span6 offset3">

		<div class="widget-box">
			<div class="widget-header header-color-green2">
				<h5 class="bigger lighter"><i class="icon-star"></i> Item Details</h5>
				<div class="widget-toolbar">

					<% if @featureditem.is_favorited(current_user) %>
						<a title="Remove from favorites" href=<%= products_favorite_set_url(:id => @featureditem.id) %>><i  class="icon-bookmark white" id="fav_icon"></i></a>
					<% else %>
						<a title="Add to favorites"  href=<%= products_favorite_set_url(:id => @featureditem.id) %>><i  class="icon-bookmark-empty white" id="fav_icon"></i></a>
					<% end %>

				</div>

			</div>


			<div class="widget-body">

				<div class="widget-main" style="font-size:16px;">


<!-- COMMON NAME -->
					<div class="row-fluid">
						<div class="span4">
							<div class="pull-right">
								<strong>Common Name:</strong>
							</div>
						</div>
						<div class="span8">
							<div class="pull-left">
								<%= @product.commonName %>
							</div>
						</div>
					</div>
<!-- LATIN NAME -->
					<div class="row-fluid">
						<div class="span4">
							<div class="pull-right">
								<strong>Latin Name:</strong>
							</div>
						</div>
						<div class="span8">
							<div class="pull-left">
								<%= @product.latinName %>
							</div>
						</div>
					</div>
<!-- SIZE -->
					<% unless @featureditem.size.blank? %>
						<div class="row-fluid">
							<div class="span4">
								<div class="pull-right">
									<strong>Size:</strong>
								</div>
							</div>
							<div class="span8">
								<div class="pull-left">
									<%= @featureditem.size %>
								</div>
							</div>
						</div>
					<% end %>
<!-- PRICE -->
					<% unless @featureditem.price.blank? or @featureditem.price == 0 %>
						<div class="row-fluid">
							<div class="span4">
								<div class="pull-right">
									<strong>Price:</strong>
								</div>
							</div>
							<div class="span8">
								<div class="pull-left">
									<%= "$%8.2f" % @featureditem.price.to_f %>
								</div>
							</div>
						</div>
					<% end %>
<!-- DESCRIPTION -->
					<div class="row-fluid">
						<div class="span4">
							<div class="pull-right">
								<strong>Description:</strong>
							</div>
						</div>
						<div class="span8">
							<div class="pull-left">
								<%= @featureditem.description.gsub(/\n/,'<br/>').html_safe %>
							</div>
						</div>
					</div>



				</div>

			</div>

			

		</div>

	</div>

</div>

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyColorbox());
	$(applyPopovers());

</script>