<% unless @location.categories.count == 0 %>
	<div class="widget-box transparent">
		<div class="widget-header widget-header-large">
			<h2 class="smaller">
				<i class="icon-tasks bigger-110"></i>
				Product Categories
			</h2>

			<!--<div class="widget-toolbar"> Save this for when I can let the user edit the products from here
				<i class="icon-pencil"></i>
			</div>-->
		</div>

		<div class="widget-body">
			<div class="widget-main">

				<div class="row">

					<!-- SUPPLIER TYPES -->
					<% if @location.categories.where(:id => 3).count > 0 %>
						<div class="col-xs-12">
							<div class="center">
								<h2><strong>Supplier Type</strong></h2>
								<% @location.categories.where('hierarchy_level > ?', 1).each do |cat| %>
									<% if cat.is_descendant_of("Supplier Types") %>
										<h4><%= cat.cat_name %></h4>
									<% end %>
								<% end %>
							</div>
						</div>
					<% end %>

					<!-- HAS PLANT AND MATERIAL CATEGORIES -->
					<% if @location.categories.where(:id => 1).count > 0 and @location.categories.where(:id => 2).count > 0 %>
						<div class="col-xs-6">
							<div class="center">
								<h2><strong>Plants</strong></h2>
								<% @location.categories.where('hierarchy_level > ?', 1).each do |cat| %>
									<% if cat.is_descendant_of("Plants") %>
										<h4><%= cat.cat_name %></h4>
									<% end %>
								<% end %>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="center">
								<h2><strong>Materials</strong></h2>
								<% @location.categories.where('hierarchy_level > ?', 1).each do |cat| %>
									<% if cat.is_descendant_of("Materials") %>
										<h4><%= cat.cat_name %></h4>
									<% end %>
								<% end %>
							</div>
						</div>

					<!-- ONLY HAS PLANT CATEGORIES -->
					<% elsif @location.categories.where(:id => 1).count > 0 %>
						<div class="col-xs-12">
							<div class="center">
								<h2><strong>Plants</strong></h2>
								<% @location.categories.where('hierarchy_level > ?', 1).each do |cat| %>
									<% if cat.is_descendant_of("Plants") %>
										<h4><%= cat.cat_name %></h4>
									<% end %>
								<% end %>
							</div>
						</div>

					<!-- ONLY HAS MATERIAL CATEGORIES -->
					<% elsif @location.categories.where(:id => 2).count > 0 %>
						<div class="col-xs-12">
							<div class="center">
								<h2><strong>Materials</strong></h2>
								<% @location.categories.where('hierarchy_level > ?', 1).each do |cat| %>
									<% if cat.is_descendant_of("Materials") %>
										<h4><%= cat.cat_name %></h4>
									<% end %>
								<% end %>
							</div>
						</div>
					<% end %>


				</div>

			</div>
		</div>
	</div>
<% end %>

			