<div class="profile-user-info profile-user-info-striped">

	<% unless @location.primaryEmail.blank? %>
		<div class="profile-info-row">
			<div class="profile-info-name"> Email </div>

			<div class="profile-info-value">
				<span id="primaryEmail" style="word-wrap: break-word;"><%= @location.primaryEmail %></span>
			</div>
		</div>
	<% end %>

	<% unless @location.secondaryEmail.blank? %>
		<div class="profile-info-row">
			<div class="profile-info-name"> Alt. Email </div>

			<div class="profile-info-value">
				<span id="secondaryEmail" style="word-wrap: break-word;"><%= @location.secondaryEmail %></span>
			</div>
		</div>
	<% end %>

	<% unless @location.primaryPhone.blank? %>
		<div class="profile-info-row">
			<div class="profile-info-name"> Phone </div>

			<div class="profile-info-value">
				<span id="primaryPhone"><%= @location.primaryPhone %></span>
			</div>
		</div>
	<% end %>

	<% unless @location.secondaryPhone.blank? %>
		<div class="profile-info-row">
			<div class="profile-info-name"> Alt. Phone </div>

			<div class="profile-info-value">
				<span id="secondaryPhone"><%= @location.secondaryPhone %></span>
			</div>
		</div>
	<% end %>

	<% unless @location.fax.blank? %>
		<div class="profile-info-row">
			<div class="profile-info-name"> Fax </div>

			<div class="profile-info-value">
				<span id="fax"><%= @location.fax %></span>
			</div>
		</div>
	<% end %>

	<div class="profile-info-row">
		<div class="profile-info-name"> Address </div>

		<div class="profile-info-value">
			<a href="<%= get_map_link_from_address(concat_address(@location)) %>" title="" class="tooltip-info" data-original-title="View on Map" target="_blank" data-placement="bottom"> 
				<i class="icon-map-marker light-orange bigger-110"></i>
				<span id="address"><%= @location.address1 + " " + @location.address2 + ", " + @location.city + ", " + @location.state + " " + @location.zip %></span>
			</a>
		</div>
	</div>

</div>