<div class="widget-box transparent">
	<div class="widget-header widget-header-large">
		<h2 class="smaller">
			<i class="icon-star bigger-110"></i>
			Featured Items
		</h2>
	</div>

	<div class="widget-body">
		<div class="widget-main">

			<% @location.featured_items.where(:active => true).order('created_at DESC').each do |fi| %>

				<div class="row-fluid">
					<div class="span6">
						<div class="pull-right">
							<ul class="ace-thumbnails">
								<li>
									<span>

										<img src="<%= fi.get_image.url(:large) %>" width="400px" height="400px"/>

										<% if fi.is_favorited(current_user) %>
											<div class="tags">
												<span class="label label-info arrowed">Favorited!</span>
											</div>
										<% end %>

										<div class="text">
											<div class="inner">

												<span><p style="font-size:15px;"><%= fi.get_product.commonName %></p></span>

												<a href="<%= fi.get_image.url(:original) %>" data-rel="colorbox" class="tooltip-success" title="<%= fi.get_product.commonName %>" data-placement="bottom">
													<i class="icon-zoom-in"></i>
												</a>

												<% if fi.is_favorited(current_user) %>
													<a href=<%= products_favorite_set_url(:id => fi.id) %> data-rel="tooltip" class="tooltip-success" title="" data-placement="bottom" data-original-title="Remove from Favorites"><i  class="icon-bookmark" id="fav_icon"></i></a>
												<% else %>
													<a href=<%= products_favorite_set_url(:id => fi.id) %> data-rel="tooltip" class="tooltip-success" title="" data-placement="bottom" data-original-title="Add to Favorites"><i  class="icon-bookmark-empty" id="fav_icon"></i>
													</a>
												<% end %>

												<a data-toggle="modal" href="<%= '#' + fi.id.to_s + 'productInfoModal' %>" data-rel="tooltip" class="tooltip-success" title="" data-placement="bottom" data-original-title="More Info">
													<i class="icon-info-sign"></i>
												</a>

												<% if @location.is_owner(current_user) %>

													<a href=<%= products_edit_url(:id => fi.id) %> data-rel="tooltip" class="tooltip-success" title="" data-placement="bottom" data-original-title="Edit Product Info">
														<i class="icon-pencil"></i>
													</a>
													
													<a href="<%= locations_featureditem_delete_url(:featured_item_id => fi.id, :location_id => fi.location_id) %>" data-rel="tooltip" class="tooltip-error" title="" data-placement="bottom" data-original-title="Delete Product">
														<i class="icon-trash"></i>
													</a>

												<% end %>
												
											</div>
										</div>

									</span>
								</li>
							</ul>
						</div>
					</div>

					<% @featureditem = fi %>
					<%= render 'products/productinfomodal' %>

					<div class="span6">
						<br/>
						<p style="font-size:24px;"><strong><%= fi.get_product.commonName %></strong></p>
						<% unless fi.get_product.latinName.blank? or fi.get_product.latinName == '' %>
							<p style="font-size:15px;"><strong>Latin Name: </strong><%= fi.get_product.latinName %></p>
						<% end %>
						<% unless fi.price.blank? or fi.price == '' or fi.price == 0 %>
							<p style="font-size:15px;"><strong>Price: </strong><%= '$%8.2f' % fi.price %></p>
						<% end %>
						<% unless fi.size.blank? or fi.size == '' %>
							<p style="font-size:15px;"><strong>Size: </strong><%= fi.size %></p>
						<% end %>
						<% unless fi.description.blank? or fi.description == '' %>
							<p style="font-size:15px;">
								<strong>Description:</strong><br/>
								<%= fi.description.gsub(/\n/,'<br/>').html_safe %>
							</p>
						<% end %>

					</div>

				</div>

			<% end %>

			<% @missingproducts.times { %>

				<div class="row-fluid">
					<div class="span6">
						<div class="pull-right">
							<ul class="ace-thumbnails">
								<li>

									<span>

										<img src="/images/default/featureditem.png" width="400px" height="400px"/>

										<div class="text">
											<div class="inner">

												<span><p style="font-size:15px;">No Product</p></span>

												<a href="<%= locations_edit_url(:id => @location.id, :products => true) %>" data-rel="tooltip" class="tooltip-success" title="" data-placement="bottom" data-original-title="Add Featured Item">
													<i class="icon-plus"></i>
												</a>

											</div>
										</div>

									</span>

								</li>
							</ul>
						</div>
					</div>

					<div class="span6">
						<br/>
						<p style="font-size:24px;"><strong>No Product</strong></p>
					</div>
				</div>

			<% } %>

		</div>
	</div>
</div>