<div class="container">
  <h1>Login</h1>

  <%= form_for @user_session do |f| %>
      <%= f.error_messages %>
      <%= f.label "Username" %> <%= f.text_field :login %>
      <%= f.label "Password" %> <%= f.password_field :password %><br/>
      <%= f.submit "Submit" %>
  <% end %>
</div>