<%- title "Login | LandSpec Pro" %>
<%- description "Sign in to your account to stay in touch with others in the community." %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<div class="login-container">

	<br/><br/><br/>

	<div class="row">
		<div class="position-relative">

			<div class="visible widget-box">
				<div class="widget-header header-color-green2">
					<h4 class="center">Login</h4>
				</div>

				<div class="widget-body">
					<div class="widget-main" id="login-widget-main">

						<%= form_for @user_session do |f| %>

							<!-- Display a login error here if redirected because not logged in -->

						 	<% if @login_error %>
							 	<div class="alert alert-danger">
								  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
								  <strong>Error!</strong> You must be logged in to do that.
								</div>
							<% end %>

							<!-- Display error messages as alerts -->
							<% @user_session.errors.full_messages.each do |msg| %>
								<div class="alert alert-danger">
								  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
								  <strong>Error! </strong> <%= msg %>
								</div>
							<% end %>

							<fieldset>
								<div class="form-group">
									<!--[if lt IE 10]>Username or Email:<![endif]-->
									<span class="block input-icon input-icon-right">
										<%= f.text_field :login, :class => 'form-control', :placeholder => "Username or Email" %>
										<i class="icon-user"></i>
									</span>
								</div>
								<div class="form-group">
									<!--[if lt IE 10]>Password:<![endif]-->
									<span class="block input-icon input-icon-right">
										<%= f.password_field :password, :class => 'form-control', :placeholder => "Password" %>
										<i class="icon-lock"></i>
									</span>
								</div>
								<br/>
								<div class="row">
									<div class="col-xs-12">
										<div class="pull-right">
											<button type="submit" class="btn btn-success"><i class="icon-key"></i> Login</button>
										</div>
										<div class="pull-left">
											<br/>
											<a href="<%= forgot_url %>">Forgot username/password?</a>
										</div>
									</div>
								</div>
							</fieldset>

						<% end %>

					</div> <!-- widget-main -->
				</div> <!-- widget-body -->
			</div> <!-- widget-box -->

		</div> <!-- position-relative -->
	</div> <!-- row-fluid -->
			</div> <!-- login-container -->
		</div> <!-- span12 -->
	</div> <!-- row-fluid -->
</div> <!-- container-fluid -->