<!-- GUESTCODE -->
<%= form_for @userdetail do |f| %>

	<!-- Display error messages as alerts -->
	<% @userdetail.errors.each do |field, msg| %>
		<div class="alert alert-danger">
		  <strong>Error! </strong> <%= msg %>
		</div>
	<% end %>

	<fieldset>

		<!-- COMPANY NAME -->
		<div class="form-group">
			<label for="first_name"><strong>*Company Name/Institution</strong></label>
			<span class="block input-icon input-icon-right">
				<% if current_user.id == 999 %>
					<%= f.text_field :company_name, :class => 'form-control', :placeholder => "Required", :readonly => true %>
				<% else %>
					<%= f.text_field :company_name, :class => 'form-control', :placeholder => "Required" %>
				<% end %>
				<i class="icon-briefcase"></i>
			</span>
		</div>
		
		<!-- PHONE NUMBER -->
		<div class="form-group">
            <label for="last_name"><strong>*Phone Number</strong></label>
            <span class="block input-icon input-icon-right">
            	<% if current_user.id == 999 %>
                	<%= f.text_field :phone_number, :class => 'form-control input-mask-phone popover-phone', :placeholder => "Required", :readonly => true %>
				<% else %>
                	<%= f.text_field :phone_number, :class => 'form-control input-mask-phone popover-phone', :placeholder => "Required" %>
				<% end %>
                <i class="icon-phone"></i>
            </span>
        </div>

		<!-- FIRST NAME -->
		<div class="form-group">
			<label for="first_name">First Name</label>
			<span class="block input-icon input-icon-right">
				<% if current_user.id == 999 %>
					<%= f.text_field :first_name, :class => 'form-control', :readonly => true %>
				<% else %>
					<%= f.text_field :first_name, :class => 'form-control' %>
				<% end %>
			</span>
		</div>

		<!-- LAST NAME -->
		<div class="form-group">
			<label for="last_name">Last Name</label>
			<span class="block input-icon input-icon-right">
				<% if current_user.id == 999 %>
					<%= f.text_field :last_name, :class => 'form-control', :readonly => true %>
				<% else %>
					<%= f.text_field :last_name, :class => 'form-control' %>
				<% end %>
			</span>
		</div>

		<!-- USER CATEGORY -->
		<div class="form-group">
			<label for="user_category">Supplier Type</label>
			<span class="block input-icon input-icon-right">
				<% if current_user.id == 999 %>
					<%= f.select(:user_category, get_supplier_types, {:include_blank => 'N/A'}, {:class => 'form-control chzn-select', :disabled => true}) %>
				<% else %>
					<%= f.select(:user_category, get_supplier_types, {:include_blank => 'N/A'}, {:class => 'form-control chzn-select'}) %>
				<% end %>
			</span>
		</div>

		<!-- ADDRESS INFO -->
		<div class="row">

			<!-- CITY -->
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="form-group">
					<label for="city">City</label>
					<span class="block input-icon input-icon-right">
						<% if current_user.id == 999 %>
							<%= f.text_field :city, :class => 'form-control', :readonly => true %>
						<% else %>
							<%= f.text_field :city, :class => 'form-control' %>
						<% end %>
					</span>
				</div>
			</div>

			<!-- STATE -->
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="form-group">
					<label for="city">State</label>
					<span class="block input-icon input-icon-right">
						<% if current_user.id == 999 %>
							<%= f.select(:state, get_states, {:include_blank => 'N/A'}, {:class => 'form-control chzn-select', :disabled => true}) %>
						<% else %>
							<%= f.select(:state, get_states, {:include_blank => 'N/A'}, {:class => 'form-control chzn-select'}) %>
						<% end %>
					</span>
				</div>
			</div>

			<!-- ZIP -->
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="form-group">
					<label for="city">Zip</label>
					<span class="block input-icon input-icon-right">
						<% if current_user.id == 999 %>
							<%= f.text_field :zip, :class => 'form-control input-mask-zip', :readonly => true %>
						<% else %>
							<%= f.text_field :zip, :class => 'form-control input-mask-zip' %>
						<% end %>
					</span>
				</div>
			</div>

		</div>

		<!-- LOGO -->
		<div class="row">
			<div class="col-xs-12">
				<label for="logo">Logo <i>(optional)</i></label>
				<div class="center">
					<% unless controller.action_name == 'new' or controller.action_name == 'create' %>
						<img src="<%= @userdetail.logo.url(:medium) %>"  title="Logo" style="max-height:100%; max-width:100%; display:block; margin:auto;" />
						<br/>
					<% end %>
					<% if current_user.id == 999 %>
					<% else %>
						<%= f.file_field :logo, :style => 'margin:auto;' %>
					<% end %>
					<br/>
				</div>
			</div>
		</div>

		<!-- SUBMIT BUTTON -->
		<div class="row">
            <div class="col-xs-12">
            	<div class="pull-right">
                	<% if current_user.id == 999 %>
            			<button disabled='disabled' type="submit" class="btn btn-success" onclick="updateUserInfo();"><i class="icon-ok"></i> Update</button>
					<% else %>
						<button type="submit" class="btn btn-success" onclick="updateUserInfo();"><i class="icon-ok"></i> Update</button>
					<% end %>
             	</div>
            </div>
        </div>

	</fieldset>
	
<% end %>