			<%= form_for @product, :html => {:id => 'form_add_featured_item'} do |f| %>
				<div class="widget-box">
					<div class="widget-header header-color-green">
						<h5 class="bigger lighter"><i class="icon-plus"></i> Add Featured Item</h5>
						<div class="widget-toolbar">
							<a href="javascript:{return true;}" onclick="document.getElementById('form_add_featured_item').submit();" class="white" id="white-link"><i  class="icon-plus" id="fav_icon"></i> Add</a>
						</div>
					</div>

					<div class="widget-body">

						<div class="widget-main">


							<% if params[:image_missing] %>
								<div class="alert alert-error">
								  <button type="button" class="close" data-dismiss="alert">&times;</button>
								  <strong>Error! </strong> You must include an image when adding a featured item!
								</div>
							<% end %>

							<% if params[:product_name_missing] %>
								<div class="alert alert-error">
								  <button type="button" class="close" data-dismiss="alert">&times;</button>
								  <strong>Error! </strong> You must include a product name!
								</div>
							<% end %>

							<fieldset>

								<%= f.hidden_field(:location_id, :value => @location.id) %>

						 		Search for Product Name:
								<div class="block input-icon input-icon-right">

									<select id='productSelect' class="chzn-select" data-placeholder="Enter Product Name">
										<option selected="selected">New Product</option>
						  				<% Product.where(:active => true).each do |prod| %>
						  					<option><%= prod.commonName %></option>
						  				<% end %>
						  			</select>
						  		</div>

								Product Categories:
								<div class="block input-icon input-icon-right">
									<%= select_tag "product_categories", options_from_collection_for_select(Category.all, 'id', 'category'), :multiple => true, :class => 'chzn-select', :data => {:placeholder => "No Categories Selected"} %>

								</div>

								Product Name:
								<div class="block input-icon input-icon-right">
									<%= f.text_field :commonName, :class => 'span12', :id => 'commonName' %>
								</div>


								<%= f.fields_for :featured_item do |f2| %>
									<div class="row-fluid">
										<div class="span6">
											Size (optional): 
											<div class="block input-icon input-icon-right">
												<%= f2.text_field :size, :class => 'span12' %>
											</div>

										</div>

										<div class="span6">
											Price (optional): 
											<div class="block input-icon input-icon-right">
												<%= f2.text_field :price, :class => 'span12 input-mask-price' %>
											</div>

										</div>
									</div>
									<div class="row-fluid">
										<div class="span12">

											Description: 
											<div class="block input-icon input-icon-right">
												<%= f2.text_area :description, :class => 'span12', :rows => '3', :style => 'resize: none;' %>
											</div>

										</div>
									</div>
								<% end %>

								Image: 
								<div class="block input-icon input-icon-right">
									<%= f.file_field :image, :class => 'span12', :id => 'image' %>
								</div>


							</fieldset>

						</div>
					</div>
				</div>
			<% end %>

<script type="text/javascript">
	$(bindInput());
$(function bindInput(){
	alert('ok');
		$('#productSelect').change(function(){
			if($(this).val() != 'New Product'){

				//var p = document.getElementById("productSelect");
				//var common_name = p.options[p.selectedIndex].dataset["comname"];
				//var latin_name = p.options[p.selectedIndex].dataset["latname"];

				$('#commonName').val($(this).val());
				$('#commonName').attr('readonly', true);
			}
			else{
				$('#commonName').val('');
				$('#commonName').attr('readonly', false);
				$(this).blur();
				$('#commonName').focus();
			}
		})
	});
</script>