<%= form_tag locations_search_path, :method => 'get', :class => "form-inline", :id => 'locSearchForm' do %>

	<div class="row-fluid">
		<div class="span6">

				<span class="input-icon input-icon-right">
					<!--[if lt IE 10]>Search by Supplier Name:<![endif]-->
					<%= text_field_tag :search, params[:search], :placeholder => 'Search by name...' %><%= submit_tag "Search", :class => "btn btn-success btn-small" %>
					<p style="font-size:12px;">Leave blank to search all suppliers.</p>
					<!--<i id="nav-search-icon" class="icon-search"></i>-->
				</span>

		</div>

		<div class="span6">
			<div class="pull-right">
				

				<div class="accordion" id="searchFiltersHeader">
					<div class="accordion-group">
						<div class="accordion-heading">

							<div data-rel="popover" data-content="Use these filters to narrow your search by location. You can use your current location or enter a city and state, zip code, or full address to filter by. To ignore distance leave blank or set to 0." data-placement="left" data-trigger="hover">
								<a href="#searchFilters" data-parent="#searchFiltersHeader" data-toggle="collapse" class="accordion-toggle collapsed">
									Search Filters...
								</a>
							</div>

						</div>

						<% if params[:distance_from] == '0' or params[:distance_from].blank? %>
							<div class="accordion-body collapse" id="searchFilters" zindex="-1" style="width:100%;">
						<% else %>
							<div class="accordion-body" id="searchFilters" zindex="-1" style="width:100%;">
						<% end %>

							<div class="accordion-inner center">
								<%= if params[:use_current_location]
									request.location.city + ', ' + request.location.state end %>
								<div class="center" style="margin-left:30px; margin-right:30px;">
									<%= check_box_tag 'use_current_location', 'true', params[:use_current_location] %> <label class="lbl" for="use_current_location"> Use Current Location</label>
								</div>
								<br/>
								Max Miles Away:
								<div class="block input-icon input-icon-right">
									<%= number_field_tag :distance_from, params[:distance_from], in: 0...10000, :style => 'z-index: 99999999;', :class => 'input-mini', :width => '100%;' %>
								</div>

							<% if params[:use_current_location] %>
								<div id="setLocationDiv" class="hide">
							<% else %>
								<div id="setLocationDiv">
							<% end %>
									<br/>
									Set Location:
									<div class="block input-icon input-icon-right">
										<%= text_field_tag :custom_location, params[:custom_location], :class => 'input-mini span12' %>
									</div>
								</div>
									
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
		
<% end %>

<script type="text/javascript">

	$('#use_current_location').change(function(){
		if(document.getElementById('use_current_location').checked){
			$('#setLocationDiv').addClass('hide');
		}	
		else{
			$('#setLocationDiv').removeClass('hide');
		}
	});

</script>