<div class="table-header header-color-green2">
	<%= @locations.count + @otherlocations.count %> Locations Found
</div>

<table id="table_report" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="hidden">Weight</th>
			<th class="center hidden-phone">Logo</th>
			<th class="center">Company</th>
			<th class="center">Address</th>
			<th class="center">Distance Away (miles)</th>
			<th class="center">Favorite</th>
		</tr>
	</thead>
							
	<tbody>

		<% @locations.order('"busName" ASC').each do |l| %>
		
			<tr>
				<td class="hidden">
					100
				</td>
				<td class="center hidden-phone">
					<a href="<%= locations_view_url(:id => l.id) %>" title="View Profile">
						<%= image_tag l.bus_vendor.logo.url(:smthumb), :title => "View Profile", :width => '50px', :height => '50px' %>
					</a>
				</td>
				<td class="center">
					<a data-toggle="modal" href="<%= '#' + l.id.to_s + 'locationInfoPopup' %>" title="View Location Information">
						<%= BusVendor.find(l.bus_vendor_id).busName %>
					</a>
				</td>
				<td class='center'>
					<%= link_to l.get_full_address, get_map_link_from_address(concat_address(l)), :target => "_blank", :title => "View on Map" %>
				</td>
				<td class='center'>
					<%= "%8.1f" % l.distance_from(@setlocation) %>
				</td>
				<td class="center">
					<% if l.is_favorited(current_user) %>
						<a title="Remove From Favorites" href=<%= locations_favorite_set_url(:id => l.id) %>><i  class="icon-bookmark" id="fav_icon"></i></a>
					<% else %>
						<a title="Add To Favorites" href=<%= locations_favorite_set_url(:id => l.id) %>><i  class="icon-bookmark-empty" id="fav_icon"></i></a>
					<% end %>
				</td>
			</tr>

			<div id="<%= l.id.to_s + 'locationInfoPopup' %>"class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
				
				<div class="modal-header header-color-green2">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 style="color:#fff;"><%= l.busName %></h3>
				</div>

				<div class="modal-body">


					<div class="profile-user-info profile-user-info-striped">

						<% unless l.locName.blank? %>
							<div class="profile-info-row">
								<div class="profile-info-name"> Location Name </div>

								<div class="profile-info-value">
									<span id="locName"><%= l.locName %></span>
								</div>
							</div>
						<% end %>

						<% unless l.primaryEmail.blank? %>
							<div class="profile-info-row">
								<div class="profile-info-name"> Email </div>

								<div class="profile-info-value">
									<span id="primaryEmail"><%= l.primaryEmail %></span>
								</div>
							</div>
						<% end %>

						<% unless l.secondaryEmail.blank? %>
							<div class="profile-info-row">
								<div class="profile-info-name"> Alt. Email </div>

								<div class="profile-info-value">
									<span id="secondaryEmail"><%= l.secondaryEmail %></span>
								</div>
							</div>
						<% end %>

						<% unless l.primaryPhone.blank? %>
							<div class="profile-info-row">
								<div class="profile-info-name"> Phone </div>

								<div class="profile-info-value">
									<span id="primaryPhone"><%= l.primaryPhone %></span>
								</div>
							</div>
						<% end %>

						<% unless l.secondaryPhone.blank? %>
							<div class="profile-info-row">
								<div class="profile-info-name"> Alt. Phone </div>

								<div class="profile-info-value">
									<span id="secondaryPhone"><%= l.secondaryPhone %></span>
								</div>
							</div>
						<% end %>

						<% unless l.fax.blank? %>
							<div class="profile-info-row">
								<div class="profile-info-name"> Fax </div>

								<div class="profile-info-value">
									<span id="fax"><%= l.fax %></span>
								</div>
							</div>
						<% end %>

						<% unless l.websiteLink.blank? %>
							<div class="profile-info-row">
								<div class="profile-info-name"> Website </div>

								<div class="profile-info-value">
									<span id="websiteLink"><%= l.websiteLink %></span>
								</div>
							</div>
						<% end %>

						<% unless l.facebookLink.blank? %>
							<div class="profile-info-row">
								<div class="profile-info-name"> Facebook </div>

								<div class="profile-info-value">
									<span id="facebookLink"><%= l.facebookLink %></span>
								</div>
							</div>
						<% end %>

						<% unless l.twitterLink.blank? %>
							<div class="profile-info-row">
								<div class="profile-info-name"> Twitter </div>

								<div class="profile-info-value">
									<span id="twitterLink"><%= l.twitterLink %></span>
								</div>
							</div>
						<% end %>

						<% unless l.googleLink.blank? %>
							<div class="profile-info-row">
								<div class="profile-info-name"> Google+ </div>

								<div class="profile-info-value">
									<span id="googleLink"><%= l.googleLink %></span>
								</div>
							</div>
						<% end %>

					</div>
					
					<% unless l.bio.blank? %>
						<div class="widget-box transparent">
							<div class="widget-header widget-header-large">
								<h2 class="smaller">
									<i class="icon-info-sign bigger-110"></i>
									About
								</h2>
							</div>

							<div class="widget-body">
								<div class="widget-main">
									<p><%= l.bio %></p>
								</div>
							</div>
						</div>
					<% end %>

					<a class="btn btn-success btn-block" href="<%= locations_view_url(:id => l.id) %>">
						View Location
					</a>

				</div>

			</div>

		<% end %>	

		<% @otherlocations.order('"bus_name" ASC').each do |ol| %>
			<tr>
				<td class="hidden">
					0
				</td>
				<td class="center hidden-phone">
				</td>
				<td class="center">
					<a data-toggle="modal" href="<%= '#' + ol.id.to_s + 'locationInfoPopupUnclaimed' %>" title="View Location Information">
						<%= ol.bus_name %>
					</a>
				</td>
				<td class='center'>
					<%= link_to ol.get_full_address, get_map_link_from_address(concat_unclaimed_address(ol)), :target => "_blank", :title => "View on Map" %>
				</td>
				<td class='center'>
					<%= "%8.1f" % ol.distance_from(@setlocation) %>
				</td>
				<td class="center">
				</td>
			</tr>

			<!-- LOCATION INFO POPUP MODAL -->

			<div id="<%= ol.id.to_s + 'locationInfoPopupUnclaimed' %>" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
				
				<div class="modal-header header-color-green2">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 style="color:#fff;"><%= ol.bus_name %></h3>
				</div>

				<div class="modal-body">
					<div class="profile-user-info profile-user-info-striped">

						<div class="profile-info-row">
							<div class="profile-info-name"> Email </div>

							<div class="profile-info-value">
								<span id="primaryEmail"><%= ol.user_email %></span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name"> Phone </div>

							<div class="profile-info-value">
								<span id="primaryEmail"><%= ol.loc_phone %></span>
							</div>
						</div>
						<% unless ol.loc_website.blank? %>
							<div class="profile-info-row">
								<div class="profile-info-name"> Website </div>

								<div class="profile-info-value">
									<span id="primaryEmail"><%= ol.loc_website %></span>
								</div>
							</div>
						<% end %>

					</div>
				</div>

			</div>

		<% end %>

	</tbody>

</table>


<script type="text/javascript">

	$('#table_report').dataTable( {
		"aoColumns": [
			{"bSortable": false, "bSearchable": false},
			{"bSortable": false, "bSearchable": false},
			{"bSortable": true},
			{"bSortable": true},
			{"bSortable": true, "sType": "numeric", "bSearchable": false, "sDefaultContent": "?"},
			{"bSortable": false, "bSearchable": false}
		],
		"aaSortingFixed": [[0,'desc']]
	});

</script>