
	<% @location.featured_items.where(:active => true).each do |fi| %>
					

		<div class="row-fluid" style="width:100%;">
			<div class="span12" >
				<ul class="ace-thumbnails">

					<li style="width:99%;">

						<div>

							<img src="<%= fi.get_image.url(:wide) %>" style="width:100%;"/>

							<% if fi.is_favorited(current_user) %>
								<div class="tags">
									<span class="label label-info arrowed">Favorited!</span>
								</div>
							<% end %>

							<div class="text">
								<div class="inner">

									<span><p style="font-size:15px;"><%= fi.get_product.commonName %></p></span>

									<a href="<%= fi.get_image.url(:original) %>" data-rel="colorbox" title="<%= fi.get_product.commonName %>">
										<i class="icon-zoom-in" title="View Larger"></i>
									</a>

									<% if fi.is_favorited(current_user) %>
										<a title="Remove from favorites" href=<%= products_favorite_set_url(:id => fi.id) %>><i  class="icon-bookmark" id="fav_icon"></i></a>
									<% else %>
										<a title="Add to favorites"  href=<%= products_favorite_set_url(:id => fi.id) %>><i  class="icon-bookmark-empty" id="fav_icon"></i>
										</a>
									<% end %>

									<a href=<%= products_edit_url(:id => fi.id) %>>
										<i class="icon-info-sign" title="Info"></i>
									</a>

								</div>
							</div>

						</div>

					</li>

				</ul>
			</div>
		</div>		

	<% end %>