<%- title "Delete " + @featureditem.get_product.commonName + " | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>

<div class="row">

	<div class="col-lg-5 center">

		<h1 class="font-marmelad-black"><%= @product.commonName %></h1>

		<a href="<%= @image.url(:original) %>" data-rel="colorbox" title="<%= @product.commonName %>">
			<%= image_tag @image.url(:large), :title => @product.commonName %>
		</a>

		<br/><br/>

		<h2>Are you sure you want to permanently delete this item from this location?</h2>
		<%= link_to "Yes", locations_featureditem_delete_confirm_url(:featured_item_id => params[:featured_item_id], :location_id => params[:location_id]), :class => 'btn btn-success' %>
		&nbsp;&nbsp;&nbsp;
		<%= link_to "No", locations_manage_url %>

	</div>

	<div class="col-lg-5">

		<br/><br/><br/><br/>

		<div class="widget-box">
			<div class="widget-header header-color-green2">
				<h5 class="bigger lighter"><i class="icon-star"></i> Item Details</h5>
			</div>


			<div class="widget-body">

				<div class="widget-main" style="font-size:16px;">

					<dl class="">
						<dt>Name:</dt>
						<dd><%= @product.commonName %></dd>
						<br/>
						<dt>Size:</dt>
						<dd><%= @featureditem.size %>&nbsp;</dd>
						<br/>
						<dt>Price:</dt>
						<dd><%= @featureditem.price %>&nbsp;</dd>
						<br/>
						<dt>Description:</dt>
						<dd><%= @featureditem.description %>&nbsp;</dd>
					</dl>

				</div>

			</div>

			

		</div>

	</div>

</div>

<script type="text/javascript">

	$(applyColorbox());

</script>
<%= render 'layouts/sidebarend' %>