<% if @location.locName.blank? %>
	<%- title "Edit Location | LandSpec Pro" %>
<% else %>
	<%- title "Edit " + @location.locName + " | LandSpec Pro" %>
<% end %>

<%= render 'layouts/sidebar' %>

	<div class="row">

		<div class="col-xs-12">
			<div class="tabbable tabs-top">
				<ul class="nav nav-tabs" id="locEditTabs">
					<% if not params[:products] and not params[:settings] and not params[:addons] %>
					  	<li class="active" id="tab_locationinfo">
					  		<a data-toggle="tab" href="#locationInfo"><i class="blue icon-globe bigger-110"></i> Location Info</a>
					  	</li>
					  	<li id="tab_featureditems">
					  		<a data-toggle="tab" href="#featuredItems"><i class="red icon-star bigger-110"></i> Featured Items</a>
					  	</li>
						<li id="tab_publicsettings">
					  		<a data-toggle="tab" href="#publicSettings"><i class="purple icon-cog bigger-110"></i> Profile Settings</a>
					  	</li>
					  	<li id="tab_addons">
					  		<a data-toggle="tab" href="#addons"><i class="orange icon-folder-close bigger-110"></i> Inventory</a>
					  	</li>
					<% elsif params[:products] %>
						<li id="tab_locationinfo">
					  		<a data-toggle="tab" href="#locationInfo"><i class="blue icon-globe bigger-110"></i> Location Info</a>
					  	</li>
					  	<li class="active" id="tab_featureditems">
					  		<a data-toggle="tab" href="#featuredItems"><i class="red icon-star bigger-110"></i> Featured Items</a>
					  	</li>
					  	<li id="tab_publicsettings">
					  		<a data-toggle="tab" href="#publicSettings"><i class="purple icon-cog bigger-110"></i> Profile Settings</a>
					  	</li>	
					  	<li id="tab_addons">
					  		<a data-toggle="tab" href="#addons"><i class="orange icon-folder-close bigger-110"></i> Inventory</a>
					  	</li>				
					<% elsif params[:settings] %>
						<li id="tab_locationinfo">
					  		<a data-toggle="tab" href="#locationInfo"><i class="blue icon-globe bigger-110"></i> Location Info</a>
					  	</li>
					  	<li id="tab_featureditems">
					  		<a data-toggle="tab" href="#featuredItems"><i class="red icon-star bigger-110"></i> Featured Items</a>
					  	</li>
					  	<li class="active" id="tab_publicsettings">
					  		<a data-toggle="tab" href="#publicSettings"><i class="purple icon-cog bigger-110"></i> Profile Settings</a>
					  	</li>
					  	<li id="tab_addons">
					  		<a data-toggle="tab" href="#addons"><i class="orange icon-folder-close bigger-110"></i> Inventory</a>
					  	</li>
					<% elsif params[:addons] %>
						<li id="tab_locationinfo">
					  		<a data-toggle="tab" href="#locationInfo"><i class="blue icon-globe bigger-110"></i> Location Info</a>
					  	</li>
					  	<li id="tab_featureditems">
					  		<a data-toggle="tab" href="#featuredItems"><i class="red icon-star bigger-110"></i> Featured Items</a>
					  	</li>
					  	<li id="tab_publicsettings">
					  		<a data-toggle="tab" href="#publicSettings"><i class="purple icon-cog bigger-110"></i> Profile Settings</a>
					  	</li>
					  	<li class="active" id="tab_addons">
					  		<a data-toggle="tab" href="#addons"><i class="orange icon-folder-close bigger-110"></i> Inventory</a>
					  	</li>
					<% end %>
				  
				</ul>

			<div class="tab-content" style="overflow:hidden;">

				<span class="hide" id="revertChanges">
					<div class="row">
						<div class="col-xs-3 pull-right">
							<div class="pull-right">
								<a class="btn btn-inverse" href="<%= locations_edit_url(:id => @location.id) %>" data-rel="popover" data-placement="bottom" data-container="body" data-trigger="hover" data-content="This will clear all data from all forms and tabs without saving any updates you might have made.">
									<strong>Revert Changes</strong>
								</a>
							</div>
						</div>
					</div>
					<br/>
				</span>

				<% if not params[:products] and not params[:settings] and not params[:addons] %>
				  <div id="locationInfo" class="tab-pane in active">
				<% else %>
				  <div id="locationInfo" class="tab-pane">
				<% end %>

				  	<div class="row">
				  		<div class="col-xs-6">
							<%= render 'locations/layouts_edit/locationinfo' %>
							<div class="center">
								<a href="<%= locations_new_url %>" class="btn btn-sm btn-block btn-success">Add New Location</a>			
							</div>	
						</div>
						<div class="col-xs-6">
							<% if not @location.active %>
								<%= render 'locations/layouts_edit/activate' %>
								<%= render 'locations/layouts_edit/bioinfo' %>
								<%= render 'locations/layouts_edit/categories' %>
							<% else %>
								<%= render 'locations/layouts_edit/bioinfo' %>
								<%= render 'locations/layouts_edit/categories' %>
							<% end %>			
						</div>
					</div>
				  </div>

				<% if params[:products] %>
				  <div id="featuredItems" class="tab-pane in active">
				<% else %>
				  <div id="featuredItems" class="tab-pane">
				<% end %>
				
					<div class="row">
						<% if @location.featured_items.where(:active => true).count < 3 %>

							<% if @location.featured_items.where(:active => true).count == 0 %>
								<div class="row">
									<div class="col-xs-12">
										<div class="alert alert-danger center">
											<strong>
												You have no featured items for this location. You can add up to 3 featured items here.
											</strong>
										</div>
									</div>
								</div>
							<% end %>
							<div class="row">
								<div class="col-lg-6 col-lg-offset-3">
									<%= render 'locations/layouts_edit/addfeatureditem' %>
								</div>
							</div>

							<div class="row">
								<br/>
								<%= render 'locations/layouts_edit/editfeatureditem' %>
							</div>
						<% else %>
							<div class="row">
								<div class="col-xs-12">
									<div class="alert alert-info center">
										<strong>
											Currently, each supplier location may only have three featured items. If you would like to add a new featured product, please remove an existing featured product first.
										</strong>
									</div>
								</div>
							</div>
							<div class="row">
								<%= render 'locations/layouts_edit/editfeatureditem' %>
							</div>
							
						<% end %>
					</div>
				  </div>


				<% if params[:settings] %>
					<div id="publicSettings" class="tab-pane in active">
				<% else %>
					<div id="publicSettings" class="tab-pane">
				<% end %>
					<div class="row">
						<%= render 'locations/layouts_edit/profilesettings' %>
					</div>
				</div>

				<% if params[:addons] %>
					<div id="addons" class="tab-pane in active">
				<% else %>
					<div id="addons" class="tab-pane">
				<% end %>
					<div class="row">
						<%= render 'locations/layouts_edit/addons' %>
					</div>
				</div>


				</div><!-- tab-content -->

			</div><!-- tabbable -->
		</div> <!-- col-xs-12 -->

	</div><!-- row -->

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyChosenStyle());
	$(applyMasks());
	$(applyColorbox());	
	$(applyPopovers());

	// Success messages
	<% if params[:update_settings_url_success] %>
		$(showUpdateSuccessGritter('Public Profile URL has been updated.'));
	<% elsif params[:update_settings_success] %>
		$(showUpdateSuccessGritter('Public Profile Settings have been updated.'));
	<% elsif params[:update_about_success] %>
		$(showUpdateSuccessGritter('Location About Section has been updated.'));
	<% elsif params[:update_categories_success] %>
		$(showUpdateSuccessGritter('Your Categories for this Location have been updated.'));
	<% elsif params[:add_featured_item_success] %>
		$(showUpdateSuccessGritter('Your Featured Item was added to this location.'));
	<% elsif params[:update_location_info_success] %>
		$(showUpdateSuccessGritter('Location Information has been updated.'));
	<% elsif params[:add_new_inventory_success] %>
		$(showUpdateSuccessGritter('New Inventory added successfully.'));
	<% end %>

	// Cookies for popovers
	<% if not cookies.signed[:new_tab_addons] %>
		$('#tab_addons').popover({
			html: true,
			placement: "bottom",
			container: "body",
			title: '<span class="text-info"><strong>Upload Your Inventory!</strong></span>',
			content: "You can now upload your inventory (in whatever format you prefer) directly to LandSpec Pro to share with your customers."
		});

		$('#tab_addons').popover('show');


		<% cookies.permanent.signed[:new_tab_addons] = true %>
	<% end %>

	var form_change = null;

</script>