<%= render 'layouts/sidebar' %>

	<div class="row-fluid">

		<div class="span4">
			
			<%= render 'formeditfeatureditem' %>

		</div>

		<div class="span4">

			<%= render 'formaddfeatureditem' %>
			<%= render 'formupdatecategories' %>

		</div>


		<div class="span4">
			<%= render 'formupdatelocationinfo' %>
		</div>

	</div>

	<div class="row-fluid">

		

		<div class="row-fluid">
			<div class="span10 offset1">

				
			</div>
		</div>

	</div>

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyChosenStyle());
	$(applyMasks());
	$(applyColorbox());	

</script>