<%= render 'layouts/sidebar' %>

	<div class="row-fluid">

		<div class="span4">
			<%= render 'formeditfeatureditem' %>
		</div>

		<% if @location.featured_items.where(:active => true).count < 3 %>

			<div class="span4">
				<%= render 'formaddfeatureditem' %>
			</div>

		<% end %>


		<div class="span4">
			<%= render 'formupdatelocationinfo' %>
			<%= render 'formupdatecategories' %>
		</div>

	</div>

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyChosenStyle());
	$(applyMasks());
	$(applyColorbox());	

</script>