<% if @location.locName.blank? %>
	<%- title "Edit Location | LandSpec Pro" %>
<% else %>
	<%- title "Edit " + @location.locName + " | LandSpec Pro" %>
<% end %>

<%= render 'layouts/sidebar' %>
	<div class="row-fluid">

		<div class="span12">
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs" id="locEditTabs">
					<% if not params[:products] and not params[:settings] %>
					  	<li class="active" id="tab_locationinfo">
					  		<a data-toggle="tab" href="#locationInfo"><i class="blue icon-globe bigger-110"></i> Location Info</a>
					  	</li>
					  	<li id="tab_featureditems">
					  		<a data-toggle="tab" href="#featuredItems"><i class="red icon-star bigger-110"></i> Featured Items</a>
					  	</li>
						<li id="tab_publicsettings">
					  		<a data-toggle="tab" href="#publicSettings"><i class="purple icon-cog bigger-110"></i> Profile Settings</a>
					  	</li>
					<% elsif params[:products] %>
						<li id="tab_locationinfo">
					  		<a data-toggle="tab" href="#locationInfo"><i class="blue icon-globe bigger-110"></i> Location Info</a>
					  	</li>
					  	<li class="active" id="tab_featureditems">
					  		<a data-toggle="tab" href="#featuredItems"><i class="red icon-star bigger-110"></i> Featured Items</a>
					  	</li>
					  	<li id="tab_publicsettings">
					  		<a data-toggle="tab" href="#publicSettings"><i class="purple icon-cog bigger-110"></i> Profile Settings</a>
					  	</li>					
					<% elsif params[:settings] %>
						<li id="tab_locationinfo">
					  		<a data-toggle="tab" href="#locationInfo"><i class="blue icon-globe bigger-110"></i> Location Info</a>
					  	</li>
					  	<li id="tab_featureditems">
					  		<a data-toggle="tab" href="#featuredItems"><i class="red icon-star bigger-110"></i> Featured Items</a>
					  	</li>
					  	<li class="active" id="tab_publicsettings">
					  		<a data-toggle="tab" href="#publicSettings"><i class="purple icon-cog bigger-110"></i> Profile Settings</a>
					  	</li>
					<% end %>
				  
				</ul>

			<div class="tab-content">

				<% if not params[:products] and not params[:settings] %>
				  <div id="locationInfo" class="tab-pane in active">
				<% else %>
				  <div id="locationInfo" class="tab-pane">
				<% end %>

				  	<div class="row-fluid">
				  		<div class="span6">
							<%= render 'locations/layouts_edit/locationinfo' %>
							<div class="center">
								<a href="<%= locations_new_url %>" class="btn btn-small btn-block btn-success">Add New Location</a>			
							</div>	
						</div>
						<div class="span6">
							<% if not @location.active %>
								<%= render 'locations/layouts_edit/activate' %>
								<%= render 'locations/layouts_edit/bioinfo' %>
								<%= render 'locations/layouts_edit/categories' %>
							<% else %>
								<%= render 'locations/layouts_edit/bioinfo' %>
								<%= render 'locations/layouts_edit/categories' %>
							<% end %>			
						</div>
					</div>
				  </div>

				<% if params[:products] %>
				  <div id="featuredItems" class="tab-pane in active">
				<% else %>
				  <div id="featuredItems" class="tab-pane">
				<% end %>
				
					<div class="row-fluid">
						<% if @location.featured_items.where(:active => true).count < 3 %>
							<div class="span7">
								<%= render 'locations/layouts_edit/editfeatureditem' %>
							</div>
							<div class="span5">
								<%= render 'locations/layouts_edit/addfeatureditem' %>
							</div>
						<% else %>
							<div class="span4">
								<h3 class="center">
									At the moment each location you own may only have three featured items. If you would like to add more please remove one of your existing products.
								</h3>
							</div>
							<div class="span8">
								<%= render 'locations/layouts_edit/editfeatureditem' %>
							</div>
							
						<% end %>
					</div>
				  </div>


				<% if params[:settings] %>
					<div id="publicSettings" class="tab-pane in active">
				<% else %>
					<div id="publicSettings" class="tab-pane">
				<% end %>
					<div class="row-fluid">
						<%= render 'locations/layouts_edit/profilesettings' %>
					</div>
				</div>


				</div><!-- tab-content -->

			</div><!-- tabbable -->
		</div> <!-- span12 -->

	</div><!-- row-fluid -->

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyChosenStyle());
	$(applyMasks());
	$(applyColorbox());	
	$(applyPopovers());

	// Success messages
	<% if params[:update_settings_url_success] %>
		$(showUpdateSuccessGritter('Public Profile URL has been updated.'));
	<% elsif params[:update_settings_success] %>
		$(showUpdateSuccessGritter('Public Profile Settings have been updated.'));
	<% elsif params[:update_about_success] %>
		$(showUpdateSuccessGritter('Location About Section has been updated.'));
	<% elsif params[:update_categories_success] %>
		$(showUpdateSuccessGritter('Your Categories for this Location have been updated.'));
	<% elsif params[:add_featured_item_success] %>
		$(showUpdateSuccessGritter('Your Featured Item was added to this location.'));
	<% elsif params[:update_location_info_success] %>
		$(showUpdateSuccessGritter('Location Information has been updated.'));
	<% end %>

</script>