<%= render 'layouts/sidebar' %>

	<div class="row-fluid">

		<div class="span12">
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs" id="locEditTabs">
					<% if not params[:products] %>
					  	<li class="active" id="tab_locationinfo">
					  		<a data-toggle="tab" href="#locationInfo"><i class="blue icon-globe bigger-110"></i> Location Info</a>
					  	</li>
					  	<li id="tab_featureditems">
					  		<a data-toggle="tab" href="#featuredItems"><i class="red icon-star bigger-110"></i> Featured Items</a>
					  	</li>
					<% else %>
						<li id="tab_locationinfo">
					  		<a data-toggle="tab" href="#locationInfo"><i class="blue icon-globe bigger-110"></i> Location Info</a>
					  	</li>
					  	<li class="active" id="tab_featureditems">
					  		<a data-toggle="tab" href="#featuredItems"><i class="red icon-star bigger-110"></i> Featured Items</a>
					  	</li>
					<% end %>
				  
				</ul>
				<div class="tab-content">

				<% if not params[:products] %>
				  <div id="locationInfo" class="tab-pane in active">
				<% else %>
				  <div id="locationInfo" class="tab-pane">
				<% end %>

				  	<div class="row-fluid">
				  		<div class="span6">
							<%= render 'locations/formupdatelocationinfo' %>
							<div class="center">
								<a href="<%= locations_new_url %>" class="btn btn-small btn-block btn-success">Add New Location</a>			
							</div>	
						</div>
						<div class="span6">
							<% if not @location.active %>
								<%= render 'locations/formactivatelocation' %>
								<br/>
								<%= render 'locations/formeditlocationbio' %>
							<% else %>
								<%= render 'locations/formeditlocationbio' %>
							<% end %>			
						</div>
					</div>
				  </div>

				<% if params[:products] %>
				  <div id="featuredItems" class="tab-pane in active">
				<% else %>
				  <div id="featuredItems" class="tab-pane">
				<% end %>
				
					<div class="row-fluid">
						<% if @location.featured_items.where(:active => true).count < 3 %>
							<div class="span7">
								<%= render 'locations/formeditfeatureditem' %>
							</div>
							<div class="span5">
								<%= render 'locations/formaddfeatureditem' %>
							</div>
						<% else %>
							<div class="span4">
								<h3 class="center">
									At the moment each location you own may only have three featured items. If you would like to add more please remove one of your existing products.
								</h3>
							</div>
							<div class="span8">
								<%= render 'locations/formeditfeatureditem' %>
							</div>
							
						<% end %>
					</div>
				  </div>

				</div>
			</div>
		</div>

	</div>

<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyChosenStyle());
	$(applyMasks());
	$(applyColorbox());	

</script>