<%= render 'layouts/sidebar' %>

	<div class="span6 offset1">
		<%= form_for @location, :html => {:id => 'form_add_new_location'} do |f| %>
		<div class="widget-box">
			<div class="widget-header header-color-green2">
				<h5 class="bigger lighter"><i class="icon-globe"></i> New Location Information</h5>
				<div class="widget-toolbar">
					<a href="javascript:{return true;}" onclick="document.getElementById('form_add_new_location').submit();" class="white" id="white-link"><i  class="icon-save"></i> Save</a>
				</div>
			</div>

			<div class="widget-body">

				<div class="widget-main">

					<!-- Display error messages as alerts -->
					<% @location.errors.each do |field, msg| %>
						<div class="alert alert-error center">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						  <strong>Error! </strong> <%= msg %>
						</div>
					<% end %>

					<fieldset>

						<div class="row-fluid">
							<div class="span6">

								<% if Location.where(:bus_vendor_id => current_user.bus_vendor_id).count > 0 %>
									<strong>Location Name*</strong>
								<% else %>
									Location Name
								<% end %>
								<span class="block input-icon input-icon-right">
									<%= f.text_field :locName, :class => 'span12', :value => @location.locName %>
								</span>	

								<strong>Street 1*</strong>
								<span class="block input-icon input-icon-right">
									<%= f.text_field :address1, :class => 'span12', :value => @location.address1 %>
								</span>	

								<div class="row-fluid">
									<div class="span6">
										Street 2
										<span class="block input-icon input-icon-right">
											<%= f.text_field :address2, :class => 'span12', :value => @location.address2 %>
										</span>	
									</div>
									<div class="span6">
										<strong>City*</strong>
										<span class="block input-icon input-icon-right">
											<%= f.text_field :city, :class => 'span12', :value => @location.city %>
										</span>
									</div>
								</div>

								<div class="row-fluid">
									<div class="span6">
										<strong>State*</strong>
										<span class="block input-icon input-icon-right">
											<%= f.select(:state, get_states, {:selected => current_user.currentState}, {:class => 'span12 chzn-select'}) %>
										</span>
									</div>
									<div class="span6">
										<strong>Zip Code*</strong>
										<span class="block input-icon input-icon-right">
											<%= f.text_field :zip, :class => 'span12 input-mask-zip', :value => @location.zip %>
										</span>
									</div>
								</div>

								Primary Email
								<span class="block input-icon input-icon-right">
									<%= f.text_field :primaryEmail, :class => 'span12', :value => @location.primaryEmail %>
								</span>	

								Secondary Email
								<span class="block input-icon input-icon-right">
									<%= f.text_field :secondaryEmail, :class => 'span12', :value => @location.secondaryEmail %>
								</span>	

							</div>

							<div class="span6">

								<div class="row-fluid">
									<div class="span12">
										Website Link
										<span class="block input-icon input-icon-right">
											<%= f.text_field :websiteLink, :class => 'span12', :value => @location.websiteLink %>
										</span>	
									</div>
								</div>

								<div class="row-fluid">
									<div class="span12">
										Facebook Link
										<span class="block input-icon input-icon-right">
											<%= f.text_field :facebookLink, :class => 'span12', :value => @location.facebookLink %>
										</span>	
									</div>
								</div>

								<div class="row-fluid">
									<div class="span12">
										Twitter Link
										<span class="block input-icon input-icon-right">
											<%= f.text_field :twitterLink, :class => 'span12', :value => @location.twitterLink %>
										</span>	
									</div>
								</div>

								<div class="row-fluid">
									<div class="span12">
										Google+ Link
										<span class="block input-icon input-icon-right">
											<%= f.text_field :googleLink, :class => 'span12', :value => @location.googleLink %>
										</span>	
									</div>
								</div>

								<div class="row-fluid">
									<div class="span6">
										<strong>Primary Phone*</strong>
										<span class="block input-icon input-icon-right">
											<%= f.text_field :primaryPhone, :class => 'span12 input-mask-phone', :value => @location.primaryPhone %>
										</span>
									</div>
									<div class="span6">
										Secondary Phone
										<span class="block input-icon input-icon-right">
											<%= f.text_field :secondaryPhone, :class => 'span12 input-mask-phone', :value => @location.secondaryPhone %>
										</span>
									</div>
								</div>

								<div class="row-fluid">
									<div class="span6">
										Fax
										<span class="block input-icon input-icon-right">
											<%= f.text_field :fax, :class => 'span12 input-mask-fax', :value => @location.fax %>
										</span>	
									</div>
								</div>

							</div>	
						</div>

					</fieldset>

				</div>

			</div>

		</div>

	</div>

	<div class="span5">
		<h2>Adding a new location</h2>
		<p>You business location is the primary way that landscapers and other suppliers can see who and where you are. After adding this information you will be able to start showcasing featured items for this location.</p>
		<p>If this is your first location, you are not required to add a location name, the name of your company will be used instead. For any additional locations you add you will need to provide a store name (or number) that is visible to other users that will help identify each of your locations from each other.</p>
		<p>All of this information can be updated later, and you'll have time to view and update your location profile before it goes live for other users to see. The more information you provide, the better your profile will look, and the easier it will be for landscapers to find and get in contact with you.</p>
		<p>If you have any questions or feedback feel free to email <a href="mailto:tech@landspecpro.com">tech@landspecpro.com</a>.</p>
	</div>

<% end %>

<%= render 'layouts/sidebarend' %>


<script type="text/javascript">

	$(applyChosenStyle());
	$(applyMasks());

</script>
