<%- title "Add New Location | LandSpec Pro" %>
<%= render 'layouts/sidebar' %>

<div class="row">
	<div class="col-lg-6 col-md-12">
		<%= form_for @location, :html => {:id => 'form_add_new_location'} do |f| %>
		<div class="widget-box">
			<div class="widget-header header-color-green2">
				<h5 class="bigger lighter"><i class="icon-globe"></i> New Location for <%= current_user.user_detail.company_name %></h5>
				<div class="widget-toolbar">
					<a href="javascript:{return true;}" onclick="document.getElementById('form_add_new_location').submit();" class="white" id="white-link"><i  class="icon-save"></i> Save</a>
				</div>
			</div>

			<div class="widget-body">

				<div class="widget-main">

					<!-- Display error messages as alerts -->
					<% @location.errors.each do |field, msg| %>
						<div class="alert alert-danger center">
						  <strong>Error! </strong> <%= msg %>
						</div>
					<% end %>

					<fieldset>

						<div class="row">
							<div class="col-xs-6">

								<% if current_user.user_detail.locations.count > 0 %>
									<div class="form-group">
										<strong>Location Name*</strong>
										<span class="block input-icon input-icon-right">
											<%= f.text_field :locName, :class => 'form-control' %>
										</span>	
									</div>
								<% else %>
									<div class="form-group">
										<strong>Primary Location for</strong>
										<span class="block input-icon input-icon-right">
											<%= text_field_tag :locNamePrimary, current_user.user_detail.company_name, :class => 'form-control', :readonly => true %>
										</span>	
									</div>
								<% end %>

								<div class="form-group">
									<strong>Street 1*</strong>
									<span class="block input-icon input-icon-right">
										<%= f.text_field :address1, :class => 'form-control' %>
									</span>	
								</div>

								<div class="row">
									<div class="col-xs-6">
										<div class="form-group">
											Street 2
											<span class="block input-icon input-icon-right">
												<%= f.text_field :address2, :class => 'form-control' %>
											</span>	
										</div>
									</div>
									<div class="col-xs-6">
										<div class="form-group">
											<strong>City*</strong>
											<span class="block input-icon input-icon-right">
												<%= f.text_field :city, :class => 'form-control' %>
											</span>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-6">
										<div class="form-group">
											<strong>State*</strong>
											<span class="block input-icon input-icon-right">
												<%= f.select(:state, get_states, {:include_blank => '', :selected => @location.state}, {:class => 'form-control chzn-select'}) %>
											</span>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="form-group">
											<strong>Zip Code*</strong>
											<span class="block input-icon input-icon-right">
												<%= f.text_field :zip, :class => 'form-control input-mask-zip' %>
											</span>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<strong>Primary Phone*</strong>
											<span class="block input-icon input-icon-right">
												<%= f.text_field :primaryPhone, :class => 'form-control input-mask-phone' %>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									Primary Email
									<span class="block input-icon input-icon-right">
										<%= f.text_field :primaryEmail, :class => 'form-control' %>
									</span>	
								</div>

								<div class="form-group">
									Secondary Email
									<span class="block input-icon input-icon-right">
										<%= f.text_field :secondaryEmail, :class => 'form-control' %>
									</span>	
								</div>

							</div>

							<div class="col-xs-6">

								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											Website Link
											<span class="block input-icon input-icon-right">
												<%= f.text_field :websiteLink, :class => 'form-control' %>
											</span>	
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											Facebook Link
											<span class="block input-icon input-icon-right">
												<%= f.text_field :facebookLink, :class => 'form-control' %>
											</span>	
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											Twitter Link
											<span class="block input-icon input-icon-right">
												<%= f.text_field :twitterLink, :class => 'form-control' %>
											</span>	
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											Google+ Link
											<span class="block input-icon input-icon-right">
												<%= f.text_field :googleLink, :class => 'form-control' %>
											</span>	
										</div>
									</div>
								</div>

								<div class="row">
									
									<div class="col-xs-12">
										<div class="form-group">
											Secondary Phone
											<span class="block input-icon input-icon-right">
												<%= f.text_field :secondaryPhone, :class => 'form-control input-mask-phone' %>
											</span>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											Fax
											<span class="block input-icon input-icon-right">
												<%= f.text_field :fax, :class => 'form-control input-mask-fax' %>
											</span>	
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										&nbsp;
										<button type='submit' class="btn btn-sm btn-success btn-block">Save</button>
									</div>
								</div>

							</div>	
						</div>

					</fieldset>

				</div>

			</div>

		</div>

	</div>

	<div class="col-lg-5">

		<div class="center">
			<h2>Adding a new location</h2>
		</div>

		<p>Your business location is the primary way that buyers can see who and where you are. After adding this information you will be able to start showcasing featured items for this location.</p>

		<p>If this is your first location, you are not required to add a location name, the name of your company will be used instead. For any additional locations you add you will need to provide a store name (or number) that is visible to other users that will help identify each of your locations from each other.</p>

		<p>All of this information can be updated later, and you'll have time to view and update your location profile before it goes live for other users to see. The more information you provide, the better your profile will look, and the easier it will be for landscapers to find and get in contact with you.</p>

		<p>If you have any questions or feedback feel free to email <a href="mailto:tech@landspecpro.com">tech@landspecpro.com</a>.</p>

	</div>

</div>

<% end %>

<%= render 'layouts/sidebarend' %>


<script type="text/javascript">

	$(applyChosenStyle());
	$(applyMasks());

	<% if params[:location_required] %>
		$(showWarningMessageGritter('You need to add location information before you can access most features of LandSpec Pro.'));
	<% end %>

</script>