<%= render 'layouts/sidebar' %>

	<div class="span6 offset1">
		<%= form_for @location do |f| %>
		<div class="widget-box">
			<div class="widget-header header-color-blue">
				<h5 class="bigger lighter"><i class="icon-globe"></i> New Location Information</h5>
				<div class="widget-toolbar">
					<button type="submit" class="btn btn-mini btn-inverse no-radius white"><i class="icon-save"></i> Add</button>
				</div>
			</div>

			<div class="widget-body">

				<div class="widget-main">

					<!-- Display error messages as alerts -->
					<% @location.errors.each do |field, msg| %>
						<div class="alert alert-error center">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						  <strong>Error! </strong> <%= msg %>
						</div>
					<% end %>

					<fieldset>

						<div class="row-fluid">
							<div class="span6">

								<strong>Location Name*</strong>
								<span class="block input-icon input-icon-right">
									<%= f.text_field :locName, :class => 'span12', :value => @location.locName %>
								</span>	

								<strong>Street 1*</strong>
								<span class="block input-icon input-icon-right">
									<%= f.text_field :address1, :class => 'span12', :value => @location.address1 %>
								</span>	

								<div class="row-fluid">
									<div class="span6">
										Street 2
										<span class="block input-icon input-icon-right">
											<%= f.text_field :address2, :class => 'span12', :value => @location.address2 %>
										</span>	
									</div>
									<div class="span6">
										<strong>City*</strong>
										<span class="block input-icon input-icon-right">
											<%= f.text_field :city, :class => 'span12', :value => @location.city %>
										</span>
									</div>
								</div>

								<div class="row-fluid">
									<div class="span6">
										<strong>State*</strong>
										<span class="block input-icon input-icon-right">
											<%= f.text_field :state, :class => 'span12', :value => @location.state %>
										</span>
									</div>
									<div class="span6">
										<strong>Zip Code*</strong>
										<span class="block input-icon input-icon-right">
											<%= f.text_field :zip, :class => 'span12', :value => @location.zip %>
										</span>
									</div>
								</div>

								Primary Email
								<span class="block input-icon input-icon-right">
									<%= f.text_field :address2, :class => 'span12', :value => @location.primaryEmail %>
								</span>	

								Secondary Email
								<span class="block input-icon input-icon-right">
									<%= f.text_field :secondaryEmail, :class => 'span12', :value => @location.secondaryEmail %>
								</span>	

							</div>

							<div class="span6">

								<div class="row-fluid">
									<div class="span12">
										Website Link
										<span class="block input-icon input-icon-right">
											<%= f.text_field :websiteLink, :class => 'span12', :value => @location.websiteLink %>
										</span>	
									</div>
								</div>

								<div class="row-fluid">
									<div class="span12">
										Facebook Link
										<span class="block input-icon input-icon-right">
											<%= f.text_field :facebookLink, :class => 'span12', :value => @location.facebookLink %>
										</span>	
									</div>
								</div>

								<div class="row-fluid">
									<div class="span12">
										Twitter Link
										<span class="block input-icon input-icon-right">
											<%= f.text_field :twitterLink, :class => 'span12', :value => @location.twitterLink %>
										</span>	
									</div>
								</div>

								<div class="row-fluid">
									<div class="span12">
										Google+ Link
										<span class="block input-icon input-icon-right">
											<%= f.text_field :googleLink, :class => 'span12', :value => @location.googleLink %>
										</span>	
									</div>
								</div>

								<div class="row-fluid">
									<div class="span6">
										Primary Phone
										<span class="block input-icon input-icon-right">
											<%= f.text_field :primaryPhone, :class => 'span12', :value => @location.primaryPhone %>
										</span>
									</div>
									<div class="span6">
										Secondary Phone
										<span class="block input-icon input-icon-right">
											<%= f.text_field :secondaryPhone, :class => 'span12', :value => @location.secondaryPhone %>
										</span>
									</div>
								</div>

								<div class="row-fluid">
									<div class="span6">
										Fax
										<span class="block input-icon input-icon-right">
											<%= f.text_field :fax, :class => 'span12', :value => @location.fax %>
										</span>	
									</div>
								</div>

							</div>	
						</div>

					</fieldset>

				</div>

			</div>

		</div>

	</div>

<% end %>

<%= render 'layouts/sidebarend' %>




	<script type="text/javascript">

		<% if params[:new_user_message] %>
			$(document).ready(newUserMessage());

			function newUserMessage(){
				$.gritter.add({
					title: 'Add a new location!',
					text: 'LandSpec Pro allows you to have one or multiple locations set up for your company. You\'ll need to add your first location so other landscape professionals can find you. You can add more locations at any time.',
					sticky: true,
					class_name: 'gritter-warning gritter-dark',
				});
			}
		<% end %>
		
	</script>
