<%= render 'layouts/sidebar' %>

<%= render 'search' %>

<div class="span8">

	<% unless @locations.nil? %>
		<% @locations.each do |l| %>
			<a style="font-size:15px;" href=<%= locations_view_url(:id => l.id) %>><%= l.locName %></a><br/>
		<% end %>
	<% end %>
	
</div>
<%= render 'layouts/sidebarend' %>


<script type="text/javascript">

	$(document).ready(chosenf())

	function chosenf(){
	  $(".chzn-select").chosen();
	}


</script>