<%= render 'layouts/sidebar' %>

<% if @locations.nil? and @otherlocations.nil? %>
	<%= render 'locations/layouts_search/searchbar' %>
	<%= render 'locations/layouts_search/searchdefault_highlight' %>
<% else %>
	<%= render 'locations/layouts_search/searchbar' %>
	<div class="row-fluid">
		<div class="span12">
			<% if @locations.count == 0 and @otherlocations.count == 0 %>
				<div class="center"><br/>
					<h3>0 locations were found!</h3>
				</div>
			<% else %>
				<%= render 'locations/layouts_search/searchresults_list' %>
			<% end %>
		</div>
	</div>
<% end %>

<%= render 'layouts/sidebarend' %>


<script type="text/javascript">

	
	$(applyChosenStyle());
	$(applyColorbox());
	$(applyPopovers());

</script>