<div class="container center">
	<table border="1">
			<tr>
				<th>Location Name</th>
				<th>Primary Phone</th>
				<th>Secondary Phone</th>
				<th>Fax</th>
				<th>Address 1</th>
				<th>Address 2</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Primary Email</th>
				<th>Secondary Email</th>
			</tr>
			<tr>
				<td><%= @location.locName %></td>
				<td><%= @location.primaryPhone %></td>
				<td><%= @location.secondaryPhone %></td>
				<td><%= @location.fax %></td>
				<td><%= @location.address1 %></td>
				<td><%= @location.address2 %></td>
				<td><%= @location.city %></td>
				<td><%= @location.state %></td>
				<td><%= @location.zip %></td>
				<td><%= @location.primaryEmail %></td>
				<td><%= @location.secondaryEmail %></td>
			</tr>
		</table>
</div>