<div class="container center">
	<h3>Current Location:</h3>
	<table border="1" style="width: 100%;">
			<tr>
				<th>Location Name</th>
				<th>Primary Phone</th>
				<th>Secondary Phone</th>
				<th>Fax</th>
				<th>Address 1</th>
				<th>Address 2</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Primary Email</th>
				<th>Secondary Email</th>
			</tr>
			<tr>
				<td><%= @location.locName %></td>
				<td><%= @location.primaryPhone %></td>
				<td><%= @location.secondaryPhone %></td>
				<td><%= @location.fax %></td>
				<td><%= @location.address1 %></td>
				<td><%= @location.address2 %></td>
				<td><%= @location.city %></td>
				<td><%= @location.state %></td>
				<td><%= @location.zip %></td>
				<td><%= @location.primaryEmail %></td>
				<td><%= @location.secondaryEmail %></td>
			</tr>
		</table>

		<h3>All Locations:</h3>
		<table border="1" style-"width: 100%;">
			<tr>
				<th>Location Name</th>
				<th>Primary Phone</th>
				<th>Secondary Phone</th>
				<th>Fax</th>
				<th>Address 1</th>
				<th>Address 2</th>
				<th>City</th>
				<th>State</th>
				<th>Zip</th>
				<th>Primary Email</th>
				<th>Secondary Email</th>
			</tr>
			<% @user.bus_vendor.locations.each do |l| %>
				<tr>
					<td><%= l.locName %></td>
					<td><%= l.primaryPhone %></td>
					<td><%= l.secondaryPhone %></td>
					<td><%= l.fax %></td>
					<td><%= l.address1 %></td>
					<td><%= l.address2 %></td>
					<td><%= l.city %></td>
					<td><%= l.state %></td>
					<td><%= l.zip %></td>
					<td><%= l.primaryEmail %></td>
					<td><%= l.secondaryEmail %></td>
				</tr>
			<% end %>
		</table>
</div>