<%= render 'layouts/sidebar' %>



	<div class="row-fluid">
		<div class="span6">
			<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div class="widget-header header-color-green">
					<div class="center">
						<h3 class="lighter"><%= @location.bus_vendor.busName %></h3>
					</div>
				</div>
			</div>
		</div>
	</div>

			<div class="widget-box">
			<div class="widget-header">
				<h5 class="bigger lighter"><i class="icon-home"></i> <strong><%= @location.locName %></strong></h5>
				<div class="widget-toolbar">
					<% if @location.is_favorited(current_user) %>
						<a title="Remove from favorites" href=<%= locations_favorite_set_url(:id => params[:id]) %>><i  class="icon-bookmark" id="fav_icon"></i></a>
					<% else %>
						<a title="Add to favorites"  href=<%= locations_favorite_set_url(:id => params[:id]) %>><i  class="icon-bookmark-empty" id="fav_icon"></i></a>
					<% end %>
				</div>
			</div>

		<div class="widget-body">
			<div class="widget-main">
				<div class="row-fluid">
		

					<div class="pull-left">
						<%= image_tag @location.bus_vendor.logo.url(:medium), :width => '150px', :height => '150px' %>
					</div>

					<div class="span4">
						<div class="pull-left">
							<span>
								<%= link_to (simple_format(@location.address1 + " " + @location.address2 + "\n" + @location.city + ", " + @location.state + " " + @location.zip, :style => "font-size:15px; margin-top:10px; margin-left:5px;").html_safe), get_map_link_from_address(concat_address(@location)), :target => "_blank" %>

							</span>
						</div>
					</div>

				</div> <!-- end row-fluid -->
			</div> <!-- end widget-main -->
		</div> <!-- end widget-body -->

			</div> <!-- end widget-box -->

		</div> <!-- end span6 -->

		<div class="span4">
			<div class="row-fluid">
				<div class="span12">
					<div class="widget-box">
						<div class="widget-header header-color-green">
							<div class="center">
								<h3 class="lighter">Featured Items</h3>
							</div>
						</div>
					</div>
				</div>
			</div>

			<% @location.featured_items.where(:active => true).each do |fi| %>
				<div class="row-fluid">
					<div class="span12">

						<div class="widget-box">
							<div class="widget-header header-color-green">
								<h5 class="bigger lighter"><i class="icon-star"></i> <strong><%= fi.get_product.commonName %></strong></h5>
							</div>

							<div class="widget-body">
								<div class="widget-main">
									<div class="center">
										<%= image_tag fi.get_image.url(:medium) %>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			<% end %>

		</div>
	</div> <!-- end row-fluid -->

<%= render 'layouts/sidebarend' %>