<%= render 'layouts/sidebar' %>

<div>
	<div id="user-profile-1" class="user-profile row-fluid">
		<div class="span4 center">
			<div>
				
				<%= render 'locations/layouts_view/profileimage' %>

				<div class="space-4"></div>

				<%= render 'locations/layouts_view/sociallinks' %>

				<div class="space-10"></div>

				<div class="width-90 label label-info label-large arrowed-in arrowed-in-right">
					<div class="inline position-relative">
							<span class="white middle bigger-120"><%= @location.bus_vendor.busName %></span>
							<% unless @location.locName.blank? %>
								<br/><%= @location.locName %>
							<% end %>
					</div>
				</div>

			</div>

			<%= render 'locations/layouts_view/tagline' %>

			<div class="space-16"></div>

			<%= render 'locations/layouts_view/profilelinks' %>

			<div class="space-16"></div>

			<%= render 'locations/layouts_view/contactinfo' %>

			<div class="space-16"></div>

			<%= render 'locations/layouts_view/categories' %>
<!--
			<div class="hr hr12 dotted"></div>

			<div class="clearfix">
				<div>
					Favorited By:
					<br/>
					<span class="bigger-175 blue">
						<%= FavLocation.where(:location_id => @location.id, :active => true).count.to_s %>
					</span>
					<br />
					Users
				</div>
			</div>

			<div class="hr hr12 dotted"></div>
-->
		</div>

		<div class="span8">
			<% if not @location.active %>
				<div class="alert alert-error">
					<strong>Warning! </strong> This location is currently incative and only visible to you. Go to the edit location page to activate this so other users can view this page and find you in search results.
				</div>
			<% end %>

			<%= render 'locations/layouts_view/bioinfo.html.erb' %>

			<%= render 'locations/layouts_view/featureditems' %>		
			
		</div>
	</div>
</div>
<%= render 'layouts/sidebarend' %>

<script type="text/javascript">

	$(applyColorbox());
	$(applyPopovers());

</script>