<%= render 'layouts/sidebar' %>

	<div class="row-fluid">
		<div class="span6">

			<div class="widget-box">
			<div class="widget-header header-color-blue">
				<h5 class="bigger lighter"><i class="icon-home"></i> <%= @location.bus_vendor.busName %></h5>
				<div class="widget-toolbar">
					<% if @location.is_favorited(current_user) %>
						<a class="white" href=<%= locations_favorite_set_url(:id => params[:id]) %>><i  class="icon-bookmark" id="fav_icon"></i></a>
					<% else %>
						<a class="white" href=<%= locations_favorite_set_url(:id => params[:id]) %>><i  class="icon-bookmark-empty" id="fav_icon"></i></a>
					<% end %>
				</div>
			</div>

		<div class="widget-body">
			<div class="widget-main">
				<div class="row-fluid">
		

					<div class="pull-left">
						<%= image_tag @location.bus_vendor.logo.url(:thumb) %>
					</div>

					<div class="span4">
						<div class="pull-left">
							<p style="margin-top:10px; margin-left:5px;">
								<i style="font-size:20px;"><%= @location.locName %></i><br/>
								<span style="font-size:15px;">
									<%= @location.address1 %><br/>
									<% if @location.address2 != "" %>
										<%= @location.address2 %><br/>
									<% end %>
									<%= @location.city + ", " + @location.state + " " + @location.zip %>
								</span>
							</p>
						</div>
					</div>

				    <div class="span4">
				    	<div class="pull-left">
				    		<p style="margin-top:"

				</div> <!-- end row-fluid -->
			</div> <!-- end widget-main -->
		</div> <!-- end widget-body -->

			</div> <!-- end widget-box -->

		</div> <!-- end span8 -->
	</div> <!-- end row-fluid -->

<%= render 'layouts/sidebarend' %>