<!-- Allow users to set the title of their page. -->

<%- title @location.busName + " - Public Profile | LandSpec Pro" %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=414610375315267";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style>
	div.share iframe.twitter-share-button div.g-plusone { position: relative; top:3px; }
</style>

<div class="container">
	<div id="page-content" class="page-content">

		<!-- Company and Location Name Header -->
		<div class="page-header">
			<h1><%= @location.busName %>
				<% unless @location.locName.blank? %>
					<small>
						<i class='icon-double-angle-right'></i>
						&nbsp;<%= @location.locName %>
					</small>
				<% end %>
			</h1>
		</div>


		<% unless current_user %>
			<div class="row">
				<div class="col-xs-12">
					<div class="center">
						<div class="alert alert-success">
							<strong>Use the link above to register for LandSpec Pro.</strong>
						</div>
					</div>
				</div>
			</div>
		<% end %>


		<!-- Main Page Content -->
		<div>

			<div id="user-profile-1" class="user-profile row">

				<!-- LEFT SIDEBAR -->
				<div class="col-lg-4 col-xm-12 center">

					<!-- PROFILE IMAGE, SOCIAL LINKS, AND TITLE RIBBON THING -->
					<div>

						<%= render 'locations/layouts_view_public/profileimage' %>

						<div class="space-3"></div>

						<div class="width-90 label label-info label-large arrowed-in arrowed-in-right">
							<div class="inline position-relative">
									<span class="white middle bigger-120"><%= @location.busName %></span>
							</div>
						</div>

						<div class="space-10"></div>

						<div class="fb-share-button" data-href="<%= request.original_url %>" data-type="button" style="margin:0;"></div>

						<div class="g-plusone" data-size="medium" data-href="<%= request.original_url %>" data-annotation="none" style="margin:0;"></div>

						<!-- Place this tag after the last +1 button tag. -->
						<script type="text/javascript">
						  (function() {
						    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						    po.src = 'https://apis.google.com/js/plusone.js';
						    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>

						<!-- SHARE TO TWITTER -->
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= request.original_url %>" data-text="View <%= @location.busName %> on LandSpec Pro!" data-via="landspecpro" data-related="landspecpro" data-count="none" style="margin:0;">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

						<% if @locsettings.show_tagline and not @location.tagline.blank? %>
							<div style="text-align:center; font-style:oblique; padding-top:6px;">
								"<%= @location.tagline %>"
							</div>
						<% end %>

						<%= render 'locations/layouts_view_public/profilelinks' %>

						<div class="space-10"></div>

						<%= render 'locations/layouts_view_public/contactinfo' %>

						<div class="space-10"></div>

						<!-- SUPPLIER TYPES -->
						<% if @location.categories.where(:id => 3).count > 0 %>
							<div class="col-xs-12">
								<div class="center">
									<h2><strong>Supplier Type</strong></h2>
									<% @location.categories.where('hierarchy_level > ?', 1).each do |cat| %>
										<% if cat.is_descendant_of("Supplier Types") %>
											<h4><%= cat.cat_name %></h4>
										<% end %>
									<% end %>
								</div>
							</div>
						<% end %>

					</div>

				</div>

				<!-- MAIN BODY -->
				<div class="col-lg-8 col-sm-12">

					<!-- ABOUT LOCATION -->
					<% if @locsettings.show_about %>
						<%= render 'locations/layouts_view/bioinfo' %>
					<% end %>

					<!-- FEATURED ITEMS -->
					<% if @locsettings.show_featured_items and FeaturedItem.where(:location_id => @location.id, :active => true).count > 0 %>
						<%= render 'locations/layouts_view_public/featureditems' %>
					<% end %>

					<!-- CATEGORIES -->
					<% if @locsettings.show_categories %>
						<div class="space-10"></div>
						<%= render 'locations/layouts_view_public/categories' %>
					<% end %>

				</div>

			</div>

		</div>

	</div>

	<%= render 'layouts/footer' %>
</div>

<script type="text/javascript">
	$(applyPopovers());
	$(applyColorbox());
</script>