
<%= form_for @user, :html => {:id => 'form_update_account_info'} do |f| %>
	<div class="widget-box" style="min-width: 350px;">
		<div class="widget-header header-color-blue">
			<h5 class="bigger lighter"><i class="icon-cog"></i> Account Info</h5>
			<div class="widget-toolbar">
				<a href="javascript:{return true;}" onclick="document.getElementById('form_update_account_info').submit();" class="white" id="white-link"><i  class="icon-save" id="fav_icon"></i> Update</a>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main">


				<!-- Display error messages as alerts -->
				<% @user.errors.full_messages.each do |msg| %>
					<div class="alert alert-error">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <strong>Error! </strong> <%= msg %>
					</div>
				<% end %>

				<fieldset>

					<%= f.hidden_field :id, :value => @user.id %>

					<%= f.label 'Username:' %>
					<div class="block input-icon input-icon-right">
						<%= f.text_field :login, :class => 'span12', :value => @user.login, :readonly => true %>
					</div>

					<%= f.label 'Email:' %>
					<div class="block input-icon input-icon-right">
						<%= f.text_field :email, :class => 'span12', :value => @user.email, :readonly => true %>
					</div>

					<%= f.label 'User Type:' %>
					<span class="block input-icon input-icon-right">
						<%= f.text_field :userType, :class => 'span12', :value => @usertype, :readonly => true %>
					</span>
					<div class="pull-right">
						<a href=<%= user_password_reset_url %>>Reset Password</a>
					</div>
			

				</fieldset>


			</div> <!-- end widget-main -->
		</div> <!-- end widget-body -->

	</div> <!-- end widget-box -->
<% end %>