<form id="feedbackForm" method="post" action="/feedback/submit" class="form-horizontal" role="form">

	<div id="feedbackModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header header-color-green2">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" style="color:#fff;">Feedback</h4>
				</div>

				<div class="modal-body">
					<p>Your feedback is very important to us. We'd love to hear from you whether it be requested features, problems with the site, things you don't like, or even if you just want to tell us you love the site right now. We appreciate hearing from you.</p>

					<div class="row-fluid">

						<%= hidden_field_tag(:page_title,  content_for?(:title) ? content_for(:title) : "Can't get page title...") %>

						<div class="form-group">
							<label for="name" class="col-md-2 control-label"><strong>*Name:</strong></label>
							<div class="col-md-10">
								<%= text_field_tag :name, '', :id => "name", :class => "form-control" %>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="col-md-2 control-label"><strong>*Email:</strong></label>
							<div class="col-md-10">
								<% if current_user %>
									<%= text_field_tag :email, current_user.email, :readonly => 'true', :class => "form-control" %>
								<% else %>
									<%= text_field_tag :email, '' %>
								<% end %>
							</div>
						</div>

						<div class="form-group">
							<label for="feedback" class="col-md-2 control-label"><strong>*Feedback:</strong></label>
							<div class="col-md-10">
								<%= text_area_tag :feedback, '', :class => "form-control", :style => 'resize: none;', :rows => '10' %>
							</div>
						</div>

					</div>

				</div>

				<div class="modal-footer header-color-green2" style="boder-radius:none; margin-bottom:-5px;">
					<button class="btn btn-success" data-dismiss="modal">Close</button>
					<button class="btn btn-info" type="submit">Submit</button>
				</div>

			</div>
		</div>

	</div>

</form>

<script type="text/javascript">

	$("#feedbackForm").validate({
		rules: {
			name: "required",
			feedback: "required",
			email: {
				required: true,
				email: true
			},
		},
		errorElement: "span",
		wrapper: "span",
		errorPlacement: function(error, element){
			offset = element.offset();
			error.insertBefore(element);
			error.css('top', offset.top);
			error.css('color', '#CC0000');
		}
	});

</script>