<form id="feedbackForm" method="post" action="/feedback/submit">

	<div id="feedbackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	
		<div class="modal-header header-color-green2">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 style="color:#fff;">Feedback</h3>
		</div>

		<div class="modal-body">
			<p>Your feedback is very important to us. We'd love to hear from you whether it be requested features, problems with the site, things you don't like, or even if you just want to tell us how much you like the site. We appreciate hearing from you and are listening to our users feedback to help improve everything about LandSpec Pro.</p>

			<div class="row-fluid">

				<%= hidden_field_tag(:page_title,  content_for?(:title) ? content_for(:title) : "Can't get page title...") %>
				
				<div class="block input-icon input-icon-right">
					<strong>*Name:</strong> <%= text_field_tag :name, '', :id => "name", :class => 'span12' %>
				</div>

				<div class="block input-icon input-icon-right">
					<% if current_user %>
						<strong>*Email:</strong><%= text_field_tag :email, current_user.email, :class => 'span12', :readonly => 'true' %>
					<% else %>
						<strong>*Email:</strong><%= text_field_tag :email, '', :class => 'span12' %>
					<% end %>					
				</div>

				<span class="block input-icon input-icon-right">
					<strong>*Feedback:</strong><%= text_area_tag :feedback, '', :class => 'span12', :style => 'resize: none;', :rows => '6' %>
				</span>

			</div>

		</div>

		<div class="modal-footer header-color-green2" style="boder-radius:none; margin-bottom:-5px;">
			<button class="btn btn-success" data-dismiss="modal">Close</button>
			<button class="btn btn-info" type="submit">Submit</button>
		</div>

	</div>

</form>

<script type="text/javascript">

	$("#feedbackForm").validate({
		rules: {
			name: "required",
			feedback: "required",
			email: {
				required: true,
				email: true
			},
		},
		errorElement: "span",
		wrapper: "span",
		errorPlacement: function(error, element){
			offset = element.offset();
			error.insertBefore(element);
			error.css('top', offset.top);
			error.css('color', '#CC0000');
		}
	});

</script>