<% if controller.controller_name == 'locations' %>

	<% if controller.action_name == 'manage' %>

		<div class="pull-right">
			<div class="btn-group">
				<a href=<%= locations_new_url %>><button class="btn btn-primary btn-small" style="margin-right:10px;">Add New Location</button></a>
			</div>
		</div>

	<% elsif controller.action_name == 'edit' %>

		<div class="pull-right">
			<div class="btn-group">
				<a href=<%= locations_view_url(:id => params[:id]) %>><button class="btn btn-primary btn-small" style="margin-right:10px;">View Location</button></a>
				<a href=<%= locations_new_url %>><button class="btn btn-primary btn-small">Add New Location</button></a>
			</div>
		</div>

	<% elsif controller.action_name == 'view' %>

		<% if current_user.bus_vendor.locations.where(:id => params[:id]).count > 0 %>

			<div class="pull-right">
				<div class="btn-group">
					<a href=<%= locations_edit_url(:id => params[:id]) %>><button class="btn btn-primary btn-small" style="margin-right:10px;">Edit Location</button></a>
				</div>
			</div>

		<% end %>

	<% end %>

<% end %>

<% if controller.controller_name == 'products' and controller.action_name == 'search' %>

	<div class="pull-right">
		<div class="btn-group">
			<a href=<%= products_browse_all_url %>><button class="btn btn-primary btn-small" style="margin-right:10px;">Browse All Products</button></a>
		</div>
	</div>

<% end %>

<% if controller.controller_name == 'products' and controller.action_name == 'browseall' %>

	<div class="pull-right">
		<div class="btn-group">
			<a href=<%= products_search_url %>><button class="btn btn-primary btn-small" style="margin-right:10px;">Search Products</button></a>
		</div>
	</div>

<% end %>