<% if controller.controller_name == 'locations' %>

	<% if controller.action_name == 'manage' and current_user.is_vendor %>

		<div class="pull-right">
			<div class="btn-group">
				<a href=<%= locations_new_url %>><button class="btn btn-success btn-small" style="margin-right:10px;">Add New Location</button></a>
			</div>
		</div>

	<% elsif controller.action_name == 'edit' and current_user.is_vendor %>

		<div class="pull-right">
			<div class="btn-group">
				<a href=<%= locations_view_url(:id => params[:id]) %>><button class="btn btn-success btn-small" style="margin-right:10px;">View Location</button></a>
				<a href=<%= locations_new_url %>><button class="btn btn-success btn-small">Add New Location</button></a>
			</div>
		</div>

	<% elsif controller.action_name == 'view' and current_user.is_vendor %>

		<% if current_user.bus_vendor.locations.where(:id => params[:id]).count > 0 %>

			<div class="pull-right">
				<div class="btn-group">
					<a href=<%= locations_edit_url(:id => params[:id]) %>><button class="btn btn-success btn-small" style="margin-right:10px;">Edit Location</button></a>
				</div>
			</div>

		<% end %>

	<% end %>

<% end %>

<% if controller.controller_name == 'products' and controller.action_name == 'search' %>

	<div class="pull-right">
		<div class="btn-group">
			<% if params[:view] == 'list' %>
				<a href=<%= products_search_url(params.merge(:view => 'grid')) %>>
					<button class="btn btn-success btn-small" style="margin-right:10px;">Grid View</button>
				</a>
			<% elsif params[:view] == 'grid' %>
				<a href=<%= products_search_url(params.merge(:view => 'list')) %>>
					<button class="btn btn-success btn-small" style="margin-right:10px;">List View</button>
				</a>
			<% end %>
		</div>
	</div>

<% end %>

<% if controller.controller_name == 'products' and controller.action_name == 'browseall' %>

	<div class="pull-right">
		<div class="btn-group">
			<a href=<%= products_search_url %>><button class="btn btn-success btn-small" style="margin-right:10px;">Search Products</button></a>
		</div>
	</div>

<% end %>

<% if controller.controller_name == 'products' and controller.action_name == 'edit' %>

	<div class="pull-right">
		<div class="btn-group">
			<a href=<%= locations_featureditem_delete_url(:featured_item_id => @featureditem.id, :location_id => @featureditem.location_id) %> title="Delete" class="white" id="white-link">
				<button class="btn btn-success btn-small">Delete this Product</button>
			</a>
		</div>
	</div>

<% end %>

<% if controller.controller_name == 'favorites' and controller.action_name == 'products' %>

	<div class="pull-right">
		<div class="btn-group">
			<% if params[:view] == 'list' %>
				<a href=<%= favorites_products_url(params.merge(:view => 'grid')) %>>
					<button class="btn btn-success btn-small" style="margin-right:10px;">Grid View</button>
				</a>
			<% elsif params[:view] == 'grid' %>
				<a href=<%= favorites_products_url(params.merge(:view => 'list')) %>>
					<button class="btn btn-success btn-small" style="margin-right:10px;">List View</button>
				</a>
			<% end %>
		</div>
	</div>

<% end %>
