<!-- GUESTCODE -->
<!-- Set variables for easier naming -->
<% @cont = controller.controller_name %>
<% @act = controller.action_name %>

<li style="font-weight:bold;">

	OPTIONS:

	<!-- Edit Location -->
	<% if @cont == 'locations' and @act == 'edit' and current_user.is_supplier %>
		<% if @location.public_url_active and @location.active and not @location.public_url.blank? %>
			<a href="http://www.landspecpro.com/<%=@location.public_url %>" target="_blank">View Public Profile</a>
			|
		<% end %>
		<a href="<%= locations_view_url(:id => params[:id]) %>">View Location</a>

	<!-- Manage Locations -->
	<% elsif @cont == 'locations' and @act == 'manage' and current_user.is_supplier %>
		<% if current_user.id != 999 %>
			<a href="<%= locations_new_url %>">Add New Location</a>
		<% end %>

	<!-- View Locations -->
	<% elsif @cont == 'locations' and @act == 'view' %>
		<!-- TODO: Add in follow/favorite button here -->
		<% if current_user.is_supplier %>
			<% if current_user.user_detail.locations.where(:id => params[:id]).count > 0 %>
				<a href="<%= locations_edit_url(:id => params[:id]) %>">Edit Location</a>
				|
			<% end %>
		<% end %>
		<% if @location.public_url_active and @location.active and not @location.public_url.blank? %>
			<a href="http://www.landspecpro.com/<%= @location.public_url %>" target="_blank">View Public Profile</a>
			|
		<% end %>
		<% unless @location.user_detail_id == 0 %>
			<a href="<%= main_url(:supplier => UserDetail.find(@location.user_detail_id).id) %>">View Updates</a>
		<% end %>

	<!-- Edit Featured Item -->
	<% elsif @cont == 'products' and @act == 'edit' %>
		<a data-toggle="modal" href="<%= '#' + @featureditem.id.to_s + 'productInfoModal' %>" title="View">Preview</a>
		|
		<a href="<%= locations_featureditem_delete_url(:featured_item_id => @featureditem.id, :location_id => @featureditem.location_id) %>">Delete this Product</a>

	<!-- Delete Featured Item -->
	<% elsif @cont == 'locations' and @act == 'delete_featureditem' %>
		<a href="<%= session[:return_to] %>">Cancel</a>

	<!-- Admin Pages -->
	<% elsif @cont == 'admin' %>
		<a href="<%= admin_users_add_url %>">Add New Users</a>
		|
		<a href="<%= admin_locations_add_url %>">Add New Locations</a>

	<!-- Default to something for all other pages -->
	<% else %>
		<% if current_user.is_supplier %>
			<a href="<%= locations_manage_url %>">Profile</a>
			|
		<% end %>
		<a href="<%= user_details_edit_url %>">User Info</a>
		|
		<a href="<%= account_url %>">Manage Account</a>
		|
		<a href="<%= logout_url %>">Logout</a>
	<% end %>

</li>