<div class="main-container container-fluid">
		<a href="#" class="menu-toggler" id="menu-toggler"><span class="menu-text"></span></a><!-- menu toggler -->

		<div id="sidebar" class="sidebar">
			
			<!--
			<div class="sidebar-shortcuts" id="sidebar-shortcuts">
				<div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">
					<button class="btn btn-small btn-success"><i class="icon-signal"></i></button>
					<button class="btn btn-small btn-info"><i class="icon-pencil"></i></button>
					<button class="btn btn-small btn-warning"><i class="icon-group"></i></button>
					<button class="btn btn-small btn-danger"><i class="icon-cogs"></i></button>
				</div>
				<div id="sidebar-shortcuts-mini" class="sidebar-shortcuts-mini">
					<span class="btn btn-success"></span>
					<span class="btn btn-info"></span>
					<span class="btn btn-warning"></span>
					<span class="btn btn-danger"></span>
				</div>
			</div><!-- #sidebar-shortcuts -->

			<ul class="nav nav-list">

				<% if current_user.is_vendor %>

					<% if controller.controller_name == 'locations' %>
						<li class="active">
					<% else %>
						<li>
					<% end %>
						<a href=<%= locations_manage_url %>>
							<i class="icon-globe"></i>
							<span>Manage</span>
						</a>
					</li>
				<% end %>

				<% if controller.controller_name == 'search' %>
					<li class="active open">
				<% else %>
					<li>
				<% end %>
						<a href="#" class="dropdown-toggle">
							<i class="icon-search"></i>
							<span class="menu-text">Search</span>
							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">

						<% if controller.action_name == 'product' %>
							<li class="active">
						<% else %>
							<li>
						<% end %>
								<a href=<%= search_product_url %>><i class="icon-double-angle-right"></i> Products</a>
							</li>
						<% if controller.action_name == 'supplier' %>
							<li class="active">
						<% else %>
							<li>
						<% end %>
								<a href=<%= search_supplier_url %>><i class="icon-double-angle-right"></i> Suppliers</a>
							</li>
						</ul>

					</li>

				<% if controller.controller_name == 'favorites' %>
					<li class="active open">
				<% else %>
					<li>
				<% end %>
						<a href="#" class="dropdown-toggle">
							<i class="icon-star"></i>
							<span class="menu-text">Favorites</span>
							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">

						<% if controller.controller_name == 'favorites' and controller.action_name == 'products' %>
							<li class="active">
						<% else %>
							<li>
						<% end %>
								<a href=<%= favorites_products_url %>><i class="icon-double-angle-right"></i> Products</a>
							</li>
						<% if controller.controller_name == 'favorites' and controller.action_name == 'vendors' %>
							<li class="active">
						<% else %>
							<li>
						<% end %>
								<a href=<%= favorites_vendors_url %>><i class="icon-double-angle-right"></i> Suppliers</a>
							</li>
						</ul>
					</li>

				<% if (controller.controller_name == 'bus_vendors' || controller.controller_name == 'bus_buyers') and (controller.action_name == 'manage_company' || controller.action_name == 'update') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
					<a href=<%= account_company_url %>>
						<i class="icon-briefcase"></i>
						<span>Company</span>
					</a>
				</li>

				<% if ( (controller.controller_name == 'bus_vendors' || controller.controller_name == 'bus_buyers') and controller.action_name == 'manage' ) or (controller.controller_name == 'users' and controller.action_name == 'update') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
					<a href=<%= account_url %>>
						<i class="icon-cog"></i>
						<span>Account</span>
					</a>
				</li>
								<!--
					  <a href="#" class="dropdown-toggle" >
						<i class="icon-globe"></i>
						<span>Locations</span>
						<b class="arrow icon-angle-down"></b>
					  </a>
					  <ul class="submenu">

					<% if controller.controller_name == 'locations' and controller.action_name == 'manage' %>
						<li class="active">
					<% else %>
						<li>
					<% end %>
							<a href=<%= locations_manage_url %>><i class="icon-double-angle-right"></i> Manage</a>
						</li>
					<% if controller.controller_name == 'locations' and controller.action_name == 'new' %>
						<li class="active">
					<% else %>
						<li>
					<% end %>
							<a href=<%= locations_new_url %>><i class="icon-double-angle-right"></i> New</a>
						</li>
					  </ul>
					</li>
				-->

				

			</ul><!--/.nav-list-->

			<div class="sidebar-collapse" id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>


		</div><!--/#sidebar-->

	
		<div id="main-content" class="main-content">

				<div id="page-content" class="page-content">

					<div class="page-header position-relative row-fluid">

						<h1><%= get_page_title %> 
							<% unless get_page_subtitle == '' %>
								<small>
									<i class='icon-double-angle-right'></i>
									<%=get_page_subtitle %>
								</small>
							<% end %>

							<%= render 'layouts/headeraction' %>

						
						
					</div><!--/page-header-->

					<div class="row-fluid">
						<div class="clearfix">

<!-- PAGE CONTENT BEGINS HERE -->
<!-- PAGE CONTENT ENDS HERE -->