<div class="main-container container-fluid">
		<a href="#" class="menu-toggler hidden-sm hidden-xs" id="menu-toggler"><span class="menu-text"></span></a><!-- menu toggler -->

		<div id="sidebar" class="sidebar hidden-sm hidden-xs" style="position:fixed;">
			
			<!--
			<div class="sidebar-shortcuts" id="sidebar-shortcuts">
				<div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">
					<button class="btn btn-sm btn-success"><i class="icon-signal"></i></button>
					<button class="btn btn-sm btn-info"><i class="icon-pencil"></i></button>
					<button class="btn btn-sm btn-warning"><i class="icon-group"></i></button>
					<button class="btn btn-sm btn-danger"><i class="icon-cogs"></i></button>
				</div>
				<div id="sidebar-shortcuts-mini" class="sidebar-shortcuts-mini">
					<span class="btn btn-success"></span>
					<span class="btn btn-info"></span>
					<span class="btn btn-warning"></span>
					<span class="btn btn-danger"></span>
				</div>
			</div><!-- #sidebar-shortcuts -->

			<ul class="nav nav-list">

				<% if controller.controller_name == 'news_feed' %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
					<a href="<%= main_url %>">
						<i class="icon-hdd"></i>
						<span class="menu-text">News Feed</span>
					</a>
				</li>

				<% if current_user.is_supplier %>

					<% if controller.controller_name == 'locations' %>
						<li class="active">
					<% else %>
						<li>
					<% end %>
						<a href=<%= locations_manage_url %>>
							<i class="icon-globe"></i>
							<span class="menu-text">Profile</span>
						</a>
					</li>
				<% end %>

				<% if controller.controller_name == 'search' %>
					<li class="active open">
				<% else %>
					<li>
				<% end %>
						<a href="#" class="dropdown-toggle">
							<i class="icon-search"></i>
							<span class="menu-text">Search</span>
							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">

						<% if controller.action_name == 'product' %>
							<li class="active">
						<% else %>
							<li>
						<% end %>
								<a href=<%= search_product_url(:current_location => true, :sort => 'newest_first') %>><i class="icon-double-angle-right"></i> Featured Products</a>
							</li>
						<% if controller.action_name == 'supplier' %>
							<li class="active">
						<% else %>
							<li>
						<% end %>
								<a href=<%= search_supplier_url(:current_location => true) %>><i class="icon-double-angle-right"></i> Suppliers</a>
							</li>
						</ul>

					</li>

				<% if controller.controller_name == 'user_details' and (controller.action_name == 'edit' or controller.action_name == 'update') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
					<a href=<%= user_details_edit_url %>>
						<i class="icon-briefcase"></i>
						<span class="menu-text">User Info</span>
					</a>
				</li>

				<% if controller.controller_name == 'users' and (controller.action_name == 'account' or controller.action_name == 'update') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
					<a href=<%= account_url %>>
						<i class="icon-cog"></i>
						<span class="menu-text">Account</span>
					</a>
				</li>

				<% if current_user.login == 'ohmatt' or current_user.login == 'timwolfedesign' or current_user.login == 'timwolfedesign1' %>
					<% if controller.controller_name == 'admin' %>
						<li class="active">
					<% else %>
						<li>
					<% end %>
							<a href="#" class="dropdown-toggle">
								<i class="icon-bar-chart"></i>
								<span class="menu-text">Admin Tools</span>
								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">

							<% if controller.controller_name == 'admin' and controller.action_name == 'main' %>
								<li class="active">
							<% else %>
								<li>
							<% end %>
									<a href="<%= admin_dashboard_main_url %>"><i class="icon-double-angle-right"></i> Main Dashboard</a>
								</li>

							<% if controller.action_name == 'dashboard_users' or controller.action_name == 'user_view' %>
								<li class="active">
							<% else %>
								<li>
							<% end %>
									<a href="<%= admin_users_url %>"><i class="icon-double-angle-right"></i> Users Dashboard</a>
								</li>

							<% if controller.action_name == 'dashboard_weekly' %>
								<li class="active">
							<% else %>
								<li>
							<% end %>
									<a href="<%= admin_weekly_url %>"><i class="icon-double-angle-right"></i> Weekly Dashboard</a>
								</li>

							<% if controller.action_name == 'dashboard_email' %>
								<li class="active">
							<% else %>
								<li>
							<% end %>
									<a href="<%= admin_email_url %>"><i class="icon-double-angle-right"></i> Email Dashboard</a>
								</li>

							<% if controller.action_name == 'dashboard_add_users' or controller.action_name == 'add_new_user' %>
								<li class="active">
							<% else %>
								<li>
							<% end %>
									<a href="<%= admin_users_add_url %>"><i class="icon-double-angle-right"></i><i class="icon-plus"></i>&nbsp;&nbsp;Add Users</a>
								</li>

							<% if controller.action_name == 'dashboard_add_locations' %>
								<li class="active">
							<% else %>
								<li>
							<% end %>
									<a href="<%= admin_locations_add_url %>"><i class="icon-double-angle-right"></i><i class="icon-plus"></i>&nbsp;&nbsp;Add Locations</a>
								</li>


							</ul>
						</li>
				<% end %>

			</ul><!--/.nav-list-->

			<div class="sidebar-collapse" id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>


		</div><!--/#sidebar-->

	
		<div class="main-content">

			<div class="breadcrumbs hidden-sm hidden-xs">


				<ul class="breadcrumb">

					<%= render 'layouts/headeraction' %>

				</ul>
			</div>

			<div class="page-content">

				<div class="page-header">

					<h1><%= get_page_title %> 
						<% unless get_page_subtitle == '' %>
							<small>
								<i class='icon-double-angle-right'></i>
								<%=get_page_subtitle %>
							</small>
						<% end %>
					
				</div><!--/page-header-->

				<div class="row-fluid">
					<div class="clearfix">

<!-- PAGE CONTENT BEGINS HERE -->
<!-- PAGE CONTENT ENDS HERE -->