<!DOCTYPE html>
<html>
<head>
  <title>LandSpec Pro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if IE 7]>
    <link rel="stylesheet" href="/stylesheets/font-awesome-ie7.min.css" />
  <![endif]-->

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/stylesheets/ace-ie.min.css" />
  <![endif]-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41557270-1', 'landspecpro.com');
    ga('send', 'pageview');

  </script>

  <style>

    #button-request-invite{
      padding-top:10px;
      margin-top:-12px;
      padding-bottom:10px;
      margin-bottom:-10px;
    }

    @media (max-width: 422px) {

      #button-request-invite{
        margin-top:0;
        margin-bottom:0;
        padding-top:0;
        padding-bottom:0;
      }

    }

  </style>
  
</head>
<body>
  

  <div class="navbar navbar-inverse">
    
    <div class="navbar-inner">
     <div class="container-fluid">
<span id="top"></span>

      <a class="brand" href=<%= home_url %>><%= image_tag("brand-image.png", :id => "brand-image") %> <span id="brand-title">LandSpec Pro</span></a>
      <ul class="nav ace-nav pull-right">
        <% if current_user %>
          <li class="green">

            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
              <span class="user-info">
                <small>Logged in as,</small>
                <center><%= current_user.login %></center>
              </span>

              <i class="icon-caret-down"></i>
            </a>

            <ul id="user_menu" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
              <% if current_user.is_vendor %>
                <li><a href=<%= locations_manage_url %>><i class="icon-globe"></i> Manage</a></li>
              <% end %>

              <li><a href="<%= account_company_url %>"><i class="icon-briefcase"></i> Company</a></li>

              <li><a href=<%= account_url %>><i class="icon-cog"></i> Account</a></li>

              <li class="dropdown-submenu">
                <a href="#"><i class="icon-search"> Search</i></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= products_search_url %>">Products</a></li>
                  <li><a href="<%= locations_search_url %>">Suppliers</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#"><i class="icon-star"> Favorites</i></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= favorites_products_url %>">Products</a></li>
                  <li><a href="<%= favorites_vendors_url %>">Suppliers</a></li>
                </ul>
              </li>

              <li class="divider"></li>
              <li><a href=<%= help_url %>><i class="icon-question-sign"></i> Help</a></li>
              <li><a href=<%= logout_url %>><i class="icon-off"></i> Logout</a></li>
            </ul>
          </li>
        <% else %>
          <li class="green">
            <%= link_to "Login", login_url %>
          </li>
          <li class="blue" id="button-request-invite">
            <%= link_to "Request Invite", invite_request_url %>
          </li>

        <% end %>

      </ul><!--/.ace-nav-->

     </div><!--/.container-fluid-->
    </div><!--/.navbar-inner-->
  </div><!--/.navbar-->

  <!-- Customer IO global variable. Make sure this works. -->
  <%  if ENV['CIO_ENVIRONMENT'].to_s == 'prod'
        $customerio = Customerio::Client.new("8fd65e5d2b490719bc35", "870b715f5b99bdb6ee9e")
      else
        $customerio = Customerio::Client.new("b527a3e6bc1bfbe9e176", "3c4823a96f8d4e6de7e5")   
      end %>

  <%= yield %>

  <div id="feedbackFooter" class="navbar navbar-fixed-bottom">

    <div class="pull-right" style="margin-right:10px;">
      
      <a class="btn btn-mini btn-primary" data-toggle="modal" href="#feedbackModal"><i class='icon-comments'></i> Feedback</a>
    </div>
        
  </div>

  <%= render 'layouts/feedbackmodal' %>

</div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  window.jQuery || document.write("<script src='assets/js/jquery-1.9.1.min.js'>\x3C/script>");
  </script>

  <!--[if lt IE 9]>
    <script type="text/javascript" src="/javascripts/excanvas.min.js"></script>
  <![endif]-->

</body>
</html>