<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "LandSpec Pro" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="landscapers, suppliers, landscaping, buyers, landscapes, landscape suppliers, network, supply network, materials, plants, professionals" />
  <meta name="description" content=<%= content_for?(:description) ? content_for(:description) : "A growing supply network for landscape industry professionals." %> />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if IE 7]>
    <link rel="stylesheet" href="/stylesheets/font-awesome-ie7.min.css" />
  <![endif]-->

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/stylesheets/ace-ie.min.css" />
  <![endif]-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41557270-1', 'landspecpro.com');
    ga('send', 'pageview');

  </script>

  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGSTtn0qJVuX30ZLet1Q39O-bVg4soYZI&sensor=true">
  </script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">

</head>
<body>

  <%= render 'layouts/navbar' %>

  <!-- Customer IO global variable. Make sure this works. -->
  <%  if ENV['CIO_ENVIRONMENT'].to_s == 'prod'
        $customerio = Customerio::Client.new("8fd65e5d2b490719bc35", "870b715f5b99bdb6ee9e")
      else
        $customerio = Customerio::Client.new("b527a3e6bc1bfbe9e176", "3c4823a96f8d4e6de7e5")   
      end %>

  <%= yield %>

<!--
  <div id="feedbackFooter" class="navbar navbar-default navbar-fixed-bottom" style="background:transparent;">

    <div class="pull-right" style="margin-right:10px;">
      
      <a class="btn btn-xs btn-primary" data-toggle="modal" ><i class='icon-comments'></i> Feedback</a>
    </div>
        
  </div>
-->
  

</div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  window.jQuery || document.write("<script src='assets/js/jquery-1.9.1.min.js'>\x3C/script>");
  </script>

  <!--[if lt IE 9]>
    <script type="text/javascript" src="/javascripts/excanvas.min.js"></script>
  <![endif]-->

</body>
</html>