<!DOCTYPE html>
<html>
<head>
  <title>LspAlpha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container">

	      <ul class="nav">

	        <li>
	          <!-- Be sure to leave the brand out there if you want it shown -->
	          <a class="brand" href="#"><%= image_tag("brand-image.png", :id => "brand-image") %> LandSpec Pro</a>
	        </li>
	        
	      </ul>

	    </div>
	  </div>
	</div>

<%= yield %>

</body>
</html>
