<!DOCTYPE html>
<html>
<head>
  <title>LandSpec Pro</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container">
	    	<ul class="nav">
	    		<li>
	    			<a class="brand" href=<%= root_url %>><%= image_tag("brand-image.png", :id => "brand-image") %> LandSpec Pro</a>
	    		</li>
	    	</ul>

    		<% if current_user.nil? %>
	    		<ul class="nav pull-right">
	    			<li><%= link_to "Register", register_url %></li>
	    			<li><%= link_to "Login", login_url %></li>
	    		</ul>
	    	<% end %>

	    	<% if current_user %>
	    		<ul class="nav pull-right">
					<li class="dropdown" id="account-dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<%= current_user.login %> <b class="caret"></b></a>


							<!-- add back in class="dropdown-menu" to the <ul> tag here.
								This makes it so you have to click, right now it's hover in that area -->
						<ul class="dropdown-menu">
							<li><%= link_to "Dashboard", business_vendor_dashboard_url %></li>
							<li><%= link_to "Logout", logout_url %></li>
							<!--<li class="divider"></li>-->
						</ul>
					</li>
				</ul>
			<% end %>

	    </div>
	  </div>
	</div>
<!--
	<div class="navbar navbar-fixed-bottom navbar-inverse center">
		<div class="navbar-inner">
	    	<div class="container">
	    		<ul class="nav pull-right">
	    			<li><%= link_to "Contact Us", contact_url %></li>
	    			<li><%= link_to "About", about_url %></li>
	    		</ul>
	    	</div>
	    </div>
	</div>
-->
<%= yield %>

</body>
</html>